blueprints/web-services/flows/r1.0/global-subflow-async-events.flow
{
  "id": "78d32ab1.ca8c04",
  "type": "subflow",
  "name": "Async Events",
  "info": "",
  "in": [
    {
      "x": 197,
      "y": 153,
      "wires": [
        {
          "id": "ed51b3f2.faa4f"
        },
        {
          "id": "fb88b106.0a1f5"
        },
        {
          "id": "34ca5a39.444d36"
        }
      ]
    }
  ],
  "out": [
    {
      "x": 541,
      "y": 154,
      "wires": [
        {
          "id": "fb88b106.0a1f5",
          "port": 0
        }
      ]
    }
  ],
  "configs": [
    {
      "id": "c3f3e417.af7f68",
      "type": "remote-server",
      "z": "78d32ab1.ca8c04",
      "name": "mon-elastic",
      "host": "http://10.136.11.43:9200"
    }
  ],
  "nodes": [
    {
      "id": "ed51b3f2.faa4f",
      "type": "debug",
      "z": "78d32ab1.ca8c04",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 382.5,
      "y": 95,
      "wires": [

      ]
    },
    {
      "id": "fb88b106.0a1f5",
      "type": "function",
      "z": "78d32ab1.ca8c04",
      "name": "Process Event",
      "func": "if (msg.statusCode >= 200 && msg.statusCode < 300) {\n    node.warn(\"SUCCESS [\" + msg.topic + \"] \" + JSON.stringify(msg.payload));\n} else {\n    node.warn(\"FAILURE [\" + msg.topic + \"]\" + JSON.stringify(msg.payload));\n}\nmsg.payload = {\n    \"statusCode\" : msg.statusCode,\n    \"result\" : msg.payload\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 376.5,
      "y": 154,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "68e752dc.2a343c",
      "type": "es-create",
      "z": "78d32ab1.ca8c04",
      "name": "",
      "documentIndex": "flowsgateway",
      "documentType": "metrics",
      "server": "c3f3e417.af7f68",
      "x": 478.5,
      "y": 261,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "34ca5a39.444d36",
      "type": "function",
      "z": "78d32ab1.ca8c04",
      "name": "",
      "func": "msg.payload = {\n    \"statusCode\" : msg.statusCode,\n    \"result\" : msg.payload,\n    \"@timestamp\" : Date.now(),\n    \"triggerDate\" : new Date().toISOString()\n}\nmsg.documentType = msg.topic;\nmsg.documentId = msg._msgid;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 312.5,
      "y": 261,
      "wires": [
        [
          "68e752dc.2a343c",
          "777e7524.37916c"
        ]
      ]
    },
    {
      "id": "777e7524.37916c",
      "type": "debug",
      "z": "78d32ab1.ca8c04",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 416.5,
      "y": 315,
      "wires": [

      ]
    }
  ]
}