blueprints/web-services/flows/r1.0/nr-tab-versioning.flow
{
  "id": "875c2b37.1d0798",
  "label": "Versioning",
  "nodes": [
    {
      "id": "9e71ce8c.d68a9",
      "type": "http in",
      "z": "875c2b37.1d0798",
      "name": "",
      "url": "/versioning",
      "method": "post",
      "swaggerDoc": "",
      "x": 132.5,
      "y": 92,
      "wires": [
        [
          "e431f500.c8af88"
        ]
      ]
    },
    {
      "id": "5cbfcb3f.052a64",
      "type": "http response",
      "z": "875c2b37.1d0798",
      "name": "Response",
      "x": 610.5,
      "y": 149,
      "wires": [

      ]
    },
    {
      "id": "c8f3bdf7.9b27d",
      "type": "comment",
      "z": "875c2b37.1d0798",
      "name": "Major/Minor/Patch branching",
      "info": "\nWhen a new branch of the code is created, it should\ncause a new build and deploy pipeline to be created.\n\nNeed to choose the environments for the pipeline.\n\nIt should also register in Consul the service so that it\nis picked up by Fabio.\n",
      "x": 138.5,
      "y": 398,
      "wires": [

      ]
    },
    {
      "id": "24ee88ff.e124b8",
      "type": "function",
      "z": "875c2b37.1d0798",
      "name": "",
      "func": "msg.topic = 'new';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 317.5,
      "y": 146,
      "wires": [
        [
          "429afac5.f82bb4"
        ]
      ]
    },
    {
      "id": "429afac5.f82bb4",
      "type": "subflow:cfce5daf.36867",
      "z": "875c2b37.1d0798",
      "x": 470.5,
      "y": 149,
      "wires": [
        [
          "5cbfcb3f.052a64"
        ]
      ],
      "subflow": "cfce5daf.36867"
    },
    {
      "id": "60de5e6b.7c91d",
      "type": "http in",
      "z": "875c2b37.1d0798",
      "name": "",
      "url": "/versions",
      "method": "post",
      "swaggerDoc": "",
      "x": 100,
      "y": 214,
      "wires": [
        [
          "da2bf790.f14fd8"
        ]
      ]
    },
    {
      "id": "da2bf790.f14fd8",
      "type": "function",
      "z": "875c2b37.1d0798",
      "name": "",
      "func": "msg.topic = 'create';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 312,
      "y": 213,
      "wires": [
        [
          "429afac5.f82bb4"
        ]
      ]
    },
    {
      "id": "86400a70.338348",
      "type": "http in",
      "z": "875c2b37.1d0798",
      "name": "",
      "url": "/versions-cleanup",
      "method": "post",
      "swaggerDoc": "",
      "x": 132,
      "y": 270,
      "wires": [
        [
          "d3e47cee.efc7f"
        ]
      ]
    },
    {
      "id": "d3e47cee.efc7f",
      "type": "function",
      "z": "875c2b37.1d0798",
      "name": "",
      "func": "msg.topic = 'cleanup';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 314,
      "y": 269,
      "wires": [
        [
          "429afac5.f82bb4"
        ]
      ]
    },
    {
      "id": "e431f500.c8af88",
      "type": "json-schema",
      "z": "875c2b37.1d0798",
      "name": "",
      "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"ComponentVersion\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"name\": {\n            \"description\": \"Name of the component\",\n            \"type\": \"string\"\n        },\n        \"version\": {\n            \"description\": \"Baseline (default branch) version\",\n            \"type\": \"string\"\n        },\n        \"branch\": {\n            \"description\": \"Default Branch\",\n            \"type\": \"string\"\n        }\n    },\n    \"required\": [\"name\", \"branch\", \"version\"]\n}\n",
      "x": 335,
      "y": 51,
      "wires": [
        [
          "24ee88ff.e124b8"
        ]
      ]
    }
  ]
}