blueprints/innovation/flows/r3/global-subflow-rocket-chat-groups.flow
{
  "id": "3206ac46.8fc5e4",
  "type": "subflow",
  "name": "Rocket.Chat Groups",
  "info": "",
  "in": [
    {
      "x": 50,
      "y": 30,
      "wires": [
        {
          "id": "2f0d33f6.59d3ac"
        }
      ]
    }
  ],
  "out": [
    {
      "x": 922.2222213745117,
      "y": 299.9999942779541,
      "wires": [
        {
          "id": "b9406d77.b5896",
          "port": 0
        },
        {
          "id": "5b5ec790.f056b8",
          "port": 0
        },
        {
          "id": "e27e3c57.d1de6",
          "port": 0
        },
        {
          "id": "74af886f.114368",
          "port": 0
        }
      ]
    }
  ],
  "configs": [

  ],
  "nodes": [
    {
      "id": "959c7509.06f018",
      "type": "http request",
      "z": "3206ac46.8fc5e4",
      "name": "Login",
      "method": "POST",
      "ret": "obj",
      "url": "http://localhost:8780/api/login",
      "tls": "",
      "x": 395.5555419921875,
      "y": 122.22221374511719,
      "wires": [
        [
          "8c71ed65.7e45"
        ]
      ]
    },
    {
      "id": "2f0d33f6.59d3ac",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Prep Creds",
      "func": "msg.message = msg.payload;\nmsg.params = msg.req.params;\nmsg.payload = {\n    \"user\": \"admin\",\n    \"password\": \"admin1admin\"\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 235.5555419921875,
      "y": 124.22221374511719,
      "wires": [
        [
          "959c7509.06f018"
        ]
      ]
    },
    {
      "id": "8c71ed65.7e45",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Set Headers",
      "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.req_headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 564.5555419921875,
      "y": 124.22221374511719,
      "wires": [
        [
          "96ea9808.6b2d18"
        ]
      ]
    },
    {
      "id": "4b1d496.9abd5b8",
      "type": "http request",
      "z": "3206ac46.8fc5e4",
      "name": "Create Group",
      "method": "POST",
      "ret": "txt",
      "url": "http://localhost:8780/api/v1/groups.create",
      "tls": "",
      "x": 512.5555419921875,
      "y": 211.2222137451172,
      "wires": [
        [
          "48eea152.5f465"
        ]
      ]
    },
    {
      "id": "96cd0fcb.8d846",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Create Group",
      "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nmsg.payload = msg.message;\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 328.5555419921875,
      "y": 211.2222137451172,
      "wires": [
        [
          "4b1d496.9abd5b8"
        ]
      ]
    },
    {
      "id": "96ea9808.6b2d18",
      "type": "switch",
      "z": "3206ac46.8fc5e4",
      "name": "",
      "property": "topic",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "create-group",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "false",
      "outputs": 2,
      "x": 165.0555419921875,
      "y": 183.2222137451172,
      "wires": [
        [
          "96cd0fcb.8d846"
        ],
        [
          "e27e3c57.d1de6"
        ]
      ]
    },
    {
      "id": "b9406d77.b5896",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Success",
      "func": "msg.payload = '';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 801.0555419921875,
      "y": 204.2222137451172,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "73d3c736.c150a8",
      "type": "catch",
      "z": "3206ac46.8fc5e4",
      "name": "",
      "scope": null,
      "x": 622.0555419921875,
      "y": 471.2222137451172,
      "wires": [
        [
          "74af886f.114368"
        ]
      ]
    },
    {
      "id": "74af886f.114368",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Error",
      "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 750.5555419921875,
      "y": 471.2222137451172,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "48eea152.5f465",
      "type": "switch",
      "z": "3206ac46.8fc5e4",
      "name": "",
      "property": "statusCode",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "200",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "false",
      "outputs": 2,
      "x": 660.5555419921875,
      "y": 211.2222137451172,
      "wires": [
        [
          "b9406d77.b5896"
        ],
        [
          "5b5ec790.f056b8"
        ]
      ]
    },
    {
      "id": "5b5ec790.f056b8",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Error",
      "func": "msg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 791.5555419921875,
      "y": 242.2222137451172,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "e27e3c57.d1de6",
      "type": "function",
      "z": "3206ac46.8fc5e4",
      "name": "Invalid Topic",
      "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 631.0555419921875,
      "y": 432.2222137451172,
      "wires": [
        [

        ]
      ]
    }
  ]
}
