blueprints/innovation/flows/r3/nr-tab-slack-simulator.flow
{
  "id": "e0238ad5.2947a8",
  "label": "Slack Simulator",
  "nodes": [
    {
      "id": "e22072e4.1d607",
      "type": "http in",
      "z": "e0238ad5.2947a8",
      "name": "",
      "url": "/emu/slack",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 170.5,
      "y": 134,
      "wires": [
        [
          "6213e675.244b98",
          "b32ec11f.67322"
        ]
      ]
    },
    {
      "id": "6213e675.244b98",
      "type": "http response",
      "z": "e0238ad5.2947a8",
      "name": "",
      "statusCode": "",
      "headers": {
      },
      "x": 407.5,
      "y": 135,
      "wires": [

      ]
    },
    {
      "id": "b32ec11f.67322",
      "type": "debug",
      "z": "e0238ad5.2947a8",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 338.5,
      "y": 243,
      "wires": [

      ]
    },
    {
      "id": "a180255d.5e8a98",
      "type": "http in",
      "z": "e0238ad5.2947a8",
      "name": "Go.CD GitLab Compatibility",
      "url": "/v3/user",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 137.5,
      "y": 395,
      "wires": [
        [
          "8be521ec.b0423",
          "ad262b0f.980548"
        ]
      ]
    },
    {
      "id": "84e93199.6b90b",
      "type": "http response",
      "z": "e0238ad5.2947a8",
      "name": "",
      "statusCode": "",
      "headers": {
      },
      "x": 593,
      "y": 374,
      "wires": [

      ]
    },
    {
      "id": "8be521ec.b0423",
      "type": "function",
      "z": "e0238ad5.2947a8",
      "name": "",
      "func": "msg.payload = {\n    \"social-auth-manager\": {\n    \"name\": \"joe\",\n    \"email\": \"joe@gmail.com\",\n    \"username\": \"Joe\"\n    }\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 380.5,
      "y": 375,
      "wires": [
        [
          "58512f08.3ec95"
        ]
      ]
    },
    {
      "id": "ad262b0f.980548",
      "type": "debug",
      "z": "e0238ad5.2947a8",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 403.5,
      "y": 431,
      "wires": [

      ]
    },
    {
      "id": "58512f08.3ec95",
      "type": "json",
      "z": "e0238ad5.2947a8",
      "name": "",
      "pretty": false,
      "x": 517.5,
      "y": 320,
      "wires": [
        [
          "84e93199.6b90b"
        ]
      ]
    }
  ]
}
