blueprints/innovation/flows/r3/nr-tab-policies-users.flow
{
  "id": "7a514786.267ac8",
  "label": "Policies Users",
  "nodes": [
    {
      "id": "75153709.148b78",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "get-policies",
      "func": "msg.topic = 'get-policies'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 330.5,
      "y": 41,
      "wires": [
        [
          "494aa725.5dde68"
        ]
      ]
    },
    {
      "id": "be1cb6b3.e92c58",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/policies",
      "method": "get",
      "swaggerDoc": "",
      "x": 98.5,
      "y": 40,
      "wires": [
        [
          "75153709.148b78"
        ]
      ]
    },
    {
      "id": "f3a8d513.86a288",
      "type": "http response",
      "z": "7a514786.267ac8",
      "name": "",
      "x": 711.5,
      "y": 251,
      "wires": [

      ]
    },
    {
      "id": "65c7d186.e56a7",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "get-policy",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'get-policy'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 322,
      "y": 92,
      "wires": [
        [
          "494aa725.5dde68"
        ]
      ]
    },
    {
      "id": "80ee00a4.17989",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/policy/:id",
      "method": "get",
      "swaggerDoc": "",
      "x": 110,
      "y": 91,
      "wires": [
        [
          "65c7d186.e56a7"
        ]
      ]
    },
    {
      "id": "9624f510.f7f788",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "put-policy",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'put-policy'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 321,
      "y": 142,
      "wires": [
        [
          "494aa725.5dde68"
        ]
      ]
    },
    {
      "id": "be0363e.67f55a",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/policy/:id",
      "method": "put",
      "swaggerDoc": "",
      "x": 109,
      "y": 141,
      "wires": [
        [
          "9624f510.f7f788"
        ]
      ]
    },
    {
      "id": "d5ba39ca.671d78",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "delete-policy",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'delete-policy'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 330,
      "y": 192,
      "wires": [
        [
          "494aa725.5dde68"
        ]
      ]
    },
    {
      "id": "421bcef2.29f03",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/policy/:id",
      "method": "delete",
      "swaggerDoc": "",
      "x": 117,
      "y": 192,
      "wires": [
        [
          "d5ba39ca.671d78"
        ]
      ]
    },
    {
      "id": "1ef0db6e.0e38a5",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/users",
      "method": "get",
      "swaggerDoc": "",
      "x": 101,
      "y": 299,
      "wires": [
        [
          "4160b23d.efd4ac"
        ]
      ]
    },
    {
      "id": "4160b23d.efd4ac",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "get-users",
      "func": "msg.topic = 'get-users'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 322,
      "y": 291,
      "wires": [
        [
          "a35fa815.abde18"
        ]
      ]
    },
    {
      "id": "dd4a59e4.aa49a8",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "get-user",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'check:vault_user'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 327,
      "y": 348,
      "wires": [
        [
          "a35fa815.abde18"
        ]
      ]
    },
    {
      "id": "1a44eea6.c4c0b1",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/user/:id",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 105,
      "y": 342,
      "wires": [
        [
          "dd4a59e4.aa49a8"
        ]
      ]
    },
    {
      "id": "49e3de8a.e03b4",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "put-user",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'plus:vault_user'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 334,
      "y": 397,
      "wires": [
        [
          "a35fa815.abde18"
        ]
      ]
    },
    {
      "id": "76c65a8f.6b81e4",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/user/:id",
      "method": "put",
      "upload": false,
      "swaggerDoc": "",
      "x": 112,
      "y": 396,
      "wires": [
        [
          "49e3de8a.e03b4"
        ]
      ]
    },
    {
      "id": "c1e1c6b1.7f3d38",
      "type": "function",
      "z": "7a514786.267ac8",
      "name": "delete-user",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'minus:vault_user'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 345,
      "y": 447,
      "wires": [
        [
          "a35fa815.abde18"
        ]
      ]
    },
    {
      "id": "d04ae327.8f5b5",
      "type": "http in",
      "z": "7a514786.267ac8",
      "name": "",
      "url": "/user/:id",
      "method": "delete",
      "upload": false,
      "swaggerDoc": "",
      "x": 123,
      "y": 446,
      "wires": [
        [
          "c1e1c6b1.7f3d38"
        ]
      ]
    },
    {
      "id": "494aa725.5dde68",
      "type": "subflow:d773a612.5b2d98",
      "z": "7a514786.267ac8",
      "x": 550.5,
      "y": 118,
      "wires": [
        [
          "f3a8d513.86a288"
        ]
      ],
      "subflow": "d773a612.5b2d98"
    },
    {
      "id": "a35fa815.abde18",
      "type": "subflow:d773a612.5b2d98",
      "z": "7a514786.267ac8",
      "x": 510,
      "y": 360,
      "wires": [
        [
          "f3a8d513.86a288"
        ]
      ],
      "subflow": "d773a612.5b2d98"
    }
  ]
}
