blueprints/innovation/flows/r1/global-subflow-go-cd-pipelines.flow
{
  "id": "109c70f5.f87c1f",
  "type": "subflow",
  "name": "Go.CD Pipelines",
  "info": "",
  "in": [
    {
      "x": 50,
      "y": 30,
      "wires": [
        {
          "id": "c6260b5f.7a4118"
        }
      ]
    }
  ],
  "out": [
    {
      "x": 692,
      "y": 160,
      "wires": [
        {
          "id": "3ca185d8.142a5a",
          "port": 0
        },
        {
          "id": "358aca25.9f25e6",
          "port": 0
        },
        {
          "id": "ac569094.a791d",
          "port": 0
        }
      ]
    }
  ],
  "configs": [

  ],
  "nodes": [
    {
      "id": "f09befd2.ba5fa",
      "type": "function",
      "z": "109c70f5.f87c1f",
      "name": "Set Headers",
      "func": "\nmsg.headers = {\n  'Accept' : \"application/vnd.go.cd.v4+json\",\n  'Content-Type' : 'application/json'\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 392.5,
      "y": 29,
      "wires": [
        [
          "30ecd882.5b9d28"
        ]
      ]
    },
    {
      "id": "c6260b5f.7a4118",
      "type": "vars",
      "z": "109c70f5.f87c1f",
      "name": "CONSUL",
      "property": "payload",
      "propertyType": {
        "context": {
          "location": {
            "href": "https://esdade.canzea.cc/gwadmin/#flow/109c70f5.f87c1f",
            "ancestorOrigins": {
            },
            "origin": "https://esdade.canzea.cc",
            "protocol": "https:",
            "host": "esdade.canzea.cc",
            "hostname": "esdade.canzea.cc",
            "port": "",
            "pathname": "/gwadmin/",
            "search": "",
            "hash": "#flow/109c70f5.f87c1f"
          },
          "jQuery111309588051960709292": 1
        },
        "selector": "#node-input-property"
      },
      "rules": [
        {
          "t": "service",
          "v": "gocd",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "tls": "c792be07.29d4",
      "url": "https://consul.service.dc1.consul:8080",
      "x": 230,
      "y": 31,
      "wires": [
        [
          "f09befd2.ba5fa"
        ]
      ]
    },
    {
      "id": "3ca185d8.142a5a",
      "type": "http request",
      "z": "109c70f5.f87c1f",
      "name": "ADD PIPELINE",
      "method": "POST",
      "ret": "obj",
      "url": "{{{envs.GOCD_URL}}}/go/api/admin/pipelines",
      "tls": "",
      "x": 432.5,
      "y": 119,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "92b986e1.794cd8",
      "type": "switch",
      "z": "109c70f5.f87c1f",
      "name": "Pipelines",
      "property": "topic",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "plus:pipeline_pipeline",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "minus:pipeline_pipeline",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "check:pipeline_pipeline",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "false",
      "outputs": 4,
      "x": 204.5,
      "y": 137,
      "wires": [
        [
          "3ca185d8.142a5a"
        ],
        [
          "ac569094.a791d"
        ],
        [
          "358aca25.9f25e6"
        ],
        [
          "358aca25.9f25e6"
        ]
      ]
    },
    {
      "id": "30ecd882.5b9d28",
      "type": "link out",
      "z": "109c70f5.f87c1f",
      "name": "",
      "links": [
        "50fd1185.40a1e"
      ],
      "x": 503.5,
      "y": 30,
      "wires": [
        [
          "50fd1185.40a1e"
        ]
      ]
    },
    {
      "id": "50fd1185.40a1e",
      "type": "link in",
      "z": "109c70f5.f87c1f",
      "name": "",
      "links": [
        "30ecd882.5b9d28"
      ],
      "x": 94.5,
      "y": 136,
      "wires": [
        [
          "92b986e1.794cd8"
        ]
      ]
    },
    {
      "id": "358aca25.9f25e6",
      "type": "function",
      "z": "109c70f5.f87c1f",
      "name": "ERROR",
      "func": "msg.payload = {\n    statusCode: 400,\n    message: \"Invalid topic \" + msg.topic\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 431.5,
      "y": 238,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "ac569094.a791d",
      "type": "http request",
      "z": "109c70f5.f87c1f",
      "name": "DEL PIPELINE",
      "method": "DELETE",
      "ret": "txt",
      "url": "{{{envs.GOCD_URL}}}/go/api/admin/pipelines/{{{key}}}",
      "tls": "",
      "x": 433,
      "y": 161,
      "wires": [
        [

        ]
      ]
    }
  ]
}