blueprints/web-services/flows/r1/global-subflow-exports-nodered.flow
{
  "id": "9223e50a.f92628",
  "type": "subflow",
  "name": "Exports / Nodered",
  "info": "",
  "in": [
    {
      "x": 50,
      "y": 30,
      "wires": [
        {
          "id": "dcef7767.7eb788"
        }
      ]
    }
  ],
  "out": [
    {
      "x": 579.9999618530273,
      "y": 473.333345413208,
      "wires": [
        {
          "id": "42625c48.dbece4",
          "port": 0
        }
      ]
    }
  ],
  "configs": [

  ],
  "nodes": [
    {
      "id": "42625c48.dbece4",
      "type": "bigexec",
      "z": "9223e50a.f92628",
      "name": "",
      "command": "/home/pm2user/canzea.sh",
      "commandArgs": "--lifecycle=wire --solution=nodered --action=export-flows --raw",
      "minError": 1,
      "minWarning": 1,
      "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
      "shell": "",
      "extraArgumentProperty": "",
      "envProperty": "",
      "format": "utf8",
      "limiter": true,
      "payloadIs": "triggerNoStdin",
      "x": 298.6666717529297,
      "y": 217.77777099609375,
      "wires": [
        [

        ],
        [

        ],
        [

        ]
      ]
    },
    {
      "id": "dcef7767.7eb788",
      "type": "function",
      "z": "9223e50a.f92628",
      "name": "",
      "func": "\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 109.66667175292969,
      "y": 139.27777099609375,
      "wires": [
        [
          "42625c48.dbece4"
        ]
      ]
    }
  ]
}