blueprints/web-services/flows/r1/nr-tab-go-cd.flow
{
  "id": "3017f1a4.3b617e",
  "label": "Go.CD",
  "nodes": [
    {
      "id": "f1eff82e.669eb8",
      "type": "websocket in",
      "z": "3017f1a4.3b617e",
      "name": "Go.CD Listener",
      "server": "",
      "client": "692f4929.e69968",
      "x": 122.5,
      "y": 110,
      "wires": [
        [
          "73b83f6b.fddcc",
          "9a02eba1.c6e438",
          "cc669faf.2e0c7"
        ]
      ]
    },
    {
      "id": "73b83f6b.fddcc",
      "type": "debug",
      "z": "3017f1a4.3b617e",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "false",
      "x": 340.5,
      "y": 110,
      "wires": [

      ]
    },
    {
      "id": "9a02eba1.c6e438",
      "type": "file",
      "z": "3017f1a4.3b617e",
      "name": "",
      "filename": "/home/pm2user/nodered-gocd-events.log",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "false",
      "x": 404.5,
      "y": 194,
      "wires": [

      ]
    },
    {
      "id": "1121eaa0.f82f15",
      "type": "function",
      "z": "3017f1a4.3b617e",
      "name": "",
      "func": "msg.payload = JSON.stringify(msg.payload, null, 3);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 298.5,
      "y": 271,
      "wires": [
        [
          "242fd676.a865aa"
        ]
      ]
    },
    {
      "id": "242fd676.a865aa",
      "type": "file",
      "z": "3017f1a4.3b617e",
      "name": "",
      "filename": "/home/pm2user/nodered-gocd-last-message.log",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "true",
      "x": 568,
      "y": 273,
      "wires": [

      ]
    },
    {
      "id": "cc669faf.2e0c7",
      "type": "json",
      "z": "3017f1a4.3b617e",
      "name": "",
      "x": 107.5,
      "y": 337,
      "wires": [
        [
          "1121eaa0.f82f15",
          "9bc3721e.c859a"
        ]
      ]
    },
    {
      "id": "278a0945.6ceb96",
      "type": "template",
      "z": "3017f1a4.3b617e",
      "name": "Build Document",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"@timestamp\":\"{{payload.ts}}\",\n    \"group\":\"{{payload.pipeline.group}}\",\n    \"counter\":\"{{payload.pipeline.counter}}\",\n    \"stage\":\"{{payload.pipeline.stage.name}}\",\n    \"state\":\"{{payload.pipeline.stage.state}}\",\n    \"ts\":\"{{payload.pipeline.stage.last-transition-time}}\",\n    \"message\":\"{{payload.pipeline.name}}\",\n    \"label\":\"{{payload.x-pipeline-instance-details.label}}\",\n    \"pipeline\":\"{{payload.pipeline.name}}\"\n}\n",
      "output": "json",
      "x": 292.5,
      "y": 590,
      "wires": [
        [
          "6039f470.059b3c",
          "d4fc044.2dc4ff8",
          "ab8a608f.dfdef"
        ]
      ]
    },
    {
      "id": "6039f470.059b3c",
      "type": "es-create",
      "z": "3017f1a4.3b617e",
      "name": "",
      "documentIndex": "ecosystem",
      "documentType": "new",
      "server": "c636bc4a.a28ab",
      "x": 770,
      "y": 540,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "9bc3721e.c859a",
      "type": "function",
      "z": "3017f1a4.3b617e",
      "name": "Set TS",
      "func": "\nvar lastts = msg.payload.pipeline.stage['last-transition-time'];\nvar ts = msg.payload.pipeline.stage['create-time'];\nts = ts.substr(0, ts.indexOf('.'));\nmsg.payload.ts = ts;\nmsg.payload.lastts = lastts;\nmsg.documentId = msg._msgid;\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 127.5,
      "y": 590,
      "wires": [
        [
          "278a0945.6ceb96",
          "80fb0b03.7d4a28"
        ]
      ]
    },
    {
      "id": "c78f054d.0b5938",
      "type": "catch",
      "z": "3017f1a4.3b617e",
      "name": "",
      "scope": null,
      "x": 300,
      "y": 400,
      "wires": [
        [
          "80fb0b03.7d4a28"
        ]
      ]
    },
    {
      "id": "80fb0b03.7d4a28",
      "type": "debug",
      "z": "3017f1a4.3b617e",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 310,
      "y": 460,
      "wires": [

      ]
    },
    {
      "id": "ab8a608f.dfdef",
      "type": "switch",
      "z": "3017f1a4.3b617e",
      "name": "",
      "property": "payload.state",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "Building",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Passed",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Failed",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Cancelled",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "outputs": 5,
      "x": 447.5,
      "y": 692,
      "wires": [
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b",
          "b8f59824.c1f1b8"
        ],
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b"
        ]
      ]
    },
    {
      "id": "4416833c.84bd9c",
      "type": "subflow:459ae946.b59388",
      "z": "3017f1a4.3b617e",
      "x": 820.5,
      "y": 688,
      "wires": [
        [

        ]
      ],
      "subflow": "459ae946.b59388"
    },
    {
      "id": "50f4be4e.a912b",
      "type": "function",
      "z": "3017f1a4.3b617e",
      "name": "",
      "func": "p = msg.payload;\nmsg.channel = 'general';\nmsg.payload = \"Pipeline \" + p.state;\n\ncolors = {\n    'Passed' : '#00ff00',\n    'Building' : '#0000ff',\n    'Failed' : '#ff0000',\n    'Cancelled' : '#ff00ff'\n};\ncolor = colors[p.state];\n\ntextmsgs = [\n    \"** >\" + p.pipeline + '**\\n',\n    \"STAGE: **\" + p.stage + '**',\n    \"BUILD: **\" + p.label + '**'\n];\n\nmsg.topic = 'send-message';\nmsg.payload = {\n    \"text\": msg.payload,\n    \"avatar\": \"https://es0390.canzea.cc/images/canzea_gw_icon_es.svg\",\n    \"attachments\": [{\n        \"color\": color,\n        \"text\": textmsgs.join('\\n')\n    }]\n};\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 600.5,
      "y": 689,
      "wires": [
        [
          "4416833c.84bd9c"
        ]
      ]
    },
    {
      "id": "b8f59824.c1f1b8",
      "type": "function",
      "z": "3017f1a4.3b617e",
      "name": "Update COMPONENT",
      "func": "msg.topic = \"plus:component_metadata\";\n\nevent = msg.payload;\n\nresId = event.group +\"/pipelines/\" + event.pipeline;\nmsg.payload = { \"component_metadata\": {}}\n\nmsg.payload['component_metadata'][resId] = {\n      \"lastDeploy\": event.ts,\n      \"version\": event.label\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 500,
      "y": 820,
      "wires": [
        [
          "7d43245.19bf6dc"
        ]
      ]
    },
    {
      "id": "7d43245.19bf6dc",
      "type": "subflow:9e3e25e6.0e0308",
      "z": "3017f1a4.3b617e",
      "x": 708.5,
      "y": 819,
      "wires": [
        [
          "f7ed093b.85ffb8"
        ]
      ],
      "subflow": "9e3e25e6.0e0308"
    },
    {
      "id": "f7ed093b.85ffb8",
      "type": "debug",
      "z": "3017f1a4.3b617e",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 867.5,
      "y": 821,
      "wires": [

      ]
    },
    {
      "id": "7cc08be9.3b68b4",
      "type": "es-create",
      "z": "3017f1a4.3b617e",
      "name": "",
      "documentIndex": "ecosystem_looking_glass",
      "documentType": "new",
      "server": "c636bc4a.a28ab",
      "x": 1210,
      "y": 640,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "d4fc044.2dc4ff8",
      "type": "function",
      "z": "3017f1a4.3b617e",
      "name": "",
      "func": "msg.temp = msg.payload;\nmsg.payload = {\"key\": \"components/\" + msg.temp['group'] + \"/?recurse=true\"};\nmsg.topic = 'list-components';\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 710,
      "y": 640,
      "wires": [
        [
          "2a52783e.3b4098"
        ]
      ]
    },
    {
      "id": "2a52783e.3b4098",
      "type": "subflow:a6b9a798.463af8",
      "z": "3017f1a4.3b617e",
      "name": "",
      "x": 880,
      "y": 640,
      "wires": [
        [
          "44a56020.083f1"
        ]
      ],
      "subflow": "a6b9a798.463af8"
    },
    {
      "id": "44a56020.083f1",
      "type": "function",
      "z": "3017f1a4.3b617e",
      "name": "",
      "func": "payload = msg.temp;\n\ntry {\ncomponentKey = \"components/\" + msg.temp['group'] + \"/\";\n\nstartKey = \"pipelines/\" + msg.temp['pipeline'];\n\n\nfor ( var i in msg.payload ) {\n    var key = msg.payload[i]['Key'];\n\n    var encval = msg.payload[i]['Value'];\n    \n    if (encval !== null) {\n        var val = new Buffer(encval, 'base64').toString('utf8');\n        key = key.slice(componentKey.length);\n\n        if (key.startsWith('versioning')) {\n            // do nothing\n        } else\n        if (key.startsWith('pipelines')) {\n            if (key.startsWith(startKey)) {\n                var k = key.slice(startKey.length);\n                payload['pipeline' + k] = val;\n            }\n        } else {\n            payload['component/' + key] = val;\n        }\n    }\n}\n\nmsg.payload = payload;\n\n    \n} catch (e) {\n  node.error(\"Error\");\n  node.error(e);\n  raise (e);\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1050,
      "y": 640,
      "wires": [
        [
          "7cc08be9.3b68b4",
          "fcd53f06.919c1"
        ]
      ]
    },
    {
      "id": "fcd53f06.919c1",
      "type": "debug",
      "z": "3017f1a4.3b617e",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 1218.5,
      "y": 578,
      "wires": [

      ]
    }
  ]
}