blueprints/web-services/flows/r1/nr-tab-rocket-chat.flow
{
  "id": "556ea10d.a8f64",
  "label": "Rocket.Chat",
  "nodes": [
    {
      "id": "2ffedc15.007f04",
      "type": "inject",
      "z": "556ea10d.a8f64",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 116,
      "y": 120,
      "wires": [
        [
          "f923a92.6a54f58"
        ]
      ]
    },
    {
      "id": "ec3a2fda.153b8",
      "type": "http request",
      "z": "556ea10d.a8f64",
      "name": "Login",
      "method": "POST",
      "ret": "obj",
      "url": "http://localhost:8780/api/login",
      "tls": "",
      "x": 375.5,
      "y": 261,
      "wires": [
        [
          "f7ba7b42.faa3c8",
          "11c157d2.32c4b8"
        ]
      ]
    },
    {
      "id": "f923a92.6a54f58",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "",
      "func": "msg.payload = {\n    \"user\": \"aidan\",\n    \"password\": \"acope29\"\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 224.5,
      "y": 262,
      "wires": [
        [
          "ec3a2fda.153b8"
        ]
      ]
    },
    {
      "id": "c799be66.23a85",
      "type": "debug",
      "z": "556ea10d.a8f64",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 669.5,
      "y": 199,
      "wires": [

      ]
    },
    {
      "id": "f7ba7b42.faa3c8",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "",
      "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nmsg.req_headers = msg.headers;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 493.5,
      "y": 340,
      "wires": [
        [
          "a26d30e3.61ec5",
          "c799be66.23a85"
        ]
      ]
    },
    {
      "id": "a26d30e3.61ec5",
      "type": "http request",
      "z": "556ea10d.a8f64",
      "name": "Public Rooms",
      "method": "GET",
      "ret": "obj",
      "url": "http://localhost:8780/api/v1/channels.list",
      "tls": "",
      "x": 519,
      "y": 404,
      "wires": [
        [
          "c799be66.23a85",
          "67b2281c.6325c8"
        ]
      ]
    },
    {
      "id": "a3a58a0a.93df88",
      "type": "file",
      "z": "556ea10d.a8f64",
      "name": "",
      "filename": "/home/pm2user/req.log",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "true",
      "x": 737.5,
      "y": 482,
      "wires": [

      ]
    },
    {
      "id": "468bc807.963a48",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "Find Room",
      "func": "msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 426.5,
      "y": 496,
      "wires": [
        [
          "f2be4714.701348"
        ]
      ]
    },
    {
      "id": "f2be4714.701348",
      "type": "http request",
      "z": "556ea10d.a8f64",
      "name": "Get Room",
      "method": "GET",
      "ret": "txt",
      "url": "http://localhost:8780/api/v1/channels.info?roomId={{topic}}",
      "tls": "",
      "x": 561,
      "y": 563,
      "wires": [
        [
          "a3a58a0a.93df88",
          "c799be66.23a85"
        ]
      ]
    },
    {
      "id": "427a89ef.0d1f38",
      "type": "http request",
      "z": "556ea10d.a8f64",
      "name": "Post Message",
      "method": "POST",
      "ret": "txt",
      "url": "http://localhost:8780/api/v1/chat.postMessage",
      "tls": "",
      "x": 571,
      "y": 627,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "67b2281c.6325c8",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "Post Message",
      "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nmsg.payload = {\n    \"channel\": \"#\" + msg.topic,\n    \"text\": msg.message\n}\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 375,
      "y": 626,
      "wires": [
        [
          "427a89ef.0d1f38"
        ]
      ]
    },
    {
      "id": "a115f5fd.bc2208",
      "type": "http request",
      "z": "556ea10d.a8f64",
      "name": "Create Channel",
      "method": "POST",
      "ret": "obj",
      "url": "http://localhost:8780/api/v1/channels.create",
      "tls": "",
      "x": 289,
      "y": 410,
      "wires": [
        [
          "c799be66.23a85"
        ]
      ]
    },
    {
      "id": "11c157d2.32c4b8",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "",
      "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nmsg.req_headers = msg.headers;\nmsg.payload = {\n    \"name\":\"Env-1\"\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 139,
      "y": 410,
      "wires": [
        [
          "a115f5fd.bc2208"
        ]
      ]
    },
    {
      "id": "d9a3482e.b99b78",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "",
      "func": "msg.topic = msg.req.params.channel;\nmsg.message = msg.payload;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 143.5,
      "y": 624,
      "wires": [
        [
          "f923a92.6a54f58"
        ]
      ]
    },
    {
      "id": "2cf2ee3b.2aa582",
      "type": "http in",
      "z": "556ea10d.a8f64",
      "name": "",
      "url": "/channel/:channel/message",
      "method": "post",
      "swaggerDoc": "",
      "x": 184,
      "y": 704,
      "wires": [
        [
          "cbd18711.092498"
        ]
      ]
    },
    {
      "id": "cbd18711.092498",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "Prep Data",
      "func": "msg.topic = 'send-message';\nmsg.payload = {\n    \"text\": msg.payload\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 428.5,
      "y": 704,
      "wires": [
        [
          "bcddd3c6.0aa9c"
        ]
      ]
    },
    {
      "id": "bcddd3c6.0aa9c",
      "type": "subflow:459ae946.b59388",
      "z": "556ea10d.a8f64",
      "x": 631.5,
      "y": 704,
      "wires": [
        [
          "ae551134.6a178"
        ]
      ],
      "subflow": "459ae946.b59388"
    },
    {
      "id": "ae551134.6a178",
      "type": "http response",
      "z": "556ea10d.a8f64",
      "name": "",
      "x": 824.5,
      "y": 705,
      "wires": [

      ]
    },
    {
      "id": "db5c7d6e.0737c",
      "type": "comment",
      "z": "556ea10d.a8f64",
      "name": "https://escd27.canzea.cc/gw/api/channel/Env-1/message",
      "info": "",
      "x": 249.5,
      "y": 745,
      "wires": [

      ]
    },
    {
      "id": "9987d84d.47c658",
      "type": "http in",
      "z": "556ea10d.a8f64",
      "name": "",
      "url": "/user",
      "method": "post",
      "swaggerDoc": "",
      "x": 117.22221755981445,
      "y": 854.4443969726562,
      "wires": [
        [
          "26d6c.1b33b294e"
        ]
      ]
    },
    {
      "id": "26d6c.1b33b294e",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "Prep Data",
      "func": "msg.topic = 'create-user';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 431.72221755981445,
      "y": 854.4443969726562,
      "wires": [
        [
          "381ae123.45cb9e"
        ]
      ]
    },
    {
      "id": "74b163ed.95d54c",
      "type": "http response",
      "z": "556ea10d.a8f64",
      "name": "",
      "x": 827.7222175598145,
      "y": 855.4443969726562,
      "wires": [

      ]
    },
    {
      "id": "381ae123.45cb9e",
      "type": "subflow:9ed8bb48.699498",
      "z": "556ea10d.a8f64",
      "x": 617.2221984863281,
      "y": 851.1110973358154,
      "wires": [
        [
          "74b163ed.95d54c"
        ]
      ],
      "subflow": "9ed8bb48.699498"
    },
    {
      "id": "e9add4cb.66d538",
      "type": "http in",
      "z": "556ea10d.a8f64",
      "name": "",
      "url": "/group",
      "method": "post",
      "swaggerDoc": "",
      "x": 121.66666793823242,
      "y": 896.6666259765625,
      "wires": [
        [
          "cf4426d0.e91528"
        ]
      ]
    },
    {
      "id": "cf4426d0.e91528",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "Prep Data",
      "func": "msg.topic = 'create-group';\nmsg.payload = {\n    \"name\": msg.payload\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 436.1666679382324,
      "y": 896.6666259765625,
      "wires": [
        [
          "aeddbcc2.4f46e"
        ]
      ]
    },
    {
      "id": "2c368e75.577792",
      "type": "http response",
      "z": "556ea10d.a8f64",
      "name": "",
      "x": 832.1666679382324,
      "y": 897.6666259765625,
      "wires": [

      ]
    },
    {
      "id": "aeddbcc2.4f46e",
      "type": "subflow:3206ac46.8fc5e4",
      "z": "556ea10d.a8f64",
      "x": 619.444465637207,
      "y": 897.777759552002,
      "wires": [
        [
          "2c368e75.577792"
        ]
      ],
      "subflow": "3206ac46.8fc5e4"
    },
    {
      "id": "23c7180b.93ea48",
      "type": "http in",
      "z": "556ea10d.a8f64",
      "name": "",
      "url": "/rocketchat_hook",
      "method": "post",
      "swaggerDoc": "",
      "x": 179.44444444444446,
      "y": 958.8888888888889,
      "wires": [
        [
          "c5ccdcdc.b324d",
          "9e0389.b6593c78"
        ]
      ]
    },
    {
      "id": "c5ccdcdc.b324d",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "Build response",
      "func": "txt = msg.payload.text;\nnam = msg.payload.user_name;\nmsg.payload = \n{\n  \"text\": nam + \", hi!\",\n  \"xattachments\": [\n    {\n      \"title\": \"Canzea Ecosystem\",\n      \"title_link\": \"https://escd27.canzea.cc\",\n      \"text\": \"Your ecosystem is up and running.\",\n      \"image_url\": \"https://canzea.gitlab.io/img/canzea_logo.png\",\n      \"color\": \"#764FA5\"\n    }\n  ]\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 416.1111183166504,
      "y": 1015.5555744171143,
      "wires": [
        [
          "c60c100f.c07bf"
        ]
      ]
    },
    {
      "id": "c60c100f.c07bf",
      "type": "http response",
      "z": "556ea10d.a8f64",
      "name": "",
      "x": 602.7777252197266,
      "y": 1016.6666469573975,
      "wires": [

      ]
    },
    {
      "id": "9e0389.b6593c78",
      "type": "debug",
      "z": "556ea10d.a8f64",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 399.44444444444446,
      "y": 961.1111111111111,
      "wires": [

      ]
    },
    {
      "id": "13eaec4d.936774",
      "type": "http in",
      "z": "556ea10d.a8f64",
      "name": "",
      "url": "/channel/:channel/pipeline_message",
      "method": "post",
      "swaggerDoc": "",
      "x": 185,
      "y": 664,
      "wires": [
        [
          "9ac26443.dc1fc8"
        ]
      ]
    },
    {
      "id": "9ac26443.dc1fc8",
      "type": "function",
      "z": "556ea10d.a8f64",
      "name": "",
      "func": "msg.payload = \"Added component \" + msg.payload.name + \" to the ecosystem.\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 439.5,
      "y": 663,
      "wires": [
        [
          "cbd18711.092498"
        ]
      ]
    }
  ]
}