blueprints/web-services/flows/r1/nr-tab-pipelines-2.flow
{
  "id": "26691cec.3301f4",
  "label": "Pipelines 2",
  "nodes": [
    {
      "id": "30e6f4a9.12525c",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/pipelines",
      "method": "post",
      "swaggerDoc": "",
      "x": 116,
      "y": 238,
      "wires": [
        [
          "327747e9.2766e8"
        ]
      ]
    },
    {
      "id": "327747e9.2766e8",
      "type": "json-schema",
      "z": "26691cec.3301f4",
      "name": "",
      "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"Pipeline\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"name\": {\n            \"description\": \"Name of the component\",\n            \"type\": \"string\"\n        },\n        \"url\": {\n            \"description\": \"Material URL\",\n            \"type\": \"string\"\n        },\n        \"branch\": {\n            \"description\": \"Material Branch\",\n            \"type\": \"string\"\n        },\n        \"pipelineName\": {\n            \"description\": \"Name of the pipeline\",\n            \"type\": \"string\"\n        }\n    },\n    \"required\": [\"name\", \"url\", \"branch\", \"pipelineName\"]\n}",
      "x": 372,
      "y": 238,
      "wires": [
        [
          "2ade4c04.460634"
        ]
      ]
    },
    {
      "id": "cd60d0ce.01276",
      "type": "comment",
      "z": "26691cec.3301f4",
      "name": "Pipelines (create/destroy)",
      "info": "As part of the micro-service architecture, the ability to\ncreate and destroy pipelines easily.",
      "x": 142.5,
      "y": 44,
      "wires": [

      ]
    },
    {
      "id": "f58b61ab.588ad",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "Prepare UPD FOR DEPLOY",
      "func": "args = {\n    \"name\":\"hello-world-svc-app\",\n    \"branch\":\"hotfix-1.0.3\", \n    \"version\":\"1.0.3\",\n    \"qualifier\":\"N\",\n    \"port\":\"1235\",\n    \"N\":{\n        \"pattern\":\"Deploy\",\n        \"name\":\"another-svc-app-hotfix-1.0.3-Deploy\"\n    }, \n    \"localUrl\":\"https://IKE_CI:55665566@gitlab.com/ikethecoder/hello-world-svc-app.git\",\n    \"localBranch\":\"master\"\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = [\n    \"--lifecycle=wire\",\n    \"--solution=gocd\",\n    \"--action=update-pipeline-for-deploy\",\n    \"--args='\" + argsString + \"'\"].join(' ');\n\nreturn msg;\n\n",
      "outputs": "2",
      "noerr": 0,
      "x": 290,
      "y": 158,
      "wires": [
        [
          "331ba2b9.3a7f3e"
        ],
        [

        ]
      ]
    },
    {
      "id": "331ba2b9.3a7f3e",
      "type": "bigexec",
      "z": "26691cec.3301f4",
      "name": "",
      "command": "/home/pm2user/canzea.sh",
      "commandArgs": "",
      "minError": 1,
      "minWarning": 1,
      "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
      "shell": "",
      "extraArgumentProperty": "",
      "envProperty": "",
      "format": "utf8",
      "limiter": true,
      "payloadIs": "argumentNoStdin",
      "x": 511,
      "y": 153,
      "wires": [
        [

        ],
        [

        ],
        [

        ]
      ]
    },
    {
      "id": "d42dae8.4bae45",
      "type": "inject",
      "z": "26691cec.3301f4",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 107,
      "y": 114,
      "wires": [
        [
          "f58b61ab.588ad"
        ]
      ]
    },
    {
      "id": "1aad2b6e.675395",
      "type": "subflow:a1cb3587.05ca68",
      "z": "26691cec.3301f4",
      "name": "",
      "x": 746.5,
      "y": 305,
      "wires": [
        [
          "74955386.5e890c"
        ],
        [

        ]
      ],
      "subflow": "a1cb3587.05ca68"
    },
    {
      "id": "74955386.5e890c",
      "type": "http response",
      "z": "26691cec.3301f4",
      "name": "",
      "x": 915.5,
      "y": 307,
      "wires": [

      ]
    },
    {
      "id": "208adeec.40fcc2",
      "type": "catch",
      "z": "26691cec.3301f4",
      "name": "",
      "scope": null,
      "x": 659,
      "y": 505,
      "wires": [
        [
          "b0d47d29.69c92",
          "29518f8d.69449"
        ]
      ]
    },
    {
      "id": "b0d47d29.69c92",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "Error",
      "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 787.5,
      "y": 505,
      "wires": [
        [
          "74955386.5e890c"
        ]
      ]
    },
    {
      "id": "2ade4c04.460634",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "prepare-for-build",
      "func": "msg.topic = 'prepare-for-build';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 484.5,
      "y": 286,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "7c9c3177.0fa2b",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "create-build-pipeline",
      "func": "msg.topic = 'create-build-pipeline';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 457,
      "y": 389,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "d13325a7.d3c948",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/build-pipelines",
      "method": "post",
      "swaggerDoc": "",
      "x": 144,
      "y": 349,
      "wires": [
        [
          "7c9c3177.0fa2b"
        ]
      ]
    },
    {
      "id": "7a0ea8c1.915d08",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "unpause",
      "func": "msg.topic = 'unpause';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 377,
      "y": 520,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "a91b825b.58abc",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/unpause",
      "method": "post",
      "swaggerDoc": "",
      "x": 177,
      "y": 521,
      "wires": [
        [
          "7a0ea8c1.915d08"
        ]
      ]
    },
    {
      "id": "b30cf16a.08dff",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "schedule",
      "func": "msg.topic = 'schedule';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 375,
      "y": 572,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "e46d1cb5.ce65d",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/schedule",
      "method": "post",
      "swaggerDoc": "",
      "x": 177,
      "y": 570,
      "wires": [
        [
          "b30cf16a.08dff"
        ]
      ]
    },
    {
      "id": "5edd2786.a0d5c8",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/prepare-pipelines",
      "method": "post",
      "swaggerDoc": "",
      "x": 140,
      "y": 280,
      "wires": [
        [
          "23a8fd44.c06ad2"
        ]
      ]
    },
    {
      "id": "23a8fd44.c06ad2",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "prepare-for-deploy",
      "func": "msg.topic = 'prepare-for-deploy';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 485,
      "y": 322,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "21750101.c21e4e",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/deploy-pipelines",
      "method": "post",
      "swaggerDoc": "",
      "x": 142,
      "y": 314,
      "wires": [
        [
          "f7bed930.df6238"
        ]
      ]
    },
    {
      "id": "f7bed930.df6238",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "create-deploy-pipeline",
      "func": "msg.topic = 'create-deploy-pipeline';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 463,
      "y": 356,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "31539abb.18ca16",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "get-environment",
      "func": "msg.topic = 'get-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 405,
      "y": 638,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "df7ed55.d99e928",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/get-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 186,
      "y": 637,
      "wires": [
        [
          "31539abb.18ca16"
        ]
      ]
    },
    {
      "id": "d6c5c2a8.d9634",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/add-to-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 207,
      "y": 702,
      "wires": [
        [
          "798f67c2.554e18"
        ]
      ]
    },
    {
      "id": "798f67c2.554e18",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "add-pipeline-to-environment",
      "func": "msg.topic = 'add-pipeline-to-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 533,
      "y": 700,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "b1c5a3bb.6d41d",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/save-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 188,
      "y": 744,
      "wires": [
        [
          "b35d745.5df7a88"
        ]
      ]
    },
    {
      "id": "b35d745.5df7a88",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "save-environment",
      "func": "msg.topic = 'save-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 494,
      "y": 742,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "29518f8d.69449",
      "type": "debug",
      "z": "26691cec.3301f4",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 785.5,
      "y": 566,
      "wires": [

      ]
    },
    {
      "id": "c77e547f.992878",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/enable-agent",
      "method": "post",
      "swaggerDoc": "",
      "x": 167,
      "y": 786,
      "wires": [
        [
          "2e87ca8c.e36af6"
        ]
      ]
    },
    {
      "id": "2e87ca8c.e36af6",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "enable-agent",
      "func": "msg.topic = 'enable-agent';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 473,
      "y": 784,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "291042b8.d6622e",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/link-agent-to-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 216.25,
      "y": 832.5,
      "wires": [
        [
          "2023797b.752f36"
        ]
      ]
    },
    {
      "id": "2023797b.752f36",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "link-agent-to-environment",
      "func": "msg.topic = 'link-agent-to-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 522.25,
      "y": 830.5,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "35702cf7.f9bff4",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/unlink-agent-from-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 240,
      "y": 876.25,
      "wires": [
        [
          "b2f59b65.8257d8"
        ]
      ]
    },
    {
      "id": "b2f59b65.8257d8",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "unlink-agent-from-environment",
      "func": "msg.topic = 'unlink-agent-from-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 546,
      "y": 874.25,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "278da8aa.19f6b8",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/delete-agent",
      "method": "post",
      "swaggerDoc": "",
      "x": 177.5,
      "y": 918.75,
      "wires": [
        [
          "fa9f54ed.ee15a8"
        ]
      ]
    },
    {
      "id": "fa9f54ed.ee15a8",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "delete-agent",
      "func": "msg.topic = 'delete-agent';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 483.5,
      "y": 916.75,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "dec9b1ff.42ed5",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/create-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 191,
      "y": 977,
      "wires": [
        [
          "8072af80.2a79"
        ]
      ]
    },
    {
      "id": "8072af80.2a79",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "create-environment",
      "func": "msg.topic = 'create-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 497,
      "y": 975,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "6401cffd.4e788",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/delete-environment",
      "method": "delete",
      "swaggerDoc": "",
      "x": 195,
      "y": 1025,
      "wires": [
        [
          "d9e70b61.56c2c8"
        ]
      ]
    },
    {
      "id": "d9e70b61.56c2c8",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "delete-environment",
      "func": "msg.topic = 'delete-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 488,
      "y": 1027,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "88eaf589.5861f8",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/disable-agent",
      "method": "post",
      "swaggerDoc": "",
      "x": 184,
      "y": 810,
      "wires": [
        [
          "f36d51b4.2da"
        ]
      ]
    },
    {
      "id": "f36d51b4.2da",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "disable-agent",
      "func": "msg.topic = 'disable-agent';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 490,
      "y": 808,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    },
    {
      "id": "b99aed9d.02087",
      "type": "http in",
      "z": "26691cec.3301f4",
      "name": "",
      "url": "/unlink-pipeline-from-environment",
      "method": "post",
      "swaggerDoc": "",
      "x": 228,
      "y": 1076,
      "wires": [
        [
          "147a1774.bc0409"
        ]
      ]
    },
    {
      "id": "147a1774.bc0409",
      "type": "function",
      "z": "26691cec.3301f4",
      "name": "unlink-pipeline-from-environment",
      "func": "msg.topic = 'unlink-pipeline-from-environment';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 534,
      "y": 1074,
      "wires": [
        [
          "1aad2b6e.675395"
        ]
      ]
    }
  ]
}