blueprints/neat-and-tidy/flows/r1/nr-tab-vars.flow
{
  "id": "30f41b37.f56574",
  "label": "VARS",
  "nodes": [
    {
      "id": "9d10fd85.4d413",
      "type": "inject",
      "z": "30f41b37.f56574",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 131.5,
      "y": 194,
      "wires": [
        [
          "65cf8ef3.29e59"
        ]
      ]
    },
    {
      "id": "65cf8ef3.29e59",
      "type": "vars",
      "z": "30f41b37.f56574",
      "name": "VAULT",
      "property": "payload",
      "propertyType": {
        "context": {
          "location": {
            "href": "https://es110c.canzea.cc/gw/admin/#flow/fc35ec8c.ec27",
            "ancestorOrigins": {
            },
            "origin": "https://es110c.canzea.cc",
            "protocol": "https:",
            "host": "es110c.canzea.cc",
            "hostname": "es110c.canzea.cc",
            "port": "",
            "pathname": "/gw/admin/",
            "search": "",
            "hash": "#flow/fc35ec8c.ec27"
          },
          "jQuery111306876730675286178": 1
        },
        "selector": "#node-input-property"
      },
      "rules": [
        {
          "t": "secret",
          "v": "digitalocean",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "tls": "94073df5.ac54f",
      "url": "https://vault.service.dc1.consul:8200",
      "x": 350,
      "y": 200,
      "wires": [
        [
          "eccc3f5b.8f9d4"
        ]
      ]
    },
    {
      "id": "eccc3f5b.8f9d4",
      "type": "debug",
      "z": "30f41b37.f56574",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 530,
      "y": 200,
      "wires": [

      ]
    },
    {
      "id": "835f305a.f2f83",
      "type": "inject",
      "z": "30f41b37.f56574",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 129,
      "y": 287,
      "wires": [
        [
          "3d57f7bf.77ce68"
        ]
      ]
    },
    {
      "id": "3d57f7bf.77ce68",
      "type": "vars",
      "z": "30f41b37.f56574",
      "name": "CONSUL",
      "property": "payload",
      "propertyType": {
        "context": {
          "location": {
            "href": "https://es110c.canzea.cc/gw/admin/#flow/fc35ec8c.ec27",
            "ancestorOrigins": {
            },
            "origin": "https://es110c.canzea.cc",
            "protocol": "https:",
            "host": "es110c.canzea.cc",
            "hostname": "es110c.canzea.cc",
            "port": "",
            "pathname": "/gw/admin/",
            "search": "",
            "hash": "#flow/fc35ec8c.ec27"
          },
          "jQuery111306876730675286178": 1
        },
        "selector": "#node-input-property"
      },
      "rules": [
        {
          "t": "service",
          "v": "grafana",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "tls": "c792be07.29d4",
      "url": "https://consul.service.dc1.consul:8080",
      "x": 354.5,
      "y": 289,
      "wires": [
        [
          "1f4418c4.21bb77"
        ]
      ]
    },
    {
      "id": "1f4418c4.21bb77",
      "type": "debug",
      "z": "30f41b37.f56574",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 538.5,
      "y": 286,
      "wires": [

      ]
    }
  ]
}