blueprints/neat-and-tidy/flows/r1/nr-tab-id-global.flow
{
  "id": "global",
  "configs": [
    {
      "id": "692f4929.e69968",
      "type": "websocket-client",
      "z": "",
      "path": "ws://gocd.service.dc1.consul:8887",
      "wholemsg": "false",
      "_users": [
        "f1eff82e.669eb8"
      ]
    },
    {
      "id": "d8eec1bf.7984a",
      "type": "ui_base",
      "theme": {
        "name": "theme-dark",
        "lightTheme": {
          "default": "#0094CE",
          "baseColor": "#0094CE",
          "baseFont": "Helvetica Neue",
          "edited": true,
          "reset": false
        },
        "darkTheme": {
          "default": "#097479",
          "baseColor": "#097479",
          "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
          "edited": true,
          "reset": false
        },
        "customTheme": {
          "name": "",
          "default": "#4B7930",
          "baseColor": "#4B7930",
          "baseFont": "Helvetica Neue"
        },
        "themeState": {
          "base-color": {
            "default": "#097479",
            "value": "#097479",
            "edited": false
          },
          "page-titlebar-backgroundColor": {
            "value": "#097479",
            "edited": false
          },
          "page-backgroundColor": {
            "value": "#111111",
            "edited": false
          },
          "page-sidebar-backgroundColor": {
            "value": "#000000",
            "edited": false
          },
          "group-textColor": {
            "value": "#0eb8c0",
            "edited": false
          },
          "group-borderColor": {
            "value": "#555555",
            "edited": false
          },
          "group-backgroundColor": {
            "value": "#333333",
            "edited": false
          },
          "widget-textColor": {
            "value": "#eeeeee",
            "edited": false
          },
          "widget-backgroundColor": {
            "value": "#097479",
            "edited": false
          },
          "widget-borderColor": {
            "value": "#333333",
            "edited": false
          },
          "base-font": {
            "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
          }
        }
      },
      "site": {
        "name": "Node-RED Dashboard",
        "hideToolbar": "false",
        "allowSwipe": "false",
        "dateFormat": "DD/MM/YYYY",
        "sizes": {
          "sx": 48,
          "sy": 48,
          "gx": 6,
          "gy": 6,
          "cx": 6,
          "cy": 6,
          "px": 10,
          "py": 10
        }
      },
      "_users": [

      ]
    },
    {
      "id": "76aa82b9.d5030c",
      "type": "ui_tab",
      "name": "Tab 1",
      "icon": "dashboard",
      "order": 1,
      "_users": [
        "813d2a41.9c0228",
        "316384a.3cbc27c",
        "ccd5aecb.3b7e9"
      ]
    },
    {
      "id": "813d2a41.9c0228",
      "type": "ui_group",
      "z": "",
      "name": "Col1",
      "tab": "76aa82b9.d5030c",
      "disp": true,
      "width": "12",
      "_users": [
        "485816f6.9ff968"
      ]
    },
    {
      "id": "fe3cec98.8cee2",
      "type": "ui_tab",
      "name": "Tab 2",
      "icon": "dashboard",
      "order": 2,
      "_users": [

      ]
    },
    {
      "id": "316384a.3cbc27c",
      "type": "ui_group",
      "z": "",
      "name": "Default",
      "tab": "76aa82b9.d5030c",
      "disp": true,
      "width": "8",
      "_users": [
        "32b5a6b7.14515a"
      ]
    },
    {
      "id": "ccd5aecb.3b7e9",
      "type": "ui_group",
      "z": "",
      "name": "Default",
      "tab": "76aa82b9.d5030c",
      "disp": true,
      "width": "6",
      "_users": [
        "110c8355.83f85d"
      ]
    },
    {
      "id": "7138d6b8.dc7bc8",
      "type": "websocket-listener",
      "z": "",
      "path": "/ws/canzea",
      "wholemsg": "false",
      "_users": [
        "20bc93b6.437eec",
        "d256768d.b28aa8"
      ]
    },
    {
      "id": "c636bc4a.a28ab",
      "type": "remote-server",
      "z": "",
      "name": "Elasticsearch",
      "host": "http://10.136.32.198:9200",
      "_users": [
        "6039f470.059b3c"
      ]
    },
    {
      "id": "c792be07.29d4",
      "type": "tls-config",
      "z": "",
      "name": "CONSUL",
      "cert": "/etc/vault/ssl/consul.cert",
      "key": "/etc/vault/ssl/consul.key",
      "ca": "/etc/vault/ssl/ca.cert",
      "certname": "",
      "keyname": "",
      "caname": "",
      "verifyservercert": true,
      "_users": [
        "3d57f7bf.77ce68",
        "93d4f6fd.453358",
        "bcc4f1bb.54c44",
        "3a3892f4.b262fe",
        "e8540b41.b7f818",
        "aed4e776.4f6468",
        "64b7d53f.ea6cfc",
        "e677b09d.f63f1",
        "c9e6186b.7a2788"
      ]
    },
    {
      "id": "a0ccc8b4.4e82d8",
      "type": "selenium-server",
      "z": "",
      "remoteurl": "http://localhost:8001/wd/hub",
      "_users": [
        "c9b53b9d.9544f8"
      ]
    },
    {
      "id": "5d04b4f1.4b454c",
      "type": "websocket-client",
      "z": "",
      "path": "ws://ese00c.canzea.cc/gw/api/ws/canzea",
      "wholemsg": "false",
      "_users": [

      ]
    },
    {
      "id": "94073df5.ac54f",
      "type": "tls-config",
      "z": "",
      "name": "VAULT",
      "cert": "/etc/vault/ssl/vault.cert",
      "key": "/etc/vault/ssl/vault.key",
      "ca": "/etc/vault/ssl/ca.cert",
      "certname": "",
      "keyname": "",
      "caname": "",
      "verifyservercert": true,
      "_users": [
        "65cf8ef3.29e59",
        "f7554218.e2e43",
        "38801932.546906",
        "b5640c37.19e05",
        "138e59.c6ee91a7",
        "56c8fd71.86e484",
        "f238ced3.21639",
        "54b908b1.b6d058"
      ]
    }
  ],
  "subflows": [
    {
      "id": "459ae946.b59388",
      "type": "subflow",
      "name": "Rocket.Chat Send Message",
      "info": "# Input\n\nmsg.params.channel : channel\n\n# Output\n\nmsg.payload : \"success\"",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "73431067.17be4"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 803,
          "y": 357,
          "wires": [
            {
              "id": "2f18cbf7.b83dc4",
              "port": 0
            },
            {
              "id": "29396b5b.bdef54",
              "port": 0
            },
            {
              "id": "e7d3f617.97bdf8",
              "port": 0
            },
            {
              "id": "553f1c2c.d2a694",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "55967ecb.8ad8c",
          "type": "http request",
          "z": "459ae946.b59388",
          "name": "Login",
          "method": "POST",
          "ret": "obj",
          "url": "http://rocketchat.service.dc1.consul:8780/api/login",
          "tls": "",
          "x": 338,
          "y": 66,
          "wires": [
            [
              "23dd6000.df81c"
            ]
          ]
        },
        {
          "id": "73431067.17be4",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Prep Creds",
          "func": "msg.message = msg.payload;\nmsg.params = msg.channel ? {\"channel\":msg.channel}:msg.req.params;\nmsg.payload = {\n    \"user\": \"admin\",\n    \"password\": \"admin1admin\"\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 178,
          "y": 68,
          "wires": [
            [
              "55967ecb.8ad8c"
            ]
          ]
        },
        {
          "id": "23dd6000.df81c",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Set Headers",
          "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.req_headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 507,
          "y": 68,
          "wires": [
            [
              "ffca7df7.7c2eb"
            ]
          ]
        },
        {
          "id": "fa28791b.390f18",
          "type": "http request",
          "z": "459ae946.b59388",
          "name": "Post Message",
          "method": "POST",
          "ret": "txt",
          "url": "http://rocketchat.service.dc1.consul:8780/api/v1/chat.postMessage",
          "tls": "",
          "x": 455,
          "y": 155,
          "wires": [
            [
              "12f83637.c38aea"
            ]
          ]
        },
        {
          "id": "8effb7ac.68f778",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Post Message",
          "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nmsg.payload = msg.message;\nmsg.payload.channel = \"#\" + msg.params.channel;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 271,
          "y": 155,
          "wires": [
            [
              "fa28791b.390f18"
            ]
          ]
        },
        {
          "id": "ffca7df7.7c2eb",
          "type": "switch",
          "z": "459ae946.b59388",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "send-message",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:collaboration_message",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 3,
          "x": 105.5,
          "y": 161,
          "wires": [
            [
              "8effb7ac.68f778"
            ],
            [
              "b9734344.54db5"
            ],
            [
              "553f1c2c.d2a694"
            ]
          ]
        },
        {
          "id": "2f18cbf7.b83dc4",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Success",
          "func": "msg.payload = '';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 743.5,
          "y": 148,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "b2c1caa6.c5d178",
          "type": "catch",
          "z": "459ae946.b59388",
          "name": "",
          "scope": null,
          "x": 564.5,
          "y": 415,
          "wires": [
            [
              "29396b5b.bdef54"
            ]
          ]
        },
        {
          "id": "29396b5b.bdef54",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 693,
          "y": 415,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "12f83637.c38aea",
          "type": "switch",
          "z": "459ae946.b59388",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 603,
          "y": 155,
          "wires": [
            [
              "2f18cbf7.b83dc4"
            ],
            [
              "e7d3f617.97bdf8"
            ]
          ]
        },
        {
          "id": "e7d3f617.97bdf8",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 734,
          "y": 186,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "553f1c2c.d2a694",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic for Rocket.Chat Send Message \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 573.5,
          "y": 376,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "b9734344.54db5",
          "type": "function",
          "z": "459ae946.b59388",
          "name": "Post Message",
          "func": "//msg.topic = msg.payload.channels[0]._id;\n//k = Object.keys(msg.message)[0];\nmsg.headers = msg.req_headers;\nmsg.payload = msg.message;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 287,
          "y": 205,
          "wires": [
            [
              "fa28791b.390f18",
              "cbfd33f3.e743d"
            ]
          ]
        },
        {
          "id": "cbfd33f3.e743d",
          "type": "debug",
          "z": "459ae946.b59388",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "false",
          "x": 468.5,
          "y": 219,
          "wires": [

          ]
        }
      ]
    },
    {
      "id": "4fc6c84.9271b38",
      "type": "subflow",
      "name": "Rocket.Chat Channels",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "93d4f6fd.453358"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 831,
          "y": 335,
          "wires": [
            {
              "id": "c84a327b.f1cc",
              "port": 0
            },
            {
              "id": "777696ff.8bd858",
              "port": 0
            },
            {
              "id": "aad2cb53.5f59f8",
              "port": 0
            },
            {
              "id": "220cc5d7.760e4a",
              "port": 0
            },
            {
              "id": "7d64214a.92502",
              "port": 0
            },
            {
              "id": "2d347082.b7fcb",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "28aa0d23.ba8a42",
          "type": "http request",
          "z": "4fc6c84.9271b38",
          "name": "Login",
          "method": "POST",
          "ret": "obj",
          "url": "http://rocketchat.service.dc1.consul:8780/api/login",
          "tls": "",
          "x": 363,
          "y": 108,
          "wires": [
            [
              "3a657acb.d24796"
            ]
          ]
        },
        {
          "id": "ece03586.523688",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Prep Creds",
          "func": "msg.message = msg.payload;\nmsg.params = msg.req.params;\nmsg.payload = {\n    \"user\": \"admin\",\n    \"password\": \"admin1admin\"\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 203,
          "y": 110,
          "wires": [
            [
              "28aa0d23.ba8a42"
            ]
          ]
        },
        {
          "id": "3a657acb.d24796",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Set Headers",
          "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.req_headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 532,
          "y": 110,
          "wires": [
            [
              "32bdae49.975b12"
            ]
          ]
        },
        {
          "id": "e2231f34.974c5",
          "type": "http request",
          "z": "4fc6c84.9271b38",
          "name": "Create Channel",
          "method": "POST",
          "ret": "obj",
          "url": "{{{envs.ROCKETCHAT_URL}}}/api/v1/channels.create",
          "tls": "",
          "x": 483,
          "y": 164,
          "wires": [
            [
              "18739691.dce0e9"
            ]
          ]
        },
        {
          "id": "aac89601.9d9d38",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Create Channel",
          "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nmsg.payload = {\n    \"name\": msg.key\n}\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 310,
          "y": 173,
          "wires": [
            [
              "e2231f34.974c5"
            ]
          ]
        },
        {
          "id": "32bdae49.975b12",
          "type": "switch",
          "z": "4fc6c84.9271b38",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:collaboration_channel",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:collaboration_channel",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 3,
          "x": 132.5,
          "y": 169,
          "wires": [
            [
              "aac89601.9d9d38"
            ],
            [
              "fa42936c.62197"
            ],
            [
              "777696ff.8bd858"
            ]
          ]
        },
        {
          "id": "c84a327b.f1cc",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Success",
          "func": "msg.payload = '';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 788.5,
          "y": 140,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "e0645b4a.9fceb8",
          "type": "catch",
          "z": "4fc6c84.9271b38",
          "name": "",
          "scope": null,
          "x": 589.5,
          "y": 457,
          "wires": [
            [
              "aad2cb53.5f59f8"
            ]
          ]
        },
        {
          "id": "aad2cb53.5f59f8",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 718,
          "y": 457,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "18739691.dce0e9",
          "type": "switch",
          "z": "4fc6c84.9271b38",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 641,
          "y": 160,
          "wires": [
            [
              "c84a327b.f1cc"
            ],
            [
              "220cc5d7.760e4a"
            ]
          ]
        },
        {
          "id": "777696ff.8bd858",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 598.5,
          "y": 418,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "220cc5d7.760e4a",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Graceful OK",
          "func": "if (msg.payload.errorType == \"error-duplicate-channel-name\") {\n    msg.statusCode = 200;\n    msg.payload = {\n        \"warning\": \"Channel already created.\"\n    }\n} else {\n    msg.statusCode = 400;\n    msg.payload = {\n        \"source\": \"rocketchat\",\n        \"message\": msg.payload\n    }\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 667,
          "y": 242,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "ff7d9b64.77e428",
          "type": "http request",
          "z": "4fc6c84.9271b38",
          "name": "Get Channel",
          "method": "GET",
          "ret": "obj",
          "url": "http://localhost:8780/api/v1/channels.info?roomName={{{key}}}",
          "tls": "",
          "x": 143,
          "y": 308,
          "wires": [
            [
              "69e87996.4aca08",
              "fbd80a31.632598"
            ]
          ]
        },
        {
          "id": "85872bfb.e398c8",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Transform",
          "func": "msg.payload = {\n    \"roomId\": msg.payload.channel._id\n}\nmsg.headers = msg.req_headers;\n\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 190,
          "y": 425,
          "wires": [
            [
              "3f6eaea.4fbc852"
            ]
          ]
        },
        {
          "id": "3f6eaea.4fbc852",
          "type": "http request",
          "z": "4fc6c84.9271b38",
          "name": "Delete Channel",
          "method": "POST",
          "ret": "obj",
          "url": "http://localhost:8780/api/v1/channels.delete",
          "tls": "",
          "x": 375,
          "y": 426,
          "wires": [
            [
              "3511fd0b.a12e52"
            ]
          ]
        },
        {
          "id": "69e87996.4aca08",
          "type": "debug",
          "z": "4fc6c84.9271b38",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 279.5,
          "y": 308,
          "wires": [

          ]
        },
        {
          "id": "fa42936c.62197",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Set Headers",
          "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 198,
          "y": 253,
          "wires": [
            [
              "ff7d9b64.77e428"
            ]
          ]
        },
        {
          "id": "3511fd0b.a12e52",
          "type": "switch",
          "z": "4fc6c84.9271b38",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 452,
          "y": 508,
          "wires": [
            [
              "7d64214a.92502"
            ],
            [
              "2d347082.b7fcb"
            ]
          ]
        },
        {
          "id": "7d64214a.92502",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Graceful OK",
          "func": "\nmsg.statusCode = 200;\nmsg.payload = {\n    \"source\": \"rocketchat\",\n    \"message\": msg.payload\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 611,
          "y": 511,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "2d347082.b7fcb",
          "type": "function",
          "z": "4fc6c84.9271b38",
          "name": "Return error",
          "func": "\n    msg.statusCode = 400;\n    msg.payload = {\n        \"source\": \"rocketchat\",\n        \"message\": msg.payload\n    }\n    return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 608,
          "y": 559,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "fbd80a31.632598",
          "type": "switch",
          "z": "4fc6c84.9271b38",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 88,
          "y": 366,
          "wires": [
            [
              "85872bfb.e398c8"
            ],
            [
              "2d347082.b7fcb"
            ]
          ]
        },
        {
          "id": "e1055459.5ed2d8",
          "type": "comment",
          "z": "4fc6c84.9271b38",
          "name": "DELETE and UPDATE",
          "info": "DELETE:\nhttps://ese00c.canzea.cc/gw/api/gateway/channel/Integration2\n\nUPDATE:\nhttps://ese00c.canzea.cc/gw/api/gateway/channel\n\n{\n\t\"channel\": {\n\t\t\"name\": \"Integration\"\n\t}\n}\n",
          "x": 137.5,
          "y": 496,
          "wires": [

          ]
        },
        {
          "id": "93d4f6fd.453358",
          "type": "vars",
          "z": "4fc6c84.9271b38",
          "name": "CONSUL",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "https://es110c.canzea.cc/gw/admin/#flow/4fc6c84.9271b38",
                "ancestorOrigins": {
                },
                "origin": "https://es110c.canzea.cc",
                "protocol": "https:",
                "host": "es110c.canzea.cc",
                "hostname": "es110c.canzea.cc",
                "port": "",
                "pathname": "/gw/admin/",
                "search": "",
                "hash": "#flow/4fc6c84.9271b38"
              },
              "jQuery111305858287869232": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "service",
              "v": "rocketchat",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "c792be07.29d4",
          "url": "https://consul.service.dc1.consul:8080",
          "x": 198,
          "y": 37,
          "wires": [
            [
              "ece03586.523688"
            ]
          ]
        }
      ]
    },
    {
      "id": "9ed8bb48.699498",
      "type": "subflow",
      "name": "Rocket.Chat Users",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "624b89c0.987a98"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 931.1110696792603,
          "y": 292.2222023010254,
          "wires": [
            {
              "id": "472f5778.caef18",
              "port": 0
            },
            {
              "id": "7256c98d.8beac8",
              "port": 0
            },
            {
              "id": "74617625.e54388",
              "port": 0
            },
            {
              "id": "f9469784.1fa678",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "8f5dbf2d.fd6b1",
          "type": "http request",
          "z": "9ed8bb48.699498",
          "name": "Login",
          "method": "POST",
          "ret": "obj",
          "url": "http://localhost:8780/api/login",
          "tls": "",
          "x": 414.3888702392578,
          "y": 109.99999237060547,
          "wires": [
            [
              "fc402e1a.0369b"
            ]
          ]
        },
        {
          "id": "624b89c0.987a98",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Prep Creds",
          "func": "msg.message = msg.payload;\nmsg.params = msg.req.params;\nmsg.payload = {\n    \"user\": \"admin\",\n    \"password\": \"admin1admin\"\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 254.3888702392578,
          "y": 111.99999237060547,
          "wires": [
            [
              "8f5dbf2d.fd6b1"
            ]
          ]
        },
        {
          "id": "fc402e1a.0369b",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Set Headers",
          "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.req_headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 583.3888702392578,
          "y": 111.99999237060547,
          "wires": [
            [
              "6e1a8708.c5fc78"
            ]
          ]
        },
        {
          "id": "7a2c803d.753e2",
          "type": "http request",
          "z": "9ed8bb48.699498",
          "name": "Create User",
          "method": "POST",
          "ret": "txt",
          "url": "http://localhost:8780/api/v1/users.create",
          "tls": "",
          "x": 521.3888702392578,
          "y": 198.99999237060547,
          "wires": [
            [
              "14530014.402bc"
            ]
          ]
        },
        {
          "id": "6e284823.de3f48",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Create User",
          "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nmsg.payload = msg.message;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 337.3888702392578,
          "y": 198.99999237060547,
          "wires": [
            [
              "7a2c803d.753e2"
            ]
          ]
        },
        {
          "id": "6e1a8708.c5fc78",
          "type": "switch",
          "z": "9ed8bb48.699498",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "create-user",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 183.8888702392578,
          "y": 170.99999237060547,
          "wires": [
            [
              "6e284823.de3f48"
            ],
            [
              "74617625.e54388"
            ]
          ]
        },
        {
          "id": "472f5778.caef18",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Success",
          "func": "msg.payload = '';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 819.8888702392578,
          "y": 191.99999237060547,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "f7137cc3.5c541",
          "type": "catch",
          "z": "9ed8bb48.699498",
          "name": "",
          "scope": null,
          "x": 640.8888702392578,
          "y": 458.99999237060547,
          "wires": [
            [
              "f9469784.1fa678"
            ]
          ]
        },
        {
          "id": "f9469784.1fa678",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 769.3888702392578,
          "y": 458.99999237060547,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "14530014.402bc",
          "type": "switch",
          "z": "9ed8bb48.699498",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 679.3888702392578,
          "y": 198.99999237060547,
          "wires": [
            [
              "472f5778.caef18"
            ],
            [
              "7256c98d.8beac8"
            ]
          ]
        },
        {
          "id": "7256c98d.8beac8",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 810.3888702392578,
          "y": 229.99999237060547,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "74617625.e54388",
          "type": "function",
          "z": "9ed8bb48.699498",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 649.8888702392578,
          "y": 419.99999237060547,
          "wires": [
            [

            ]
          ]
        }
      ]
    },
    {
      "id": "3206ac46.8fc5e4",
      "type": "subflow",
      "name": "Rocket.Chat Groups",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "2f0d33f6.59d3ac"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 922.2222213745117,
          "y": 299.9999942779541,
          "wires": [
            {
              "id": "b9406d77.b5896",
              "port": 0
            },
            {
              "id": "5b5ec790.f056b8",
              "port": 0
            },
            {
              "id": "e27e3c57.d1de6",
              "port": 0
            },
            {
              "id": "74af886f.114368",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "959c7509.06f018",
          "type": "http request",
          "z": "3206ac46.8fc5e4",
          "name": "Login",
          "method": "POST",
          "ret": "obj",
          "url": "http://localhost:8780/api/login",
          "tls": "",
          "x": 395.5555419921875,
          "y": 122.22221374511719,
          "wires": [
            [
              "8c71ed65.7e45"
            ]
          ]
        },
        {
          "id": "2f0d33f6.59d3ac",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Prep Creds",
          "func": "msg.message = msg.payload;\nmsg.params = msg.req.params;\nmsg.payload = {\n    \"user\": \"admin\",\n    \"password\": \"admin1admin\"\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 235.5555419921875,
          "y": 124.22221374511719,
          "wires": [
            [
              "959c7509.06f018"
            ]
          ]
        },
        {
          "id": "8c71ed65.7e45",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Set Headers",
          "func": "token = msg.payload.data.authToken;\nuserId = msg.payload.data.userId;\nmsg.req_headers = {\n    \"X-Auth-Token\": token,\n    \"X-User-Id\": userId,\n    'Content-Type': 'application/json'\n};\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 564.5555419921875,
          "y": 124.22221374511719,
          "wires": [
            [
              "96ea9808.6b2d18"
            ]
          ]
        },
        {
          "id": "4b1d496.9abd5b8",
          "type": "http request",
          "z": "3206ac46.8fc5e4",
          "name": "Create Group",
          "method": "POST",
          "ret": "txt",
          "url": "http://localhost:8780/api/v1/groups.create",
          "tls": "",
          "x": 512.5555419921875,
          "y": 211.2222137451172,
          "wires": [
            [
              "48eea152.5f465"
            ]
          ]
        },
        {
          "id": "96cd0fcb.8d846",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Create Group",
          "func": "//msg.topic = msg.payload.channels[0]._id;\nmsg.headers = msg.req_headers;\nmsg.payload = msg.message;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 328.5555419921875,
          "y": 211.2222137451172,
          "wires": [
            [
              "4b1d496.9abd5b8"
            ]
          ]
        },
        {
          "id": "96ea9808.6b2d18",
          "type": "switch",
          "z": "3206ac46.8fc5e4",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "create-group",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 165.0555419921875,
          "y": 183.2222137451172,
          "wires": [
            [
              "96cd0fcb.8d846"
            ],
            [
              "e27e3c57.d1de6"
            ]
          ]
        },
        {
          "id": "b9406d77.b5896",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Success",
          "func": "msg.payload = '';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 801.0555419921875,
          "y": 204.2222137451172,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "73d3c736.c150a8",
          "type": "catch",
          "z": "3206ac46.8fc5e4",
          "name": "",
          "scope": null,
          "x": 622.0555419921875,
          "y": 471.2222137451172,
          "wires": [
            [
              "74af886f.114368"
            ]
          ]
        },
        {
          "id": "74af886f.114368",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 750.5555419921875,
          "y": 471.2222137451172,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "48eea152.5f465",
          "type": "switch",
          "z": "3206ac46.8fc5e4",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 660.5555419921875,
          "y": 211.2222137451172,
          "wires": [
            [
              "b9406d77.b5896"
            ],
            [
              "5b5ec790.f056b8"
            ]
          ]
        },
        {
          "id": "5b5ec790.f056b8",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 791.5555419921875,
          "y": 242.2222137451172,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "e27e3c57.d1de6",
          "type": "function",
          "z": "3206ac46.8fc5e4",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 631.0555419921875,
          "y": 432.2222137451172,
          "wires": [
            [

            ]
          ]
        }
      ]
    },
    {
      "id": "fcb37b93.778448",
      "type": "subflow",
      "name": "Vault",
      "info": "# Input\n\nmsg.key = msg.req.query.key;\n\nmsg.topic = 'get-secret';\n\n",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "38801932.546906"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 978.2222290039062,
          "y": 402.44444274902344,
          "wires": [
            {
              "id": "ab30438b.20ee2",
              "port": 0
            },
            {
              "id": "1f12d0d4.a9371f",
              "port": 0
            },
            {
              "id": "8fa9c36.557a24",
              "port": 0
            },
            {
              "id": "79f70a23.478534",
              "port": 0
            },
            {
              "id": "c0fe0b1a.f71868",
              "port": 0
            },
            {
              "id": "27d49b6e.826e14",
              "port": 0
            },
            {
              "id": "ced91e10.4300b",
              "port": 0
            },
            {
              "id": "ebdfe6a9.6af2d8",
              "port": 0
            },
            {
              "id": "242b572b.fdc1d8",
              "port": 0
            },
            {
              "id": "d280e7d8.293768",
              "port": 0
            }
          ]
        }
      ],
      "configs": [
        {
          "id": "be84c2a0.aaf04",
          "type": "tls-config",
          "z": "fcb37b93.778448",
          "name": "",
          "cert": "/etc/vault/ssl/vault.cert",
          "key": "/etc/vault/ssl/vault.key",
          "ca": "/etc/vault/ssl/ca.cert",
          "certname": "",
          "keyname": "",
          "caname": "",
          "verifyservercert": false
        }
      ],
      "nodes": [
        {
          "id": "e2a4bbee.650408",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Get Secret",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/secret/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 527.111083984375,
          "y": 288.3333282470703,
          "wires": [
            [
              "fc9c4956.c5ee48"
            ]
          ]
        },
        {
          "id": "18569209.66ad3e",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "cont",
              "v": "secret",
              "vt": "str"
            },
            {
              "t": "cont",
              "v": "polic",
              "vt": "str"
            },
            {
              "t": "cont",
              "v": "user",
              "vt": "str"
            },
            {
              "t": "cont",
              "v": "approle",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 5,
          "x": 96.72219848632812,
          "y": 251.5555419921875,
          "wires": [
            [
              "23a7d77b.d4e9e8"
            ],
            [
              "2fa46cc4.d4f984"
            ],
            [
              "1dfbb886.674c07"
            ],
            [
              "ce7bfc1.52c8a"
            ],
            [
              "8fa9c36.557a24"
            ]
          ]
        },
        {
          "id": "ab30438b.20ee2",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Success",
          "func": "//msg.payload = (msg.payload ? msg.payload.data:\"\");\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 825.611083984375,
          "y": 306.3333282470703,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "cacce969.377a58",
          "type": "catch",
          "z": "fcb37b93.778448",
          "name": "",
          "scope": null,
          "x": 705.611083984375,
          "y": 218.33331298828125,
          "wires": [
            [
              "79f70a23.478534"
            ]
          ]
        },
        {
          "id": "79f70a23.478534",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 834.111083984375,
          "y": 218.33331298828125,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "fc9c4956.c5ee48",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 691.111083984375,
          "y": 321.33331298828125,
          "wires": [
            [
              "ab30438b.20ee2"
            ],
            [
              "1f12d0d4.a9371f"
            ]
          ]
        },
        {
          "id": "1f12d0d4.a9371f",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 826.111083984375,
          "y": 355.3333282470703,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "8fa9c36.557a24",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 818.611083984375,
          "y": 25.33331298828125,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "775ab12.af28c5",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Set Headers",
          "func": "msg.headers = {\n    \"X-Vault-Token\":msg.envs.SERVICE_VAULT_TOKEN\n};\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 136,
          "y": 77,
          "wires": [
            [
              "18569209.66ad3e"
            ]
          ]
        },
        {
          "id": "f7554218.e2e43",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Put Secret",
          "method": "PUT",
          "ret": "txt",
          "url": "https://vault.service.dc1.consul:8200/v1/secret/{{{key}}}",
          "tls": "94073df5.ac54f",
          "x": 529,
          "y": 320,
          "wires": [
            [
              "fc9c4956.c5ee48"
            ]
          ]
        },
        {
          "id": "3c790476.b6ec5c",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Delete Secret",
          "method": "DELETE",
          "ret": "txt",
          "url": "https://vault.service.dc1.consul:8200/v1/secret/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 537,
          "y": 352,
          "wires": [
            [
              "fc9c4956.c5ee48"
            ]
          ]
        },
        {
          "id": "c80c65dd.832ac8",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Get Policies",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/sys/policy",
          "tls": "be84c2a0.aaf04",
          "x": 533,
          "y": 540,
          "wires": [
            [
              "7cb5f305.dc8e2c"
            ]
          ]
        },
        {
          "id": "499d6701.a690b8",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Get Policy",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/sys/policy/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 536,
          "y": 661,
          "wires": [
            [
              "7cb5f305.dc8e2c"
            ]
          ]
        },
        {
          "id": "9e1e2a5b.2b1108",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Put Policy",
          "method": "PUT",
          "ret": "txt",
          "url": "https://vault.service.dc1.consul:8200/v1/sys/policy/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 527,
          "y": 581,
          "wires": [
            [
              "7cb5f305.dc8e2c"
            ]
          ]
        },
        {
          "id": "e6ba2799.1d03b8",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Delete Policy",
          "method": "DELETE",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/sys/policy/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 535,
          "y": 619,
          "wires": [
            [
              "7cb5f305.dc8e2c"
            ]
          ]
        },
        {
          "id": "2e7a5176.51bd5e",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Get Users",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/userpass/users?list=true",
          "tls": "be84c2a0.aaf04",
          "x": 513,
          "y": 389,
          "wires": [
            [
              "3f0d969f.04bd1a"
            ]
          ]
        },
        {
          "id": "a2948737.ebc6b8",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Get AppRoles",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/approle/role?list=true",
          "tls": "be84c2a0.aaf04",
          "x": 545,
          "y": 698,
          "wires": [
            [
              "ceb0b1c.ed3eb5",
              "dbd62402.4a68b8"
            ]
          ]
        },
        {
          "id": "ceb0b1c.ed3eb5",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 770,
          "y": 760,
          "wires": [
            [
              "c0fe0b1a.f71868"
            ],
            [
              "27d49b6e.826e14"
            ]
          ]
        },
        {
          "id": "c0fe0b1a.f71868",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Success",
          "func": "msg.payload = (msg.payload ? msg.payload.data:\"\");\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 932,
          "y": 741,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "27d49b6e.826e14",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 920.5,
          "y": 780,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "e90b857e.a920d8",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Get AppRole",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/approle/role/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 536,
          "y": 823,
          "wires": [
            [
              "ceb0b1c.ed3eb5"
            ]
          ]
        },
        {
          "id": "41b11fc6.11a56",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Put AppRole",
          "method": "POST",
          "ret": "txt",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/approle/role/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 533,
          "y": 740,
          "wires": [
            [
              "ceb0b1c.ed3eb5"
            ]
          ]
        },
        {
          "id": "5cf91bf1.8c5084",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "Delete AppRole",
          "method": "DELETE",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/approle/role/{{{key}}}",
          "tls": "be84c2a0.aaf04",
          "x": 545,
          "y": 782,
          "wires": [
            [
              "ceb0b1c.ed3eb5"
            ]
          ]
        },
        {
          "id": "87e0ec2f.c2b67",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "POST User",
          "method": "POST",
          "ret": "txt",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/userpass/users/{{key}}",
          "tls": "be84c2a0.aaf04",
          "x": 523,
          "y": 425,
          "wires": [
            [
              "3f0d969f.04bd1a"
            ]
          ]
        },
        {
          "id": "87fa8357.4a068",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "DELETE User",
          "method": "DELETE",
          "ret": "txt",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/userpass/users/{{key}}",
          "tls": "be84c2a0.aaf04",
          "x": 535,
          "y": 463,
          "wires": [
            [
              "3f0d969f.04bd1a"
            ]
          ]
        },
        {
          "id": "495cd93c.e1c688",
          "type": "http request",
          "z": "fcb37b93.778448",
          "name": "GET User",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/auth/userpass/users/{{key}}",
          "tls": "be84c2a0.aaf04",
          "x": 522,
          "y": 501,
          "wires": [
            [
              "3f0d969f.04bd1a"
            ]
          ]
        },
        {
          "id": "38801932.546906",
          "type": "vars",
          "z": "fcb37b93.778448",
          "name": "VAULT",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "http://198.199.87.225:8000/admin/#flow/fcb37b93.778448",
                "ancestorOrigins": {
                },
                "origin": "http://198.199.87.225:8000",
                "protocol": "http:",
                "host": "198.199.87.225:8000",
                "hostname": "198.199.87.225",
                "port": "8000",
                "pathname": "/admin/",
                "search": "",
                "hash": "#flow/fcb37b93.778448"
              },
              "jQuery111305732443021855118": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "secret",
              "v": "service/vault",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "94073df5.ac54f",
          "url": "https://vault.service.dc1.consul:8200",
          "x": 158.5,
          "y": 31,
          "wires": [
            [
              "775ab12.af28c5"
            ]
          ]
        },
        {
          "id": "ce7bfc1.52c8a",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "APPROLE",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "get-approles",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "put-approle",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "delete-approle",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "get-approle",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 331,
          "y": 764,
          "wires": [
            [
              "a2948737.ebc6b8"
            ],
            [
              "41b11fc6.11a56"
            ],
            [
              "5cf91bf1.8c5084"
            ],
            [
              "e90b857e.a920d8"
            ]
          ]
        },
        {
          "id": "2fa46cc4.d4f984",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "POLICY",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "get-policies",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:vault_policy",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:vault_policy",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "get-policy",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 337,
          "y": 603,
          "wires": [
            [
              "c80c65dd.832ac8"
            ],
            [
              "9e1e2a5b.2b1108"
            ],
            [
              "e6ba2799.1d03b8"
            ],
            [
              "499d6701.a690b8"
            ]
          ]
        },
        {
          "id": "1dfbb886.674c07",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "USER",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "get-users",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:vault_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:vault_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "check:vault_user",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 337,
          "y": 470,
          "wires": [
            [
              "2e7a5176.51bd5e"
            ],
            [
              "87e0ec2f.c2b67"
            ],
            [
              "87fa8357.4a068"
            ],
            [
              "495cd93c.e1c688"
            ]
          ]
        },
        {
          "id": "23a7d77b.d4e9e8",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "SECRET",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "check:vault_secret",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:vault_secret",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:vault_secret",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 329,
          "y": 324,
          "wires": [
            [
              "e2a4bbee.650408"
            ],
            [
              "f7554218.e2e43"
            ],
            [
              "3c790476.b6ec5c"
            ],
            [
              "8fa9c36.557a24"
            ]
          ]
        },
        {
          "id": "7cb5f305.dc8e2c",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 750,
          "y": 598,
          "wires": [
            [
              "ced91e10.4300b"
            ],
            [
              "ebdfe6a9.6af2d8"
            ]
          ]
        },
        {
          "id": "ced91e10.4300b",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Success",
          "func": "msg.payload = (msg.payload ? msg.payload.data:\"\");\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 883,
          "y": 604,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "ebdfe6a9.6af2d8",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 871.5,
          "y": 643,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "3f0d969f.04bd1a",
          "type": "switch",
          "z": "fcb37b93.778448",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 733,
          "y": 444,
          "wires": [
            [
              "242b572b.fdc1d8"
            ],
            [
              "d280e7d8.293768"
            ]
          ]
        },
        {
          "id": "242b572b.fdc1d8",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Success",
          "func": "msg.payload = (msg.payload ? msg.payload.data:\"\");\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 887,
          "y": 417,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "d280e7d8.293768",
          "type": "function",
          "z": "fcb37b93.778448",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 875.5,
          "y": 456,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "dbd62402.4a68b8",
          "type": "debug",
          "z": "fcb37b93.778448",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 863.5,
          "y": 689,
          "wires": [

          ]
        }
      ]
    },
    {
      "id": "9223e50a.f92628",
      "type": "subflow",
      "name": "Exports / Nodered",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "dcef7767.7eb788"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 579.9999618530273,
          "y": 473.333345413208,
          "wires": [
            {
              "id": "42625c48.dbece4",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "42625c48.dbece4",
          "type": "bigexec",
          "z": "9223e50a.f92628",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "--lifecycle=wire --solution=nodered --action=export-flows --raw",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "triggerNoStdin",
          "x": 298.6666717529297,
          "y": 217.77777099609375,
          "wires": [
            [

            ],
            [

            ],
            [

            ]
          ]
        },
        {
          "id": "dcef7767.7eb788",
          "type": "function",
          "z": "9223e50a.f92628",
          "name": "",
          "func": "\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 109.66667175292969,
          "y": 139.27777099609375,
          "wires": [
            [
              "42625c48.dbece4"
            ]
          ]
        }
      ]
    },
    {
      "id": "ea5122d7.76e78",
      "type": "subflow",
      "name": "Components",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "19b02aef.72eaf5"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1158.75,
          "y": 291.75,
          "wires": [
            {
              "id": "530496a.2ecf268",
              "port": 0
            },
            {
              "id": "98ce0df9.bb629",
              "port": 0
            },
            {
              "id": "e37a45a.a7760b8",
              "port": 0
            },
            {
              "id": "42041544.cc859c",
              "port": 0
            },
            {
              "id": "caf35c01.cde71",
              "port": 0
            },
            {
              "id": "9f98b8de.a9ff38",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "cb398cc2.c4dca",
          "type": "inject",
          "z": "ea5122d7.76e78",
          "name": "",
          "topic": "",
          "payload": "",
          "payloadType": "date",
          "repeat": "",
          "crontab": "",
          "once": false,
          "x": 151.25,
          "y": 228.75,
          "wires": [
            [
              "acab1536.bbca78"
            ]
          ]
        },
        {
          "id": "acab1536.bbca78",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Prep New Component",
          "func": "pl = msg.payload;\n\nargs = {\n    \"root\": \"components\",\n    \"key\": pl.name,\n    \"values\": pl\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=consul --action=add_keyvalue --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 418.25,
          "y": 224.75,
          "wires": [
            [
              "eadeecad.f2baf"
            ]
          ]
        },
        {
          "id": "eadeecad.f2baf",
          "type": "bigexec",
          "z": "ea5122d7.76e78",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 700,
          "y": 300,
          "wires": [
            [

            ],
            [
              "999cb956.5d6018"
            ],
            [

            ]
          ]
        },
        {
          "id": "5dbb09c7.7f3108",
          "type": "inject",
          "z": "ea5122d7.76e78",
          "name": "",
          "topic": "",
          "payload": "",
          "payloadType": "date",
          "repeat": "",
          "crontab": "",
          "once": false,
          "x": 152.25,
          "y": 303.75,
          "wires": [
            [
              "b91e0771.ab0008"
            ]
          ]
        },
        {
          "id": "b91e0771.ab0008",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Prep New Component Pipeline",
          "func": "pl = msg.payload;\nname = pl.name;\n\nargs = {\n    \"root\": \"components\",\n    \"key\": \"gs-actuator-service/pipelines/gs-actuator-service-1.0.3-Build\",\n    \"values\": {\n        \"type\": \"build\"\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=consul --action=add_keyvalue --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 449.25,
          "y": 299.75,
          "wires": [
            [
              "eadeecad.f2baf"
            ]
          ]
        },
        {
          "id": "bca9e29b.3efc6",
          "type": "catch",
          "z": "ea5122d7.76e78",
          "name": "",
          "scope": null,
          "x": 860,
          "y": 400,
          "wires": [
            [
              "530496a.2ecf268"
            ]
          ]
        },
        {
          "id": "530496a.2ecf268",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 988.5,
          "y": 400,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "999cb956.5d6018",
          "type": "switch",
          "z": "ea5122d7.76e78",
          "name": "",
          "property": "control.state",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "end",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "error",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 3,
          "x": 855.75,
          "y": 295.5,
          "wires": [
            [
              "caf35c01.cde71"
            ],
            [
              "98ce0df9.bb629"
            ],
            [

            ]
          ]
        },
        {
          "id": "98ce0df9.bb629",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 982.75,
          "y": 324.5,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "1c9d34b6.48706b",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Analyze",
          "func": "args = msg.payload;\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --raw --solution=application --action=analyze-project --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 521,
          "y": 36,
          "wires": [
            [
              "96c46328.96cb7"
            ]
          ]
        },
        {
          "id": "19b02aef.72eaf5",
          "type": "switch",
          "z": "ea5122d7.76e78",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "analyze-project",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "add-component",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:component_metadata",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:component_metadata",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 5,
          "x": 215.5,
          "y": 51,
          "wires": [
            [
              "1c9d34b6.48706b"
            ],
            [
              "acab1536.bbca78"
            ],
            [
              "7a1da86c.1cefd8"
            ],
            [
              "87f8878c.20d6f8"
            ],
            [
              "e37a45a.a7760b8"
            ]
          ]
        },
        {
          "id": "e37a45a.a7760b8",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Invalid Topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 862.5,
          "y": 67,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "63667c87.3f6ab4",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "To String",
          "func": "msg.payload = msg.payload.toString();\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 874,
          "y": 126,
          "wires": [
            [
              "42041544.cc859c"
            ]
          ]
        },
        {
          "id": "42041544.cc859c",
          "type": "json",
          "z": "ea5122d7.76e78",
          "name": "",
          "x": 1010.5,
          "y": 126,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "96c46328.96cb7",
          "type": "bigexec",
          "z": "ea5122d7.76e78",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 703,
          "y": 142,
          "wires": [
            [
              "63667c87.3f6ab4",
              "a9b19818.a3f258"
            ],
            [

            ],
            [
              "9f98b8de.a9ff38",
              "a9b19818.a3f258"
            ]
          ]
        },
        {
          "id": "caf35c01.cde71",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Success",
          "func": "msg.statusCode = 200;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 993,
          "y": 283,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "87f8878c.20d6f8",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Minus:component_metadata",
          "func": "pl = msg.payload;\n\nargs = {\n    \"root\": \"components\",\n    \"key\": msg.key,\n    \"values\": pl\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=consul --action=delete_keyvalue --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 461,
          "y": 182,
          "wires": [
            [
              "da5bf87f.edeab8"
            ]
          ]
        },
        {
          "id": "da5bf87f.edeab8",
          "type": "bigexec",
          "z": "ea5122d7.76e78",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 701,
          "y": 221,
          "wires": [
            [

            ],
            [
              "999cb956.5d6018"
            ],
            [

            ]
          ]
        },
        {
          "id": "7a1da86c.1cefd8",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Plus:component_metadata",
          "func": "pl = msg.payload;\n\nargs = {\n    \"root\": \"components\",\n    \"key\": msg.key,\n    \"values\": pl\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=consul --action=add_keyvalue --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 456,
          "y": 123,
          "wires": [
            [
              "da5bf87f.edeab8"
            ]
          ]
        },
        {
          "id": "9f98b8de.a9ff38",
          "type": "function",
          "z": "ea5122d7.76e78",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 970,
          "y": 240,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "a9b19818.a3f258",
          "type": "debug",
          "z": "ea5122d7.76e78",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "payload",
          "x": 963.5,
          "y": 172,
          "wires": [

          ]
        }
      ]
    },
    {
      "id": "a1cb3587.05ca68",
      "type": "subflow",
      "name": "Go.CD Pipelines",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "68568a1e.58a984"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1126,
          "y": 505,
          "wires": [
            {
              "id": "6ec8b063.eb31a",
              "port": 0
            },
            {
              "id": "c82394d4.3bd098",
              "port": 0
            },
            {
              "id": "62f08c58.9168b4",
              "port": 0
            },
            {
              "id": "6a21d3e1.de7c0c",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "9feb67be.1e39d8",
          "type": "switch",
          "z": "a1cb3587.05ca68",
          "name": "",
          "property": "control.state",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "start",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "running",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "end",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "error",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 705.5,
          "y": 296,
          "wires": [
            [

            ],
            [

            ],
            [
              "6ec8b063.eb31a"
            ],
            [
              "c82394d4.3bd098"
            ]
          ]
        },
        {
          "id": "5ca32374.a6013c",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Prepare GET",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"type\": \"pipelines\",\n        \"name\": pl.name + \"-\" + pl.branch + \"-Build\"\n    }\n};\n\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=get-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 309.5,
          "y": 250,
          "wires": [
            [
              "ec0f5e65.28ec4"
            ]
          ]
        },
        {
          "id": "28da27c6.08b1d8",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "create-build-pipeline",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"type\":\"pipelines\",\n        \"name\": pl.pipelineName\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=post-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 320,
          "y": 340,
          "wires": [
            [
              "9ad44d91.13f87"
            ]
          ]
        },
        {
          "id": "9ad44d91.13f87",
          "type": "bigexec",
          "z": "a1cb3587.05ca68",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 478.5,
          "y": 329,
          "wires": [
            [
              "dd651a31.1779b8"
            ],
            [
              "9feb67be.1e39d8"
            ],
            [
              "dd651a31.1779b8"
            ]
          ]
        },
        {
          "id": "79cc2dd2.2e9744",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Prepare UNPAUSE",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"name\": pl.pipelineName\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=unpause --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 297.5,
          "y": 439,
          "wires": [
            [
              "a9ff3c48.849d5"
            ]
          ]
        },
        {
          "id": "a9ff3c48.849d5",
          "type": "bigexec",
          "z": "a1cb3587.05ca68",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 501.5,
          "y": 445,
          "wires": [
            [

            ],
            [
              "9feb67be.1e39d8"
            ],
            [

            ]
          ]
        },
        {
          "id": "cc918e27.33987",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Prepare Add to Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"type\":\"environments\",\n        \"name\": pl.environment,\n        \"pipelineName\": pl.pipelineName\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=add-pipeline-to-environment --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 322.5,
          "y": 536,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "5b613472.09fcdc",
          "type": "bigexec",
          "z": "a1cb3587.05ca68",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 694.5,
          "y": 501,
          "wires": [
            [
              "c9bc3421.f55bd8"
            ],
            [
              "9feb67be.1e39d8"
            ],
            [

            ]
          ]
        },
        {
          "id": "4d099c74.66e8b4",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Prepare SCHEDULE",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"name\": pl.pipelineName\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=schedule --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 297.5,
          "y": 384,
          "wires": [
            [
              "cb41efdc.c4c9b"
            ]
          ]
        },
        {
          "id": "cb41efdc.c4c9b",
          "type": "bigexec",
          "z": "a1cb3587.05ca68",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 484.5,
          "y": 386,
          "wires": [
            [

            ],
            [
              "9feb67be.1e39d8"
            ],
            [

            ]
          ]
        },
        {
          "id": "eac99bac.c14ee8",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "prepare-for-build",
          "func": "pl = msg.payload;\n\nargs = {\n    \"type\": pl.type,\n    \"name\": pl.name,\n    \"version\": pl.version,\n    \"qualifier\":\"N\", \n    \"N\":{\n        \"pattern\":\"Build\",\n        \"name\": pl.pipelineName\n    }, \n    \"localUrl\": pl.url,\n    \"localBranch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = [\n    \"--lifecycle=wire\",\n    \"--solution=gocd\",\n    \"--action=update-pipeline-for-build\",\n    \"--args='\" + argsString + \"'\"].join(' ');\n\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 290,
          "y": 159,
          "wires": [
            [
              "ec0f5e65.28ec4"
            ]
          ]
        },
        {
          "id": "ec0f5e65.28ec4",
          "type": "bigexec",
          "z": "a1cb3587.05ca68",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 533,
          "y": 191,
          "wires": [
            [

            ],
            [
              "9feb67be.1e39d8"
            ],
            [

            ]
          ]
        },
        {
          "id": "68568a1e.58a984",
          "type": "switch",
          "z": "a1cb3587.05ca68",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "prepare-for-deploy",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "prepare-for-build",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "create-build-pipeline",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "create-deploy-pipeline",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "unpause",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "schedule",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "get-pipeline",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "get-environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "add-pipeline-to-environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "save-environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "enable-agent",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "disable-agent",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "link-agent-to-environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "unlink-agent-from-environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "delete-agent",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:pipeline_environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:pipeline_environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:pipeline_pipeline",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:pipeline_pipeline",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "unlink-pipeline-from-environment",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 21,
          "x": 98,
          "y": 239,
          "wires": [
            [
              "bb42f351.29665"
            ],
            [
              "eac99bac.c14ee8"
            ],
            [
              "28da27c6.08b1d8"
            ],
            [
              "c5dd1680.b940f8"
            ],
            [
              "79cc2dd2.2e9744"
            ],
            [
              "4d099c74.66e8b4"
            ],
            [
              "5ca32374.a6013c"
            ],
            [
              "b426554a.f6fee8"
            ],
            [
              "cc918e27.33987"
            ],
            [
              "921157ec.f93fd8"
            ],
            [
              "5e74494e.dc0638"
            ],
            [
              "10776d95.1dd122"
            ],
            [
              "cee840ab.17eb7"
            ],
            [
              "7d0cb397.7fdecc"
            ],
            [
              "ca2ae57c.01b738"
            ],
            [
              "8481ad6b.e380e"
            ],
            [
              "99cf1bde.3fd588"
            ],
            [
              "862cd383.bbfce"
            ],
            [
              "7b931058.0e364"
            ],
            [
              "963cfeb0.49032"
            ],
            [
              "6a21d3e1.de7c0c"
            ]
          ]
        },
        {
          "id": "6ec8b063.eb31a",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Success",
          "func": "msg.payload = '';\nmsg.statusCode = 200;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 865,
          "y": 289,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "c82394d4.3bd098",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 855.5,
          "y": 327,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "20839f2d.dca2c",
          "type": "catch",
          "z": "a1cb3587.05ca68",
          "name": "",
          "scope": null,
          "x": 760,
          "y": 386,
          "wires": [
            [
              "62f08c58.9168b4",
              "85db0135.02b9e"
            ]
          ]
        },
        {
          "id": "62f08c58.9168b4",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 934.5,
          "y": 457,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "6a21d3e1.de7c0c",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Error",
          "func": "msg.payload = 'Undefined topic' + msg.topic;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 263,
          "y": 696,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "dd651a31.1779b8",
          "type": "debug",
          "z": "a1cb3587.05ca68",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 1164.5,
          "y": 334,
          "wires": [

          ]
        },
        {
          "id": "bb42f351.29665",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "prepare-for-deploy",
          "func": "pl = msg.payload;\n\nargs = {\n    \"name\": pl.component,\n    \"version\": pl.version,\n    \"qualifier\":\"N\", \n    \"N\":{\n        \"pattern\":\"Deploy\",\n        \"name\": pl.pipelineName\n    }, \n    \"localUrl\": pl.url,\n    \"localBranch\": pl.branch,\n    \"build_pipeline\": pl.build_pipeline,\n    \"port\":pl.port\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = [\n    \"--lifecycle=wire\",\n    \"--solution=gocd\",\n    \"--action=update-pipeline-for-deploy\",\n    \"--args='\" + argsString + \"'\"].join(' ');\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 281,
          "y": 100,
          "wires": [
            [
              "ec0f5e65.28ec4"
            ]
          ]
        },
        {
          "id": "c5dd1680.b940f8",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "create-deploy-pipeline",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"type\":\"pipelines\",\n        \"name\": pl.pipelineName\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=post-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 291,
          "y": 295,
          "wires": [
            [
              "9ad44d91.13f87"
            ]
          ]
        },
        {
          "id": "b426554a.f6fee8",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Prepare Get Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"type\":\"environments\",\n        \"name\":pl.environment,\n        \"version\": 2\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=get-admin-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 312,
          "y": 491,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "921157ec.f93fd8",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Prepare Save Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"qualifier\": \"A\",\n    \"A\": {\n        \"type\":\"environments\",\n        \"name\":pl.environment\n    }\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=put-admin-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 322,
          "y": 576,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "c9bc3421.f55bd8",
          "type": "debug",
          "z": "a1cb3587.05ca68",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "false",
          "x": 873.5,
          "y": 513,
          "wires": [

          ]
        },
        {
          "id": "5e74494e.dc0638",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Enable Agent",
          "func": "pl = msg.payload;\n\nargs = {\n    \"agent\": pl.agent\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=combined/enable-agent --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 270,
          "y": 741,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "85db0135.02b9e",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "",
          "func": "msg.flow = 'GoCD Pipeline';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 1017.5,
          "y": 339,
          "wires": [
            [
              "dd651a31.1779b8"
            ]
          ]
        },
        {
          "id": "cee840ab.17eb7",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Link Agent to Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"environment\": pl.environment,\n    \"agent\": pl.agent\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\\\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=combined/add-agent-to-env --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 313,
          "y": 789,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "7d0cb397.7fdecc",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Unlink Agent from Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"environment\": pl.environment,\n    \"agent\": pl.agent\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\\\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=combined/unlink-agent-from-environment --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 320,
          "y": 831.25,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "ca2ae57c.01b738",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Delete Agent",
          "func": "pl = msg.payload;\n\nargs = {\n    \"environment\": pl.environment,\n    \"agent\": pl.agent\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=combined/delete-agent --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 263.75,
          "y": 870,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "8481ad6b.e380e",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Create Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"name\": msg.key\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args), '\"', '\"');\n\n//argsString = JSON.stringify(args);\n\nnode.warn(\"Arg String : \" +argsString);\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=create-environment --args='\" + argsString + \"'\";\n\nnode.warn(\"Payload : \" + msg.payload);\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 301,
          "y": 622,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "99cf1bde.3fd588",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Delete Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"type\": \"environments\",\n    \"name\": msg.key,\n    \"qualifier\": \"N/A\"\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args), '\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=delete-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 292,
          "y": 654,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "10776d95.1dd122",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Disable Agent",
          "func": "pl = msg.payload;\n\nargs = {\n    \"agent\": pl.agent\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=combined/disable-agent --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 278,
          "y": 768,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "7b931058.0e364",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Delete Pipeline",
          "func": "pl = msg.payload;\n\nargs = {\n    \"type\": \"pipelines\",\n    \"name\": msg.key,\n    \"qualifier\": \"N/A\",\n    \"version\": \"v3\"\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args), '\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=delete-object --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 290,
          "y": 919,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "963cfeb0.49032",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "Unlink Pipeline from Environment",
          "func": "pl = msg.payload;\n\nargs = {\n    \"environment\": pl.environment,\n    \"pipeline\": pl.pipeline\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\\\"');\n\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=combined/unlink-pipeline-from-environment --args='\" + argsString + \"'\";\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 334,
          "y": 955,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        },
        {
          "id": "862cd383.bbfce",
          "type": "function",
          "z": "a1cb3587.05ca68",
          "name": "prepare-for-build",
          "func": "pl = msg.payload;\n\nargs = {\n    \"type\": pl.type,\n    \"name\": pl.name,\n    \"version\": pl.version,\n    \"qualifier\":\"N\", \n    \"N\":{\n        \"pattern\":\"Build\",\n        \"name\": msg.key\n    }, \n    \"localUrl\": pl.url,\n    \"localBranch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = [\n    \"--lifecycle=wire\",\n    \"--solution=gocd\",\n    \"--action=combined/add-pipeline\",\n    \"--args='\" + argsString + \"'\"].join(' ');\n\n\nreturn msg;\n\n",
          "outputs": "1",
          "noerr": 0,
          "x": 312,
          "y": 1043,
          "wires": [
            [
              "5b613472.09fcdc"
            ]
          ]
        }
      ]
    },
    {
      "id": "cfce5daf.36867",
      "type": "subflow",
      "name": "Versioning",
      "info": "",
      "in": [
        {
          "x": 67,
          "y": 50,
          "wires": [
            {
              "id": "b208c042.9883c"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1145,
          "y": 278,
          "wires": [
            {
              "id": "97def39a.c6821",
              "port": 0
            },
            {
              "id": "8b4ccd03.63b6f",
              "port": 0
            },
            {
              "id": "e336eb48.cc1b78",
              "port": 0
            },
            {
              "id": "877c34dc.fb22f8",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "39f65ba.c8c33a4",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Prep New Application",
          "func": "args = msg.payload;\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=new-application --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 379,
          "y": 142,
          "wires": [
            [
              "55cf36b7.64ee48"
            ]
          ]
        },
        {
          "id": "55cf36b7.64ee48",
          "type": "bigexec",
          "z": "cfce5daf.36867",
          "name": "",
          "command": "/home/pm2user/canzea.sh",
          "commandArgs": "",
          "minError": 1,
          "minWarning": 1,
          "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
          "shell": "",
          "extraArgumentProperty": "",
          "envProperty": "",
          "format": "utf8",
          "limiter": true,
          "payloadIs": "argumentNoStdin",
          "x": 646.5,
          "y": 222,
          "wires": [
            [

            ],
            [
              "d298e2e7.03682"
            ],
            [

            ]
          ]
        },
        {
          "id": "b28af2e.55eca1",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Prep Merge Develop",
          "func": "pl = msg.payload;\nname = pl.name;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=merge-develop --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 394.5,
          "y": 251,
          "wires": [
            [
              "55cf36b7.64ee48"
            ]
          ]
        },
        {
          "id": "4e42501f.4bc4a",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Prep Finish",
          "func": "pl = msg.payload;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=finish --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 367.5,
          "y": 305,
          "wires": [
            [
              "55cf36b7.64ee48"
            ]
          ]
        },
        {
          "id": "4a59b7b.19cba48",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Prep Cleanup",
          "func": "pl = msg.payload;\nname = pl.name;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=cleanup --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 375.5,
          "y": 351,
          "wires": [
            [
              "55cf36b7.64ee48"
            ]
          ]
        },
        {
          "id": "35717101.a446fe",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Prep Create",
          "func": "pl = msg.payload;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=create --args='\" + argsString + \"'\";\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 352.5,
          "y": 194,
          "wires": [
            [
              "55cf36b7.64ee48"
            ]
          ]
        },
        {
          "id": "d298e2e7.03682",
          "type": "switch",
          "z": "cfce5daf.36867",
          "name": "",
          "property": "control.state",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "start",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "running",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "end",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "error",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 782,
          "y": 222,
          "wires": [
            [

            ],
            [

            ],
            [
              "e336eb48.cc1b78"
            ],
            [
              "8b4ccd03.63b6f"
            ]
          ]
        },
        {
          "id": "e336eb48.cc1b78",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Success",
          "func": "msg.payload = '';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 941.5,
          "y": 215,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "8b4ccd03.63b6f",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Error",
          "func": "msg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 932,
          "y": 253,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "5383f2c9.36f0cc",
          "type": "catch",
          "z": "cfce5daf.36867",
          "name": "",
          "scope": null,
          "x": 908.5,
          "y": 363,
          "wires": [
            [
              "97def39a.c6821"
            ]
          ]
        },
        {
          "id": "97def39a.c6821",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 1037,
          "y": 363,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "b208c042.9883c",
          "type": "switch",
          "z": "cfce5daf.36867",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "new",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "create",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "merge-develop",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "finish",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "cleanup",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 6,
          "x": 153,
          "y": 218,
          "wires": [
            [
              "39f65ba.c8c33a4"
            ],
            [
              "35717101.a446fe"
            ],
            [
              "b28af2e.55eca1"
            ],
            [
              "4e42501f.4bc4a"
            ],
            [
              "4a59b7b.19cba48"
            ],
            [
              "877c34dc.fb22f8"
            ]
          ]
        },
        {
          "id": "877c34dc.fb22f8",
          "type": "function",
          "z": "cfce5daf.36867",
          "name": "Error",
          "func": "msg.payload = 'Undefined topic' + msg.topic;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 588,
          "y": 492,
          "wires": [
            [

            ]
          ]
        }
      ]
    },
    {
      "id": "a6b9a798.463af8",
      "type": "subflow",
      "name": "Consul Services",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 179,
          "wires": [
            {
              "id": "ef505d18.7367"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1040,
          "y": 220,
          "wires": [
            {
              "id": "5e75657b.1e49bc",
              "port": 0
            },
            {
              "id": "7f08106e.19757",
              "port": 0
            },
            {
              "id": "6dd7b3d.d4dda4c",
              "port": 0
            },
            {
              "id": "b3150035.75da2",
              "port": 0
            },
            {
              "id": "b41465b0.dff418",
              "port": 0
            },
            {
              "id": "6b9c82dc.ca52ec",
              "port": 0
            },
            {
              "id": "1497a281.b22ffd",
              "port": 0
            },
            {
              "id": "d584c3b6.b66d",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "ef505d18.7367",
          "type": "switch",
          "z": "a6b9a798.463af8",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "list-components",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "set-key-value",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "list-health",
              "vt": "str"
            },
            {
              "t": "cont",
              "v": "service",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 5,
          "x": 145.61111450195312,
          "y": 178.22222900390625,
          "wires": [
            [
              "6a433a50.1ba1d4"
            ],
            [
              "6a433a50.1ba1d4"
            ],
            [

            ],
            [
              "33fad3f.b4b082c"
            ],
            [
              "7f08106e.19757"
            ]
          ]
        },
        {
          "id": "dbf15835.5ee688",
          "type": "catch",
          "z": "a6b9a798.463af8",
          "name": "",
          "scope": null,
          "x": 672.5,
          "y": 21,
          "wires": [
            [
              "6dd7b3d.d4dda4c"
            ]
          ]
        },
        {
          "id": "6dd7b3d.d4dda4c",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Error",
          "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 826,
          "y": 23,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "5e75657b.1e49bc",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 703,
          "y": 211,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "7f08106e.19757",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 500;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 445.5,
          "y": 213,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "bcc4f1bb.54c44",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "POST",
          "method": "PUT",
          "ret": "txt",
          "url": "https://consul.service.dc1.consul:8080/v1/agent/service/register",
          "tls": "c792be07.29d4",
          "x": 621,
          "y": 292,
          "wires": [
            [
              "bde421d8.76287"
            ]
          ]
        },
        {
          "id": "3a3892f4.b262fe",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "DELETE",
          "method": "DELETE",
          "ret": "txt",
          "url": "https://consul.service.dc1.consul:8080/v1/agent/service/deregister/{{key}}",
          "tls": "c792be07.29d4",
          "x": 492,
          "y": 335,
          "wires": [
            [
              "bde421d8.76287"
            ]
          ]
        },
        {
          "id": "e8540b41.b7f818",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "GET LIST",
          "method": "GET",
          "ret": "txt",
          "url": "https://consul.service.dc1.consul:8080/v1/health/state/{{payload.state}}",
          "tls": "c792be07.29d4",
          "x": 493,
          "y": 374,
          "wires": [
            [
              "bde421d8.76287"
            ]
          ]
        },
        {
          "id": "b3150035.75da2",
          "type": "switch",
          "z": "a6b9a798.463af8",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 660,
          "y": 170,
          "wires": [
            [

            ],
            [
              "5e75657b.1e49bc"
            ]
          ]
        },
        {
          "id": "5d11203e.7932a",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "GET SERVICES",
          "method": "GET",
          "ret": "txt",
          "url": "https://consul.service.dc1.consul:8080/v1/agent/services",
          "tls": "",
          "x": 458,
          "y": 169,
          "wires": [
            [
              "b3150035.75da2"
            ]
          ]
        },
        {
          "id": "aed4e776.4f6468",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "GET KEY VALUES",
          "method": "GET",
          "ret": "obj",
          "url": "https://consul.service.dc1.consul:8080/v1/kv/{{payload.key}}",
          "tls": "c792be07.29d4",
          "x": 445,
          "y": 60,
          "wires": [
            [
              "adf50611.70f568"
            ]
          ]
        },
        {
          "id": "64b7d53f.ea6cfc",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "SET KEY VALUE",
          "method": "PUT",
          "ret": "txt",
          "url": "https://consul.service.dc1.consul:8080/v1/kv/{{key}}",
          "tls": "c792be07.29d4",
          "x": 444,
          "y": 99,
          "wires": [
            [
              "adf50611.70f568"
            ]
          ]
        },
        {
          "id": "86013aba.94fb18",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "",
          "func": "msg.payload['ID'] = msg.key;\nreturn msg;\n\n",
          "outputs": 1,
          "noerr": 0,
          "x": 482.5,
          "y": 292,
          "wires": [
            [
              "bcc4f1bb.54c44"
            ]
          ]
        },
        {
          "id": "33fad3f.b4b082c",
          "type": "switch",
          "z": "a6b9a798.463af8",
          "name": "SERVICES",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:service_discovery_service",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:service_discovery_service",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "check:service_discovery_service",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "list-services",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 296,
          "y": 346,
          "wires": [
            [
              "86013aba.94fb18"
            ],
            [
              "3a3892f4.b262fe"
            ],
            [
              "e8540b41.b7f818"
            ],
            [
              "e677b09d.f63f1"
            ]
          ]
        },
        {
          "id": "e677b09d.f63f1",
          "type": "http request",
          "z": "a6b9a798.463af8",
          "name": "GET SERVICES",
          "method": "GET",
          "ret": "txt",
          "url": "https://consul.service.dc1.consul:8080/v1/agent/services",
          "tls": "c792be07.29d4",
          "x": 514,
          "y": 414,
          "wires": [
            [
              "bde421d8.76287"
            ]
          ]
        },
        {
          "id": "6a433a50.1ba1d4",
          "type": "switch",
          "z": "a6b9a798.463af8",
          "name": "KEYVAL",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "list-components",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "set-key-value",
              "vt": "str"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 278,
          "y": 81,
          "wires": [
            [
              "aed4e776.4f6468"
            ],
            [
              "64b7d53f.ea6cfc"
            ]
          ]
        },
        {
          "id": "b41465b0.dff418",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Success",
          "func": "msg.payload = (msg.payload.data ? msg.payload.data : msg.payload);\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 800,
          "y": 60,
          "wires": [
            [
              "3b45a3ac.e78b7c"
            ]
          ]
        },
        {
          "id": "adf50611.70f568",
          "type": "switch",
          "z": "a6b9a798.463af8",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 645.5,
          "y": 78,
          "wires": [
            [
              "b41465b0.dff418"
            ],
            [
              "6b9c82dc.ca52ec"
            ]
          ]
        },
        {
          "id": "6b9c82dc.ca52ec",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 785.5,
          "y": 102,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "1497a281.b22ffd",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Success",
          "func": "msg.payload = (msg.payload.data ? msg.payload.data:msg.payload);\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 921,
          "y": 337,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "bde421d8.76287",
          "type": "switch",
          "z": "a6b9a798.463af8",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 782.5,
          "y": 356,
          "wires": [
            [
              "1497a281.b22ffd"
            ],
            [
              "d584c3b6.b66d"
            ]
          ]
        },
        {
          "id": "d584c3b6.b66d",
          "type": "function",
          "z": "a6b9a798.463af8",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 914.5,
          "y": 373,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "3b45a3ac.e78b7c",
          "type": "debug",
          "z": "a6b9a798.463af8",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 1010,
          "y": 40,
          "wires": [

          ]
        }
      ]
    },
    {
      "id": "78d32ab1.ca8c04",
      "type": "subflow",
      "name": "Async Events",
      "info": "",
      "in": [
        {
          "x": 197,
          "y": 153,
          "wires": [
            {
              "id": "ed51b3f2.faa4f"
            },
            {
              "id": "fb88b106.0a1f5"
            },
            {
              "id": "34ca5a39.444d36"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 541,
          "y": 154,
          "wires": [
            {
              "id": "fb88b106.0a1f5",
              "port": 0
            }
          ]
        }
      ],
      "configs": [
        {
          "id": "c3f3e417.af7f68",
          "type": "remote-server",
          "z": "78d32ab1.ca8c04",
          "name": "mon-elastic",
          "host": "http://10.136.11.43:9200"
        }
      ],
      "nodes": [
        {
          "id": "ed51b3f2.faa4f",
          "type": "debug",
          "z": "78d32ab1.ca8c04",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 382.5,
          "y": 95,
          "wires": [

          ]
        },
        {
          "id": "fb88b106.0a1f5",
          "type": "function",
          "z": "78d32ab1.ca8c04",
          "name": "Process Event",
          "func": "if (msg.statusCode >= 200 && msg.statusCode < 300) {\n    node.warn(\"SUCCESS [\" + msg.topic + \"] \" + JSON.stringify(msg.payload));\n} else {\n    node.warn(\"FAILURE [\" + msg.topic + \"]\" + JSON.stringify(msg.payload));\n}\nmsg.payload = {\n    \"statusCode\" : msg.statusCode,\n    \"result\" : msg.payload\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 376.5,
          "y": 154,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "68e752dc.2a343c",
          "type": "es-create",
          "z": "78d32ab1.ca8c04",
          "name": "",
          "documentIndex": "flowsgateway",
          "documentType": "metrics",
          "server": "c3f3e417.af7f68",
          "x": 478.5,
          "y": 261,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "34ca5a39.444d36",
          "type": "function",
          "z": "78d32ab1.ca8c04",
          "name": "",
          "func": "msg.payload = {\n    \"statusCode\" : msg.statusCode,\n    \"result\" : msg.payload,\n    \"@timestamp\" : Date.now(),\n    \"triggerDate\" : new Date().toISOString()\n}\nmsg.documentType = msg.topic;\nmsg.documentId = msg._msgid;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 312.5,
          "y": 261,
          "wires": [
            [
              "68e752dc.2a343c",
              "777e7524.37916c"
            ]
          ]
        },
        {
          "id": "777e7524.37916c",
          "type": "debug",
          "z": "78d32ab1.ca8c04",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 416.5,
          "y": 315,
          "wires": [

          ]
        }
      ]
    },
    {
      "id": "9e3e25e6.0e0308",
      "type": "subflow",
      "name": "Routing",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "1310b17.58a994f"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1002,
          "y": 230,
          "wires": [
            {
              "id": "9020744f.79bbf8",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "39129e2d.1b8d12",
          "type": "catch",
          "z": "9e3e25e6.0e0308",
          "name": "",
          "scope": null,
          "x": 258,
          "y": 492,
          "wires": [
            [
              "1e7d8fe.133aa7"
            ]
          ]
        },
        {
          "id": "1e7d8fe.133aa7",
          "type": "function",
          "z": "9e3e25e6.0e0308",
          "name": "Unexpected Error",
          "func": "msg.payload = {\n    \"source\": \"flows_gateway\",\n    \"message\": msg.error,\n    \"detail\": msg._error\n} \nmsg.statusCode = 400\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 435,
          "y": 494,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ]
        },
        {
          "id": "a4de2042.85a16",
          "type": "switch",
          "z": "9e3e25e6.0e0308",
          "name": "",
          "property": "resource",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "collaboration_channel",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "collaboration_message",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "pipeline_environment",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "pipeline_pipeline",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "service_discovery_service",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "component_metadata",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "vault_policy",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "vault_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "vault_secret",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "grafana_auth_key",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "source_control_repository",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "source_control_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "source_control_token",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "source_control_public_key",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 16,
          "x": 246,
          "y": 209,
          "wires": [
            [
              "bcb3534d.a0a29"
            ],
            [
              "e205a621.617e18"
            ],
            [
              "25e8c9ea.4e0b46"
            ],
            [
              "25e8c9ea.4e0b46"
            ],
            [
              "b1d6a9aa.fd1098"
            ],
            [
              "218de7de.341c28"
            ],
            [
              "c581029b.d8734"
            ],
            [
              "c581029b.d8734"
            ],
            [
              "c581029b.d8734"
            ],
            [
              "c01a6c07.e2379"
            ],
            [
              "c01a6c07.e2379"
            ],
            [
              "c36921e9.a1a59"
            ],
            [
              "c36921e9.a1a59"
            ],
            [
              "c36921e9.a1a59"
            ],
            [
              "c36921e9.a1a59"
            ],
            [
              "ed9292b3.ee39b"
            ]
          ]
        },
        {
          "id": "bcb3534d.a0a29",
          "type": "subflow:4fc6c84.9271b38",
          "z": "9e3e25e6.0e0308",
          "x": 445,
          "y": 110,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "4fc6c84.9271b38"
        },
        {
          "id": "25e8c9ea.4e0b46",
          "type": "subflow:a1cb3587.05ca68",
          "z": "9e3e25e6.0e0308",
          "x": 422,
          "y": 184,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "a1cb3587.05ca68"
        },
        {
          "id": "9020744f.79bbf8",
          "type": "subflow:78d32ab1.ca8c04",
          "z": "9e3e25e6.0e0308",
          "x": 858,
          "y": 231,
          "wires": [
            [

            ]
          ],
          "subflow": "78d32ab1.ca8c04"
        },
        {
          "id": "b1d6a9aa.fd1098",
          "type": "subflow:a6b9a798.463af8",
          "z": "9e3e25e6.0e0308",
          "x": 422,
          "y": 220,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "a6b9a798.463af8"
        },
        {
          "id": "ed9292b3.ee39b",
          "type": "function",
          "z": "9e3e25e6.0e0308",
          "name": "Invalid Resource",
          "func": "msg.payload = {\n    \"source\": \"flows_gateway\",\n    \"message\": \"Invalid resource \" + msg.resource\n} \nmsg.statusCode = 400\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 429.5,
          "y": 456,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ]
        },
        {
          "id": "218de7de.341c28",
          "type": "subflow:ea5122d7.76e78",
          "z": "9e3e25e6.0e0308",
          "x": 409,
          "y": 254,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "ea5122d7.76e78"
        },
        {
          "id": "1310b17.58a994f",
          "type": "function",
          "z": "9e3e25e6.0e0308",
          "name": "Set Resource",
          "func": "msg.resource = msg.topic.split(':')[1];\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 182.5,
          "y": 32,
          "wires": [
            [
              "6d409ec7.5f861",
              "2e52c9f5.387d56"
            ]
          ]
        },
        {
          "id": "6d409ec7.5f861",
          "type": "debug",
          "z": "9e3e25e6.0e0308",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "false",
          "x": 374.5,
          "y": 38,
          "wires": [

          ]
        },
        {
          "id": "2e52c9f5.387d56",
          "type": "json-schema",
          "z": "9e3e25e6.0e0308",
          "name": "",
          "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"Resources\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"collaboration_channel\": {\n            \"description\": \"Channel\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },\n        \"pipeline_environment\": {\n            \"description\": \"Pipeline Environment\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },\n        \"pipeline_pipeline\": {\n            \"description\": \"Pipeline Pipeline\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },        \n        \"service_discovery_service\": {\n            \"description\": \"Service Discovery Service\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                            \"Name\": {\n                                \"type\": \"string\"\n                            },\n                            \"Address\": {\n                                \"type\": \"string\"\n                            },\n                            \"Port\": {\n                                \"type\": \"number\"\n                            },\n                            \"Tags\": {\n                                \"type\": \"array\",\n                                \"items\": {\n                                    \"type\": \"string\"\n                                }\n                            },\n                            \"Check\": {\n                                \"type\": \"object\",\n                                \"properties\": {\n                                    \"http\": {\n                                        \"type\": \"string\"\n                                    },\n                                    \"interval\": {\n                                        \"type\": \"string\"\n                                    },\n                                    \"timeout\": {\n                                        \"type\": \"string\"\n                                    }\n                                }\n                            }\n                            \n                        },\n                        \"required\": [\"Name\"]\n                    }\n                ]\n                }\n            }\n        },\n        \"component_metadata\": {\n            \"description\": \"Component Metadata\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },\n        \"source_control_user\": {\n            \"description\": \"Source Control User\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },\n        \"source_control_repository\": {\n            \"description\": \"Source Control Repository\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },\n        \"vault_user\": {\n            \"description\": \"Vault User\",\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                        }\n                    }\n                ]\n                }\n            }\n        },\n        \"vault_policy\": {\n            \"type\": \"object\",\n            \"patternProperties\": {\n                \"^.*$\": {\n                  \"anyOf\": [\n                    {\"type\": \"object\",\n                        \"properties\": {\n                            \"message\": {\n                                \"type\": \"string\"\n                            },\n                            \"channel\": {\n                                \"type\": \"string\"\n                            }\n                        }\n                    }\n                  ]\n                }\n            },\n            \"additionalProperties\": false\n        }\n    }\n}\n",
          "x": 107,
          "y": 107,
          "wires": [
            [
              "baf867e3.181548"
            ]
          ]
        },
        {
          "id": "e205a621.617e18",
          "type": "subflow:459ae946.b59388",
          "z": "9e3e25e6.0e0308",
          "x": 463.5,
          "y": 147,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "459ae946.b59388"
        },
        {
          "id": "c581029b.d8734",
          "type": "subflow:fcb37b93.778448",
          "z": "9e3e25e6.0e0308",
          "x": 395.5,
          "y": 294,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "fcb37b93.778448"
        },
        {
          "id": "baf867e3.181548",
          "type": "function",
          "z": "9e3e25e6.0e0308",
          "name": "Set Body",
          "func": "msg.key = Object.keys(msg.payload[msg.resource])[0];\nmsg.payload = msg.payload[msg.resource][msg.key];\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 106.5,
          "y": 196,
          "wires": [
            [
              "a4de2042.85a16"
            ]
          ]
        },
        {
          "id": "d9c84573.f01308",
          "type": "comment",
          "z": "9e3e25e6.0e0308",
          "name": "Valid Resources (POST/DELETE)",
          "info": "# MINUS/PLUS/CHECK Resources\n\n- collaboration_channel\n- collaboration_message\n- pipeline_environment\n- pipeline_pipeline\n- vault_user\n- vault_policy\n- vault_secret\n- service_discovery_service\n- component_metadata (inc. pipelines)\n- monitoring_dashboard\n- source_control_repository\n- source_control_user\n- source_control_token\n- source_control_public_key\n\n- vault_token\n- vault_approle\n- source_control_branch\n- pipeline_agent\n- infrastructure (terraform)\n- cd_flow\n- chatbot_rule\n- monitoring_datasource\n- file_stream\n\n\nchatbots, agile PM, incidents, alerts\n\n\n",
          "x": 151,
          "y": 416,
          "wires": [

          ]
        },
        {
          "id": "c01a6c07.e2379",
          "type": "subflow:811542a8.5ac78",
          "z": "9e3e25e6.0e0308",
          "x": 398.5,
          "y": 338,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "811542a8.5ac78"
        },
        {
          "id": "c36921e9.a1a59",
          "type": "subflow:cc909323.1bc6b",
          "z": "9e3e25e6.0e0308",
          "x": 400.5,
          "y": 377,
          "wires": [
            [
              "9020744f.79bbf8"
            ]
          ],
          "subflow": "cc909323.1bc6b"
        }
      ]
    },
    {
      "id": "811542a8.5ac78",
      "type": "subflow",
      "name": "Grafana",
      "info": "",
      "in": [
        {
          "x": 60,
          "y": 60,
          "wires": [
            {
              "id": "2f2d391b.37c226"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 932.5,
          "y": 421,
          "wires": [
            {
              "id": "dd593ed3.d54e4",
              "port": 0
            },
            {
              "id": "ce6df830.fc0b48",
              "port": 0
            },
            {
              "id": "96fc9ea4.276e5",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "3d9848a8.843468",
          "type": "http request",
          "z": "811542a8.5ac78",
          "name": "POST",
          "method": "POST",
          "ret": "obj",
          "url": "{{{envs.GRAFANA_URL}}}/api/dashboards/db",
          "tls": "",
          "x": 470,
          "y": 320,
          "wires": [
            [
              "375f7d6f.7965f2"
            ]
          ]
        },
        {
          "id": "face2f6d.bc923",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "",
          "func": "if (msg.payload.definition && msg.payload.definition.contents) {\n    msg.payload = {\n        \"dashboard\" : msg.payload.definition.contents,\n        \"overwrite\" : true\n    }\n    \n} else {\n    msg.payload = {\n        \"dashboard\" : msg.payload,\n        \"overwrite\" : true\n    }\n}\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 341,
          "y": 321,
          "wires": [
            [
              "3d9848a8.843468"
            ]
          ]
        },
        {
          "id": "d7519b62.f9dbe8",
          "type": "switch",
          "z": "811542a8.5ac78",
          "name": "DASHBOARD",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "check:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "list:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:grafana_auth_key",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 6,
          "x": 175.5,
          "y": 349,
          "wires": [
            [
              "face2f6d.bc923"
            ],
            [
              "d3e8a97a.81e188"
            ],
            [
              "a134a82e.20d198"
            ],
            [
              "e79ab70f.a51998"
            ],
            [
              "fb560ba0.962c68"
            ],
            [
              "96fc9ea4.276e5"
            ]
          ]
        },
        {
          "id": "d3e8a97a.81e188",
          "type": "http request",
          "z": "811542a8.5ac78",
          "name": "DELETE",
          "method": "DELETE",
          "ret": "obj",
          "url": "{{{envs.GRAFANA_URL}}}/api/dashboards/db/{{key}}",
          "tls": "",
          "x": 476.5,
          "y": 356,
          "wires": [
            [
              "375f7d6f.7965f2"
            ]
          ]
        },
        {
          "id": "a134a82e.20d198",
          "type": "http request",
          "z": "811542a8.5ac78",
          "name": "GET",
          "method": "GET",
          "ret": "obj",
          "url": "{{{envs.GRAFANA_URL}}}/api/dashboards/db/{{{key}}}",
          "tls": "",
          "x": 468.5,
          "y": 391,
          "wires": [
            [
              "375f7d6f.7965f2"
            ]
          ]
        },
        {
          "id": "375f7d6f.7965f2",
          "type": "switch",
          "z": "811542a8.5ac78",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 623.5,
          "y": 357,
          "wires": [
            [
              "dd593ed3.d54e4"
            ],
            [
              "ce6df830.fc0b48"
            ]
          ]
        },
        {
          "id": "dd593ed3.d54e4",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "Success",
          "func": "//msg.payload = (msg.payload ? msg.payload.data:\"\");\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 765.5,
          "y": 329,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "ce6df830.fc0b48",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "Error",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 753,
          "y": 363,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "c9e6186b.7a2788",
          "type": "vars",
          "z": "811542a8.5ac78",
          "name": "CONSUL",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "https://es110c.canzea.cc/gw/admin/#flow/4fc6c84.9271b38",
                "ancestorOrigins": {
                },
                "origin": "https://es110c.canzea.cc",
                "protocol": "https:",
                "host": "es110c.canzea.cc",
                "hostname": "es110c.canzea.cc",
                "port": "",
                "pathname": "/gw/admin/",
                "search": "",
                "hash": "#flow/4fc6c84.9271b38"
              },
              "jQuery111305858287869232": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "service",
              "v": "grafana",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "c792be07.29d4",
          "url": "https://consul.service.dc1.consul:8080",
          "x": 440,
          "y": 220,
          "wires": [
            [
              "d7519b62.f9dbe8"
            ]
          ]
        },
        {
          "id": "36c3fb5.aeb7404",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "Set Header",
          "func": "msg.headers = {\n    'Accept': 'application/json',\n    'Content-Type' : 'application/json',\n    'Authorization': 'Bearer ' + msg.envs.GRAFANA_EDIT_TOKEN\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 750,
          "y": 60,
          "wires": [
            [
              "c9e6186b.7a2788"
            ]
          ]
        },
        {
          "id": "96fc9ea4.276e5",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "Invalid Topic",
          "func": "msg.payload = {\n    \"error\": \"Unknown topic \" + msg.topic\n};\nmsg.statusCode = 400;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 488.5,
          "y": 466,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "e79ab70f.a51998",
          "type": "http request",
          "z": "811542a8.5ac78",
          "name": "LIST",
          "method": "GET",
          "ret": "obj",
          "url": "{{{envs.GRAFANA_URL}}}/api/search",
          "tls": "",
          "x": 469.5,
          "y": 429,
          "wires": [
            [
              "375f7d6f.7965f2"
            ]
          ]
        },
        {
          "id": "e4171429.5229d8",
          "type": "http request",
          "z": "811542a8.5ac78",
          "name": "POST",
          "method": "POST",
          "ret": "obj",
          "url": "{{{envs.GRAFANA_URL}}}/api/auth/keys",
          "tls": "",
          "x": 482.5,
          "y": 545,
          "wires": [
            [
              "375f7d6f.7965f2"
            ]
          ]
        },
        {
          "id": "fb560ba0.962c68",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "",
          "func": "msg.payload['name'] = msg.key;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 302.5,
          "y": 545,
          "wires": [
            [
              "e4171429.5229d8"
            ]
          ]
        },
        {
          "id": "2f2d391b.37c226",
          "type": "switch",
          "z": "811542a8.5ac78",
          "name": "Auth Choice",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:grafana_auth_key",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 230,
          "y": 80,
          "wires": [
            [
              "e66526db.49ea28"
            ],
            [
              "138e59.c6ee91a7"
            ]
          ]
        },
        {
          "id": "81b474e.4d86d88",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "CREDS",
          "func": "username = msg.envs['SERVICE_GRAFANA_ADMIN_CREDENTIALS_USER_NAME'];\npassword = msg.envs['SERVICE_GRAFANA_ADMIN_CREDENTIALS_PASSWORD'];\n\nup = new Buffer(username + \":\" + password).toString('base64');\n\nmsg.headers = {\n    'Authorization': 'Basic ' + up\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 576.5,
          "y": 17,
          "wires": [
            [
              "c9e6186b.7a2788",
              "2c4b779b.45a678"
            ]
          ]
        },
        {
          "id": "b5640c37.19e05",
          "type": "vars",
          "z": "811542a8.5ac78",
          "name": "",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "https://es5ab5.canzea.cc/gw/admin/#flow/811542a8.5ac78",
                "ancestorOrigins": {
                },
                "origin": "https://es5ab5.canzea.cc",
                "protocol": "https:",
                "host": "es5ab5.canzea.cc",
                "hostname": "es5ab5.canzea.cc",
                "port": "",
                "pathname": "/gw/admin/",
                "search": "",
                "hash": "#flow/811542a8.5ac78"
              },
              "jQuery1113034684408510297815": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "secret",
              "v": "service/grafana/admin/credentials",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "94073df5.ac54f",
          "url": "https://vault.service.dc1.consul:8200",
          "x": 429,
          "y": 18,
          "wires": [
            [
              "81b474e.4d86d88"
            ]
          ]
        },
        {
          "id": "138e59.c6ee91a7",
          "type": "vars",
          "z": "811542a8.5ac78",
          "name": "",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "https://es5ab5.canzea.cc/gw/admin/#flow/811542a8.5ac78",
                "ancestorOrigins": {
                },
                "origin": "https://es5ab5.canzea.cc",
                "protocol": "https:",
                "host": "es5ab5.canzea.cc",
                "hostname": "es5ab5.canzea.cc",
                "port": "",
                "pathname": "/gw/admin/",
                "search": "",
                "hash": "#flow/811542a8.5ac78"
              },
              "jQuery1113034684408510297815": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "secret",
              "v": "grafana/edit",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "94073df5.ac54f",
          "url": "https://vault.service.dc1.consul:8200",
          "x": 426.5,
          "y": 57,
          "wires": [
            [
              "7624f99f.a36378"
            ]
          ]
        },
        {
          "id": "7624f99f.a36378",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "CREDS",
          "func": "token = msg.envs['GOGS_ADMIN_TOKEN'];\nmsg.headers = {\n    'Authorization': 'token ' + token\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 576.5,
          "y": 57,
          "wires": [
            [
              "36c3fb5.aeb7404"
            ]
          ]
        },
        {
          "id": "e66526db.49ea28",
          "type": "function",
          "z": "811542a8.5ac78",
          "name": "",
          "func": "msg.secretKey = \"service/grafana/{{msg.key}}/credentials\";\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 292,
          "y": 16,
          "wires": [
            [
              "b5640c37.19e05"
            ]
          ]
        },
        {
          "id": "2c4b779b.45a678",
          "type": "debug",
          "z": "811542a8.5ac78",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 731.5,
          "y": 20,
          "wires": [

          ]
        },
        {
          "id": "f981e00c.61b88",
          "type": "switch",
          "z": "811542a8.5ac78",
          "name": "Data Sources",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "check:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "list:monitoring_dashboard",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:grafana_auth_key",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 6,
          "x": 160,
          "y": 640,
          "wires": [
            [

            ],
            [

            ],
            [

            ],
            [

            ],
            [

            ],
            [

            ]
          ]
        }
      ]
    },
    {
      "id": "d8491633.ad8e18",
      "type": "subflow",
      "name": "Vault READ",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "7ad0842f.de8a4c"
            },
            {
              "id": "c8ef3dae.04646"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 910,
          "y": 200,
          "wires": [
            {
              "id": "f9a7b523.867e18",
              "port": 0
            },
            {
              "id": "dd5d56cb.a62df8",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "7ad0842f.de8a4c",
          "type": "function",
          "z": "d8491633.ad8e18",
          "name": "Set Token",
          "func": "if (msg.req.headers.hasOwnProperty(\"x-vault-token\") === false) {\n        throw new Error(\"Vault Token Missing\");\n}\n\nmsg.headers = {\n    \"X-Vault-Token\":msg.req.headers['x-vault-token']\n};\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 200,
          "y": 191,
          "wires": [
            [
              "56c8fd71.86e484"
            ]
          ]
        },
        {
          "id": "56c8fd71.86e484",
          "type": "http request",
          "z": "d8491633.ad8e18",
          "name": "Get Secret",
          "method": "GET",
          "ret": "obj",
          "url": "https://vault.service.dc1.consul:8200/v1/secret/{{{payload}}}",
          "tls": "94073df5.ac54f",
          "x": 381,
          "y": 192,
          "wires": [
            [
              "3f1e28c4.56c508"
            ]
          ]
        },
        {
          "id": "f9a7b523.867e18",
          "type": "function",
          "z": "d8491633.ad8e18",
          "name": "Success",
          "func": "msg.payload = (msg.payload ? msg.payload.data:\"\");\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 723.5,
          "y": 184,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "3f1e28c4.56c508",
          "type": "switch",
          "z": "d8491633.ad8e18",
          "name": "",
          "property": "statusCode",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "200",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 2,
          "x": 583,
          "y": 191,
          "wires": [
            [
              "f9a7b523.867e18"
            ],
            [
              "dd5d56cb.a62df8"
            ]
          ]
        },
        {
          "id": "dd5d56cb.a62df8",
          "type": "function",
          "z": "d8491633.ad8e18",
          "name": "Error",
          "func": "throw new Error(\"Secret not found\")",
          "outputs": 1,
          "noerr": 0,
          "x": 714,
          "y": 222,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "c8ef3dae.04646",
          "type": "debug",
          "z": "d8491633.ad8e18",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 173.5,
          "y": 50,
          "wires": [

          ]
        }
      ]
    },
    {
      "id": "cc909323.1bc6b",
      "type": "subflow",
      "name": "GOGS",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "fe8ae5a2.67ecb8"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1327,
          "y": 386,
          "wires": [
            {
              "id": "5a8b7fc4.342d5",
              "port": 0
            },
            {
              "id": "87961250.08fe3",
              "port": 0
            },
            {
              "id": "77b3b86f.dd3568",
              "port": 0
            },
            {
              "id": "331729c0.6bc2c6",
              "port": 0
            },
            {
              "id": "cbe8b62b.0a7208",
              "port": 0
            },
            {
              "id": "6b662908.3e7198",
              "port": 0
            },
            {
              "id": "7e675900.3a6dd8",
              "port": 0
            },
            {
              "id": "38bf5521.4a135a",
              "port": 0
            },
            {
              "id": "4f330caf.58aa84",
              "port": 0
            },
            {
              "id": "3b3da074.3223b",
              "port": 0
            }
          ]
        }
      ],
      "configs": [

      ],
      "nodes": [
        {
          "id": "680bc877.c49c08",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "POST",
          "method": "POST",
          "ret": "obj",
          "url": "http://gogs.service.dc1.consul:10080/api/v1/user/repos",
          "tls": "",
          "x": 689,
          "y": 247,
          "wires": [
            [
              "5a8b7fc4.342d5"
            ]
          ]
        },
        {
          "id": "13d0e456.ce5b4c",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.payload['name'] = msg.key;\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 437,
          "y": 248,
          "wires": [
            [
              "680bc877.c49c08"
            ]
          ]
        },
        {
          "id": "cbce0248.c4efb",
          "type": "switch",
          "z": "cc909323.1bc6b",
          "name": "",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:source_control_repository",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:source_control_repository",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "check:source_control_repository",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:source_control_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:source_control_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "check:source_control_user",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:source_control_token",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:source_control_token",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:source_control_public_key",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "true",
          "outputs": 10,
          "x": 197.5,
          "y": 283,
          "wires": [
            [
              "13d0e456.ce5b4c"
            ],
            [
              "4bd7ba7c.cf3804"
            ],
            [
              "f3964dd2.6662d"
            ],
            [
              "743b1caa.a66594"
            ],
            [
              "e82f3ff1.2c1f6"
            ],
            [
              "fc0169fd.272f78"
            ],
            [
              "a5530f90.066cf"
            ],
            [
              "222514fc.6e944c"
            ],
            [
              "9c6a0471.7859d8"
            ],
            [
              "1a339ad.58b0965"
            ]
          ]
        },
        {
          "id": "5a8b7fc4.342d5",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.payload = {\n    \"result\" : msg.payload,\n    \"statusCode\" : msg.statusCode\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 885,
          "y": 257,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "4364655e.d9be7c",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "DELETE",
          "method": "DELETE",
          "ret": "obj",
          "url": "http://174.138.36.126:10080/api/v1/repos/{{key}}",
          "tls": "",
          "x": 716.5,
          "y": 303,
          "wires": [
            [
              "87961250.08fe3"
            ]
          ]
        },
        {
          "id": "87961250.08fe3",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.payload = {\n    \"result\" : msg.payload,\n    \"statusCode\" : msg.statusCode\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 887.5,
          "y": 308,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "f3964dd2.6662d",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "GET",
          "method": "GET",
          "ret": "obj",
          "url": "https://ese00c.canzea.cc/grafana/api/dashboards/db/{{{key}}}",
          "tls": "",
          "x": 437.5,
          "y": 354,
          "wires": [
            [
              "77b3b86f.dd3568"
            ]
          ]
        },
        {
          "id": "77b3b86f.dd3568",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.payload = {\n    \"result\" : msg.payload,\n    \"statusCode\" : msg.statusCode\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 884.5,
          "y": 365,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "1a339ad.58b0965",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "Invalid Topic",
          "func": "throw new Error (\"Invalid topic \" + msg.topic);",
          "outputs": 1,
          "noerr": 0,
          "x": 178,
          "y": 410,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "4bd7ba7c.cf3804",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "SEARCH",
          "method": "GET",
          "ret": "obj",
          "url": "http://174.138.36.126:10080/api/v1/user/repos",
          "tls": "",
          "x": 443,
          "y": 304,
          "wires": [
            [
              "a3f6667e.8e9ba8"
            ]
          ]
        },
        {
          "id": "a3f6667e.8e9ba8",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "Find",
          "func": "let found = false;\nfor (let k in msg.payload) {\n    let item = msg.payload[k];\n    if (item['name'] == msg.key) {\n        msg.key = \"\" + item['owner']['username'] + \"/\" + item['name'];\n        found = true;\n    }\n}\nif (found === false) {\n    throw new Error (\"Repository not found\");\n}\nmsg.headers = {\n    'Authorization': 'token ' + msg.token\n}\n\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 570.5,
          "y": 304,
          "wires": [
            [
              "4364655e.d9be7c"
            ]
          ]
        },
        {
          "id": "8ae28ffd.5569d",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "POST",
          "method": "POST",
          "ret": "obj",
          "url": "http://gogs.service.dc1.consul:10080/api/v1/admin/users",
          "tls": "",
          "x": 690,
          "y": 493,
          "wires": [
            [
              "4f330caf.58aa84"
            ]
          ]
        },
        {
          "id": "743b1caa.a66594",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.payload['username'] = msg.key;\nmsg._username = msg.key;\nmsg._repositories = msg.payload['repositories'];\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 438,
          "y": 494,
          "wires": [
            [
              "8ae28ffd.5569d"
            ]
          ]
        },
        {
          "id": "4f330caf.58aa84",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg._parts = msg.parts;\nrequest = msg.req.body;\n\nmsg.payload = msg._repositories;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 818,
          "y": 493,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "e82f3ff1.2c1f6",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "DELETE",
          "method": "DELETE",
          "ret": "txt",
          "url": "http://174.138.36.126:10080/api/v1/admin/users/{{key}}",
          "tls": "",
          "x": 440.5,
          "y": 546,
          "wires": [
            [
              "cbe8b62b.0a7208"
            ]
          ]
        },
        {
          "id": "cbe8b62b.0a7208",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 888.5,
          "y": 554,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "fc0169fd.272f78",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "GET",
          "method": "GET",
          "ret": "obj",
          "url": "http://174.138.36.126:10080/api/v1/users/{{key}}",
          "tls": "",
          "x": 438.5,
          "y": 600,
          "wires": [
            [
              "887366b7.e5cf68"
            ]
          ]
        },
        {
          "id": "887366b7.e5cf68",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 885.5,
          "y": 611,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "564f2508.e582fc",
          "type": "split",
          "z": "cc909323.1bc6b",
          "name": "",
          "splt": "\\n",
          "x": 642.5,
          "y": 421,
          "wires": [
            [
              "771fb2af.5b8c1c"
            ]
          ]
        },
        {
          "id": "771fb2af.5b8c1c",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "Collaborators",
          "func": "k = Object.keys(msg.payload)[0];\nmsg._repo = k;\n\nmsg.payload = {\n    \"permission\" : msg.payload[k]\n}\nmsg.headers = {\n    'Authorization': 'token ' + msg.token\n}\n\nreturn msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 794,
          "y": 423,
          "wires": [
            [
              "9aee5381.900f2"
            ]
          ]
        },
        {
          "id": "9aee5381.900f2",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "PUT",
          "method": "PUT",
          "ret": "txt",
          "url": "http://174.138.36.126:10080/api/v1/repos/{{_repo}}/collaborators/{{_username}}",
          "tls": "",
          "x": 950,
          "y": 425,
          "wires": [
            [
              "26428ed7.765822"
            ]
          ]
        },
        {
          "id": "26428ed7.765822",
          "type": "join",
          "z": "cc909323.1bc6b",
          "name": "",
          "mode": "auto",
          "build": "string",
          "property": "payload",
          "propertyType": "msg",
          "key": "topic",
          "joiner": "\\n",
          "timeout": "",
          "count": "",
          "x": 1089.5,
          "y": 431,
          "wires": [
            [
              "331729c0.6bc2c6"
            ]
          ]
        },
        {
          "id": "331729c0.6bc2c6",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.parts = msg._parts;\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 1197.5,
          "y": 481,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "ba97acf6.37fec",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "POST",
          "method": "POST",
          "ret": "obj",
          "url": "http://gogs.service.dc1.consul:10080/api/v1/users/{{key}}/tokens",
          "tls": "",
          "x": 671,
          "y": 773,
          "wires": [
            [
              "6b662908.3e7198",
              "278fa611.ab690a"
            ]
          ]
        },
        {
          "id": "a5530f90.066cf",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "return msg;\n",
          "outputs": 1,
          "noerr": 0,
          "x": 419,
          "y": 774,
          "wires": [
            [
              "ba97acf6.37fec"
            ]
          ]
        },
        {
          "id": "6b662908.3e7198",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "return msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 799,
          "y": 773,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "fe8ae5a2.67ecb8",
          "type": "switch",
          "z": "cc909323.1bc6b",
          "name": "Auth Choice",
          "property": "topic",
          "propertyType": "msg",
          "rules": [
            {
              "t": "eq",
              "v": "plus:source_control_token",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "minus:source_control_token",
              "vt": "str"
            },
            {
              "t": "eq",
              "v": "plus:source_control_public_key",
              "vt": "str"
            },
            {
              "t": "else"
            }
          ],
          "checkall": "false",
          "outputs": 4,
          "x": 213.5,
          "y": 83,
          "wires": [
            [
              "b383085f.9c9e08"
            ],
            [
              "b383085f.9c9e08"
            ],
            [
              "b383085f.9c9e08"
            ],
            [
              "54b908b1.b6d058"
            ]
          ]
        },
        {
          "id": "8a3da7a5.267118",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "CREDS",
          "func": "username = msg.envs['SERVICE_GOGS_ROOT_CREDENTIALS_USER_NAME'];\npassword = msg.envs['SERVICE_GOGS_ROOT_CREDENTIALS_PASSWORD'];\n\nup = new Buffer(username + \":\" + password).toString('base64');\n\nmsg.headers = {\n    'Authorization': 'Basic ' + up\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 560,
          "y": 20,
          "wires": [
            [
              "cbce0248.c4efb"
            ]
          ]
        },
        {
          "id": "7e675900.3a6dd8",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "DELETE",
          "method": "DELETE",
          "ret": "txt",
          "url": "http://174.138.36.126:10080/api/v1/users/{{key}}/tokens/{{_token}}",
          "tls": "",
          "x": 555,
          "y": 867,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "222514fc.6e944c",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg._token = 'access';\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 359.5,
          "y": 846,
          "wires": [
            [
              "7e675900.3a6dd8"
            ]
          ]
        },
        {
          "id": "38bf5521.4a135a",
          "type": "http request",
          "z": "cc909323.1bc6b",
          "name": "POST",
          "method": "POST",
          "ret": "obj",
          "url": "http://gogs.service.dc1.consul:10080/api/v1/user/keys",
          "tls": "",
          "x": 456,
          "y": 926,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "9c6a0471.7859d8",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "node.warn(JSON.stringify(msg.payload,null,3));\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 314,
          "y": 927,
          "wires": [
            [
              "38bf5521.4a135a"
            ]
          ]
        },
        {
          "id": "f238ced3.21639",
          "type": "vars",
          "z": "cc909323.1bc6b",
          "name": "",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "https://es5ab5.canzea.cc/gw/admin/#flow/811542a8.5ac78",
                "ancestorOrigins": {
                },
                "origin": "https://es5ab5.canzea.cc",
                "protocol": "https:",
                "host": "es5ab5.canzea.cc",
                "hostname": "es5ab5.canzea.cc",
                "port": "",
                "pathname": "/gw/admin/",
                "search": "",
                "hash": "#flow/811542a8.5ac78"
              },
              "jQuery1113034684408510297815": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "secret",
              "v": "service/gogs/root/credentials",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "94073df5.ac54f",
          "url": "https://vault.service.dc1.consul:8200",
          "x": 412.5,
          "y": 21,
          "wires": [
            [
              "8a3da7a5.267118"
            ]
          ]
        },
        {
          "id": "54b908b1.b6d058",
          "type": "vars",
          "z": "cc909323.1bc6b",
          "name": "",
          "property": "payload",
          "propertyType": {
            "context": {
              "location": {
                "href": "https://es5ab5.canzea.cc/gw/admin/#flow/cc909323.1bc6b",
                "ancestorOrigins": {
                },
                "origin": "https://es5ab5.canzea.cc",
                "protocol": "https:",
                "host": "es5ab5.canzea.cc",
                "hostname": "es5ab5.canzea.cc",
                "port": "",
                "pathname": "/gw/admin/",
                "search": "",
                "hash": "#flow/cc909323.1bc6b"
              },
              "jQuery111305410853696513407": 1
            },
            "selector": "#node-input-property"
          },
          "rules": [
            {
              "t": "secret",
              "v": "gogs/admin",
              "vt": "str"
            }
          ],
          "checkall": "true",
          "outputs": 1,
          "tls": "94073df5.ac54f",
          "url": "https://vault.service.dc1.consul:8200",
          "x": 410,
          "y": 60,
          "wires": [
            [
              "bb70e123.8e1c9"
            ]
          ]
        },
        {
          "id": "278fa611.ab690a",
          "type": "debug",
          "z": "cc909323.1bc6b",
          "name": "",
          "active": true,
          "console": "false",
          "complete": "true",
          "x": 823.5,
          "y": 834,
          "wires": [

          ]
        },
        {
          "id": "bb70e123.8e1c9",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "CREDS",
          "func": "token = msg.envs['GOGS_ADMIN_TOKEN'];\nmsg.headers = {\n    'Authorization': 'token ' + token\n}\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 560,
          "y": 60,
          "wires": [
            [
              "cbce0248.c4efb"
            ]
          ]
        },
        {
          "id": "3b3da074.3223b",
          "type": "catch",
          "z": "cc909323.1bc6b",
          "name": "",
          "scope": null,
          "x": 878.5,
          "y": 109,
          "wires": [
            [

            ]
          ]
        },
        {
          "id": "b383085f.9c9e08",
          "type": "function",
          "z": "cc909323.1bc6b",
          "name": "",
          "func": "msg.secretKey = \"service/gogs/{{msg.key}}/credentials\";\nreturn msg;",
          "outputs": 1,
          "noerr": 0,
          "x": 275.5,
          "y": 19,
          "wires": [
            [
              "f238ced3.21639"
            ]
          ]
        }
      ]
    }
  ]
}