blueprints/neat-and-tidy/flows/r1/nr-tab-vault-get.flow
{
  "id": "f2e171af.06e6",
  "label": "Vault GET",
  "nodes": [
    {
      "id": "1cebe2dd.8b6d9d",
      "type": "subflow:fcb37b93.778448",
      "z": "f2e171af.06e6",
      "name": "",
      "x": 463.77777099609375,
      "y": 306.1111145019531,
      "wires": [
        [
          "76d6a63c.33aef8"
        ]
      ],
      "subflow": "fcb37b93.778448"
    },
    {
      "id": "12e4f08f.af54ef",
      "type": "http in",
      "z": "f2e171af.06e6",
      "name": "",
      "url": "/vault",
      "method": "get",
      "swaggerDoc": "",
      "x": 115.55555725097656,
      "y": 307.6666564941406,
      "wires": [
        [
          "a74bc685.f65058"
        ]
      ]
    },
    {
      "id": "a74bc685.f65058",
      "type": "function",
      "z": "f2e171af.06e6",
      "name": "Prep Request",
      "func": "msg.key = msg.req.query.key;\nmsg.topic = 'get-secret';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 311.5,
      "y": 307,
      "wires": [
        [
          "1cebe2dd.8b6d9d"
        ]
      ]
    },
    {
      "id": "76d6a63c.33aef8",
      "type": "http response",
      "z": "f2e171af.06e6",
      "name": "Response",
      "x": 609.5,
      "y": 306,
      "wires": [

      ]
    },
    {
      "id": "cd12da35.d45e18",
      "type": "http in",
      "z": "f2e171af.06e6",
      "name": "",
      "url": "/vault",
      "method": "post",
      "swaggerDoc": "",
      "x": 128,
      "y": 364,
      "wires": [
        [
          "547ab802.860318"
        ]
      ]
    },
    {
      "id": "547ab802.860318",
      "type": "function",
      "z": "f2e171af.06e6",
      "name": "Prep Request",
      "func": "msg.key = msg.req.query.key;\nmsg.topic = 'plus:vault_secret';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 313.94444274902344,
      "y": 363.3333435058594,
      "wires": [
        [
          "1cebe2dd.8b6d9d"
        ]
      ]
    },
    {
      "id": "3ec41697.009aaa",
      "type": "http in",
      "z": "f2e171af.06e6",
      "name": "",
      "url": "/vault",
      "method": "delete",
      "swaggerDoc": "",
      "x": 126,
      "y": 256,
      "wires": [
        [
          "ea93eea.8e6501"
        ]
      ]
    },
    {
      "id": "ea93eea.8e6501",
      "type": "function",
      "z": "f2e171af.06e6",
      "name": "Prep Request",
      "func": "msg.key = msg.req.query.key;\nmsg.topic = 'minus:vault_secret';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 311.94444274902344,
      "y": 255.33334350585938,
      "wires": [
        [
          "1cebe2dd.8b6d9d"
        ]
      ]
    }
  ]
}