blueprints/neat-and-tidy/flows/r1/nr-tab-go-cd.flow
{
  "id": "335d0840.2d6f98",
  "label": "Go.CD",
  "nodes": [
    {
      "id": "f1eff82e.669eb8",
      "type": "websocket in",
      "z": "335d0840.2d6f98",
      "name": "Go.CD Listener",
      "server": "",
      "client": "692f4929.e69968",
      "x": 122.5,
      "y": 110,
      "wires": [
        [
          "73b83f6b.fddcc",
          "9a02eba1.c6e438",
          "cc669faf.2e0c7"
        ]
      ]
    },
    {
      "id": "73b83f6b.fddcc",
      "type": "debug",
      "z": "335d0840.2d6f98",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "false",
      "x": 340.5,
      "y": 110,
      "wires": [

      ]
    },
    {
      "id": "9a02eba1.c6e438",
      "type": "file",
      "z": "335d0840.2d6f98",
      "name": "",
      "filename": "/home/pm2user/nodered-gocd-events.log",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "false",
      "x": 404.5,
      "y": 194,
      "wires": [

      ]
    },
    {
      "id": "1121eaa0.f82f15",
      "type": "function",
      "z": "335d0840.2d6f98",
      "name": "",
      "func": "msg.payload = JSON.stringify(msg.payload, null, 3);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 298.5,
      "y": 271,
      "wires": [
        [
          "242fd676.a865aa"
        ]
      ]
    },
    {
      "id": "242fd676.a865aa",
      "type": "file",
      "z": "335d0840.2d6f98",
      "name": "",
      "filename": "/home/pm2user/nodered-gocd-last-message.log",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "true",
      "x": 568,
      "y": 273,
      "wires": [

      ]
    },
    {
      "id": "cc669faf.2e0c7",
      "type": "json",
      "z": "335d0840.2d6f98",
      "name": "",
      "x": 107.5,
      "y": 337,
      "wires": [
        [
          "1121eaa0.f82f15",
          "81733272.1a9bb",
          "9bc3721e.c859a"
        ]
      ]
    },
    {
      "id": "32b5a6b7.14515a",
      "type": "ui_gauge",
      "z": "335d0840.2d6f98",
      "name": "",
      "group": "316384a.3cbc27c",
      "order": 0,
      "width": "0",
      "height": "0",
      "gtype": "donut",
      "title": "Gauge",
      "label": "units",
      "format": "{{value}}",
      "min": 0,
      "max": 10,
      "colors": [
        "#00b500",
        "#e6e600",
        "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 635.5,
      "y": 440,
      "wires": [

      ]
    },
    {
      "id": "88628d35.1eb35",
      "type": "counter",
      "z": "335d0840.2d6f98",
      "name": "",
      "init": "0",
      "step": "1",
      "lower": null,
      "upper": null,
      "mode": "increment",
      "outputs": "1",
      "x": 341.5,
      "y": 383,
      "wires": [
        [
          "eaab624.57135a"
        ]
      ]
    },
    {
      "id": "eaab624.57135a",
      "type": "function",
      "z": "335d0840.2d6f98",
      "name": "",
      "func": "msg.payload = msg.count;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 476.5,
      "y": 438,
      "wires": [
        [
          "32b5a6b7.14515a",
          "485816f6.9ff968",
          "110c8355.83f85d"
        ]
      ]
    },
    {
      "id": "485816f6.9ff968",
      "type": "ui_chart",
      "z": "335d0840.2d6f98",
      "name": "",
      "group": "813d2a41.9c0228",
      "order": 0,
      "width": "0",
      "height": "0",
      "label": "chart",
      "chartType": "pie",
      "legend": "true",
      "xformat": "HH:mm:ss",
      "interpolate": "linear",
      "nodata": "",
      "ymin": "",
      "ymax": "",
      "removeOlder": 1,
      "removeOlderPoints": "",
      "removeOlderUnit": "3600",
      "cutout": 0,
      "colors": [
        "#1f77b4",
        "#aec7e8",
        "#ff7f0e",
        "#2ca02c",
        "#98df8a",
        "#d62728",
        "#ff9896",
        "#9467bd",
        "#c5b0d5"
      ],
      "x": 544.5,
      "y": 369,
      "wires": [
        [
          "9040ebeb.a4c0a8"
        ],
        [

        ]
      ]
    },
    {
      "id": "81733272.1a9bb",
      "type": "function",
      "z": "335d0840.2d6f98",
      "name": "",
      "func": "msg.topic = msg.payload.pipeline.stage.name + ' | ' + msg.payload.pipeline.stage.state;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 236.5,
      "y": 446,
      "wires": [
        [
          "88628d35.1eb35"
        ]
      ]
    },
    {
      "id": "110c8355.83f85d",
      "type": "ui_chart",
      "z": "335d0840.2d6f98",
      "name": "",
      "group": "ccd5aecb.3b7e9",
      "order": 0,
      "width": "0",
      "height": "0",
      "label": "chart time",
      "chartType": "line",
      "legend": "false",
      "xformat": "HH:mm:ss",
      "interpolate": "linear",
      "nodata": "",
      "ymin": "",
      "ymax": "",
      "removeOlder": 1,
      "removeOlderPoints": "",
      "removeOlderUnit": "3600",
      "cutout": 0,
      "colors": [
        "#1f77b4",
        "#aec7e8",
        "#ff7f0e",
        "#2ca02c",
        "#98df8a",
        "#d62728",
        "#ff9896",
        "#9467bd",
        "#c5b0d5"
      ],
      "x": 555.5,
      "y": 516,
      "wires": [
        [

        ],
        [

        ]
      ]
    },
    {
      "id": "9040ebeb.a4c0a8",
      "type": "debug",
      "z": "335d0840.2d6f98",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "true",
      "x": 664.5,
      "y": 371,
      "wires": [

      ]
    },
    {
      "id": "278a0945.6ceb96",
      "type": "template",
      "z": "335d0840.2d6f98",
      "name": "Build Document",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"@timestamp\":\"{{payload.ts}}\",\n    \"group\":\"{{payload.pipeline.group}}\",\n    \"counter\":\"{{payload.pipeline.counter}}\",\n    \"stage\":\"{{payload.pipeline.stage.name}}\",\n    \"state\":\"{{payload.pipeline.stage.state}}\",\n    \"lastTransition\":\"{{payload.lastts}}\",\n    \"message\":\"{{payload.pipeline.name}}\",\n    \"label\":\"{{payload.x-pipeline-instance-details.label}}\",\n    \"pipeline\":\"{{payload.pipeline.name}}\"\n}\n",
      "x": 292.5,
      "y": 590,
      "wires": [
        [
          "99ea2151.2c8c3",
          "6039f470.059b3c",
          "a5412047.455f9"
        ]
      ]
    },
    {
      "id": "6039f470.059b3c",
      "type": "es-create",
      "z": "335d0840.2d6f98",
      "name": "",
      "documentIndex": "ecosystem",
      "documentType": "new",
      "server": "c636bc4a.a28ab",
      "x": 524.5,
      "y": 590,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "99ea2151.2c8c3",
      "type": "debug",
      "z": "335d0840.2d6f98",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 484.5,
      "y": 626,
      "wires": [

      ]
    },
    {
      "id": "9bc3721e.c859a",
      "type": "function",
      "z": "335d0840.2d6f98",
      "name": "Set TS",
      "func": "\nvar lastts = msg.payload.pipeline.stage['last-transition-time'];\nvar ts = msg.payload.pipeline.stage['create-time'];\nts = ts.substr(0, ts.indexOf('.'));\nmsg.payload.ts = ts;\nmsg.payload.lastts = lastts;\nmsg.documentId = msg._msgid;\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 127.5,
      "y": 590,
      "wires": [
        [
          "278a0945.6ceb96"
        ]
      ]
    },
    {
      "id": "c78f054d.0b5938",
      "type": "catch",
      "z": "335d0840.2d6f98",
      "name": "",
      "scope": null,
      "x": 204.5,
      "y": 518,
      "wires": [
        [
          "80fb0b03.7d4a28"
        ]
      ]
    },
    {
      "id": "80fb0b03.7d4a28",
      "type": "debug",
      "z": "335d0840.2d6f98",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 357.5,
      "y": 516,
      "wires": [

      ]
    },
    {
      "id": "ab8a608f.dfdef",
      "type": "switch",
      "z": "335d0840.2d6f98",
      "name": "",
      "property": "payload.state",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "Building",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Passed",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Failed",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Cancelled",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "outputs": 5,
      "x": 447.5,
      "y": 692,
      "wires": [
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b"
        ],
        [
          "50f4be4e.a912b"
        ]
      ]
    },
    {
      "id": "4416833c.84bd9c",
      "type": "subflow:459ae946.b59388",
      "z": "335d0840.2d6f98",
      "x": 820.5,
      "y": 688,
      "wires": [
        [

        ]
      ],
      "subflow": "459ae946.b59388"
    },
    {
      "id": "50f4be4e.a912b",
      "type": "function",
      "z": "335d0840.2d6f98",
      "name": "",
      "func": "p = msg.payload;\nmsg.channel = 'general';\nmsg.payload = \"Pipeline \" + p.pipeline +  \" for stage \" + p.stage + \" \" + p.state + \" (\" + p.label +\")\";\n\nmsg.topic = 'send-message';\nmsg.payload = {\n    \"text\": msg.payload\n};\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 600.5,
      "y": 689,
      "wires": [
        [
          "4416833c.84bd9c"
        ]
      ]
    },
    {
      "id": "a5412047.455f9",
      "type": "json",
      "z": "335d0840.2d6f98",
      "name": "",
      "x": 297.5,
      "y": 693,
      "wires": [
        [
          "ab8a608f.dfdef"
        ]
      ]
    }
  ]
}