blueprints/neat-and-tidy/flows/r1/nr-tab-webhooks.flow
{
  "id": "c6d6dfa5.18623",
  "label": "WebHooks",
  "nodes": [
    {
      "id": "ccc1c6b1.6acc78",
      "type": "http in",
      "z": "c6d6dfa5.18623",
      "name": "",
      "url": "/webhook",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 241.5,
      "y": 62,
      "wires": [
        [
          "d2274c5a.befc7",
          "af58491a.1ed538",
          "b8475dfa.ebead"
        ]
      ]
    },
    {
      "id": "d2274c5a.befc7",
      "type": "debug",
      "z": "c6d6dfa5.18623",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 462.5,
      "y": 63,
      "wires": [

      ]
    },
    {
      "id": "22041553.68d4fa",
      "type": "subflow:459ae946.b59388",
      "z": "c6d6dfa5.18623",
      "x": 580,
      "y": 140,
      "wires": [
        [

        ]
      ],
      "subflow": "459ae946.b59388"
    },
    {
      "id": "af58491a.1ed538",
      "type": "function",
      "z": "c6d6dfa5.18623",
      "name": "",
      "func": "p = msg.payload;\nmsg.channel = 'general';\n\nmsg.payload = \"Source Control Event \" + p.repository.full_name;\n\ncolor = '#ff00ff';\n\ntextmsgs = [\n    \"**> \" + p.repository.full_name + '**',\n    \"**> \" + p.ref + '**',\n    \"Before: **\" + p.before.slice(0,10) + '**',\n    \"After:  **\" + p.after.slice(0,10) + '**\\n'\n];\n\np.commits.map((e) => {\n    textmsgs.push (e.message)\n    textmsgs.push ('Modified='+e.modified.length +', Added='+e.added.length +', Removed=' + e.removed.length + '\\n');\n});\n\nmsg.topic = 'send-message';\nmsg.payload = {\n    \"text\": msg.payload,\n    \"avatar\": \"https://es0390.canzea.cc/images/canzea_gw_icon_es.svg\",\n    \"attachments\": [{\n        \"color\": color,\n        \"text\": textmsgs.join('\\n')\n    }]\n};\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 360,
      "y": 141,
      "wires": [
        [
          "22041553.68d4fa"
        ]
      ]
    },
    {
      "id": "b8475dfa.ebead",
      "type": "http response",
      "z": "c6d6dfa5.18623",
      "name": "",
      "statusCode": "",
      "headers": {
      },
      "x": 466.5,
      "y": 26,
      "wires": [

      ]
    }
  ]
}