blueprints/neat-and-tidy/flows/r1/nr-tab-policies.flow
{
  "id": "49ef0b6f.1b1534",
  "label": "Policies",
  "nodes": [
    {
      "id": "c01ca7a.c94cd58",
      "type": "subflow:fcb37b93.778448",
      "z": "49ef0b6f.1b1534",
      "x": 505.5,
      "y": 173,
      "wires": [
        [
          "f3a8d513.86a288"
        ]
      ],
      "subflow": "fcb37b93.778448"
    },
    {
      "id": "75153709.148b78",
      "type": "function",
      "z": "49ef0b6f.1b1534",
      "name": "get-policies",
      "func": "msg.topic = 'get-policies'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 332.5,
      "y": 94,
      "wires": [
        [
          "c01ca7a.c94cd58"
        ]
      ]
    },
    {
      "id": "be1cb6b3.e92c58",
      "type": "http in",
      "z": "49ef0b6f.1b1534",
      "name": "",
      "url": "/policies",
      "method": "get",
      "swaggerDoc": "",
      "x": 100.5,
      "y": 93,
      "wires": [
        [
          "75153709.148b78"
        ]
      ]
    },
    {
      "id": "f3a8d513.86a288",
      "type": "http response",
      "z": "49ef0b6f.1b1534",
      "name": "",
      "x": 642.5,
      "y": 173,
      "wires": [

      ]
    },
    {
      "id": "65c7d186.e56a7",
      "type": "function",
      "z": "49ef0b6f.1b1534",
      "name": "get-policy",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'get-policy'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 324,
      "y": 145,
      "wires": [
        [
          "c01ca7a.c94cd58"
        ]
      ]
    },
    {
      "id": "80ee00a4.17989",
      "type": "http in",
      "z": "49ef0b6f.1b1534",
      "name": "",
      "url": "/policy/:id",
      "method": "get",
      "swaggerDoc": "",
      "x": 112,
      "y": 144,
      "wires": [
        [
          "65c7d186.e56a7"
        ]
      ]
    },
    {
      "id": "9624f510.f7f788",
      "type": "function",
      "z": "49ef0b6f.1b1534",
      "name": "put-policy",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'put-policy'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 323,
      "y": 195,
      "wires": [
        [
          "c01ca7a.c94cd58"
        ]
      ]
    },
    {
      "id": "be0363e.67f55a",
      "type": "http in",
      "z": "49ef0b6f.1b1534",
      "name": "",
      "url": "/policy/:id",
      "method": "put",
      "swaggerDoc": "",
      "x": 111,
      "y": 194,
      "wires": [
        [
          "9624f510.f7f788"
        ]
      ]
    },
    {
      "id": "d5ba39ca.671d78",
      "type": "function",
      "z": "49ef0b6f.1b1534",
      "name": "delete-policy",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'delete-policy'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 332,
      "y": 245,
      "wires": [
        [
          "c01ca7a.c94cd58"
        ]
      ]
    },
    {
      "id": "421bcef2.29f03",
      "type": "http in",
      "z": "49ef0b6f.1b1534",
      "name": "",
      "url": "/policy/:id",
      "method": "delete",
      "swaggerDoc": "",
      "x": 119,
      "y": 245,
      "wires": [
        [
          "d5ba39ca.671d78"
        ]
      ]
    },
    {
      "id": "1ef0db6e.0e38a5",
      "type": "http in",
      "z": "49ef0b6f.1b1534",
      "name": "",
      "url": "/users",
      "method": "get",
      "swaggerDoc": "",
      "x": 101,
      "y": 299,
      "wires": [
        [
          "4160b23d.efd4ac"
        ]
      ]
    },
    {
      "id": "4160b23d.efd4ac",
      "type": "function",
      "z": "49ef0b6f.1b1534",
      "name": "get-users",
      "func": "msg.topic = 'get-users'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 322,
      "y": 291,
      "wires": [
        [
          "c01ca7a.c94cd58"
        ]
      ]
    }
  ]
}