blueprints/distributed-ledgers/flows/r1/nr-tab-vars.flow
{
  "id": "9f54417b.7eb3a",
  "label": "VARS",
  "nodes": [
    {
      "id": "9d10fd85.4d413",
      "type": "inject",
      "z": "9f54417b.7eb3a",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 131.5,
      "y": 194,
      "wires": [
        [
          "c88d8361.91a9d"
        ]
      ]
    },
    {
      "id": "65cf8ef3.29e59",
      "type": "vars",
      "z": "9f54417b.7eb3a",
      "name": "VAULT",
      "property": "payload",
      "propertyType": {
        "context": {
          "location": {
            "href": "https://esdade.canzea.cc/gwadmin/#flow/8d16e131.e7aad",
            "ancestorOrigins": {
            },
            "origin": "https://esdade.canzea.cc",
            "protocol": "https:",
            "host": "esdade.canzea.cc",
            "hostname": "esdade.canzea.cc",
            "port": "",
            "pathname": "/gwadmin/",
            "search": "",
            "hash": "#flow/8d16e131.e7aad"
          },
          "jQuery111306105483551972906": 1
        },
        "selector": "#node-input-property"
      },
      "rules": [
        {
          "t": "secret",
          "v": "digitalocean",
          "vt": "str"
        },
        {
          "t": "secret",
          "v": "payload.key",
          "vt": "msg"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "tls": "94073df5.ac54f",
      "url": "https://vault.service.dc1.consul:8200",
      "x": 350,
      "y": 200,
      "wires": [
        [
          "eccc3f5b.8f9d4"
        ]
      ]
    },
    {
      "id": "eccc3f5b.8f9d4",
      "type": "debug",
      "z": "9f54417b.7eb3a",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 530,
      "y": 200,
      "wires": [

      ]
    },
    {
      "id": "835f305a.f2f83",
      "type": "inject",
      "z": "9f54417b.7eb3a",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 129,
      "y": 287,
      "wires": [
        [
          "64fca6f1.0e0128"
        ]
      ]
    },
    {
      "id": "3d57f7bf.77ce68",
      "type": "vars",
      "z": "9f54417b.7eb3a",
      "name": "CONSUL",
      "property": "payload",
      "propertyType": {
        "context": {
          "location": {
            "href": "https://esdade.canzea.cc/gwadmin/#flow/cc909323.1bc6b",
            "ancestorOrigins": {
            },
            "origin": "https://esdade.canzea.cc",
            "protocol": "https:",
            "host": "esdade.canzea.cc",
            "hostname": "esdade.canzea.cc",
            "port": "",
            "pathname": "/gwadmin/",
            "search": "",
            "hash": "#flow/cc909323.1bc6b"
          },
          "jQuery11130187427721003254": 1
        },
        "selector": "#node-input-property"
      },
      "rules": [
        {
          "t": "service",
          "v": "payload.key",
          "vt": "msg"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "tls": "c792be07.29d4",
      "url": "https://consul.service.dc1.consul:8080",
      "x": 385.5,
      "y": 285,
      "wires": [
        [
          "1f4418c4.21bb77"
        ]
      ]
    },
    {
      "id": "1f4418c4.21bb77",
      "type": "debug",
      "z": "9f54417b.7eb3a",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 538.5,
      "y": 286,
      "wires": [

      ]
    },
    {
      "id": "c88d8361.91a9d",
      "type": "function",
      "z": "9f54417b.7eb3a",
      "name": "",
      "func": "msg.payload = {key:'ABC'}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 309.5,
      "y": 113,
      "wires": [
        [
          "65cf8ef3.29e59"
        ]
      ]
    },
    {
      "id": "64fca6f1.0e0128",
      "type": "function",
      "z": "9f54417b.7eb3a",
      "name": "",
      "func": "msg.payload = {key:'grafana'}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 254,
      "y": 350,
      "wires": [
        [
          "3d57f7bf.77ce68"
        ]
      ]
    }
  ]
}