blueprints/web-services/flows/r3/nr-tab-pipelines.flow
{
  "id": "ccd74192.43cbf",
  "label": "Pipelines",
  "nodes": [
    {
      "id": "61969da4.8edb94",
      "type": "inject",
      "z": "ccd74192.43cbf",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 98.5,
      "y": 75,
      "wires": [
        [
          "28217028.172f7"
        ]
      ]
    },
    {
      "id": "c8126364.1cb8e",
      "type": "debug",
      "z": "ccd74192.43cbf",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 642.5,
      "y": 299,
      "wires": [

      ]
    },
    {
      "id": "8fc128bd.21b498",
      "type": "function",
      "z": "ccd74192.43cbf",
      "name": "Prepare",
      "func": "pl = msg.payload;\nname = pl.name;\nmsg0 = {\"payload\":{\"name\":name}, \"filename\":\"/tmp/environments-\" + name + \".json\"};\nmsg.env = {\"CONSUL_URL\": \"https://consul.service.dc1.consul:8080\"};\nmsg.payload = \"--lifecycle=wire --solution=gocd --action=post-object-v1 --args='{\\\"type\\\":\\\"environments\\\",\\\"name\\\":\\\"\" + name + \"\\\"}'\";\nreturn [msg0, msg, msg];\n\n",
      "outputs": "3",
      "noerr": 0,
      "x": 306.5,
      "y": 318,
      "wires": [
        [
          "420bc8b4.e9d448"
        ],
        [
          "d57f1c76.303a3",
          "5855d25f.abab8c"
        ],
        [

        ]
      ]
    },
    {
      "id": "420bc8b4.e9d448",
      "type": "file",
      "z": "ccd74192.43cbf",
      "name": "Prepare payload",
      "filename": "",
      "appendNewline": false,
      "createDir": false,
      "overwriteFile": "true",
      "x": 534.5,
      "y": 203,
      "wires": [

      ]
    },
    {
      "id": "784c37e0.cd2508",
      "type": "http in",
      "z": "ccd74192.43cbf",
      "name": "",
      "url": "/environments",
      "method": "post",
      "swaggerDoc": "",
      "x": 137.5,
      "y": 489,
      "wires": [
        [
          "3a6715f4.074efa",
          "314c7d76.abef02"
        ]
      ]
    },
    {
      "id": "28217028.172f7",
      "type": "function",
      "z": "ccd74192.43cbf",
      "name": "Default",
      "func": "msg.payload = {'name':'test100'};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 237.5,
      "y": 75,
      "wires": [
        [
          "8fc128bd.21b498"
        ]
      ]
    },
    {
      "id": "314c7d76.abef02",
      "type": "json-schema",
      "z": "ccd74192.43cbf",
      "name": "",
      "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"Environment\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"name\": {\n            \"description\": \"Name of the environment\",\n            \"type\": \"string\"\n        }\n    },\n    \"required\": [\"name\"]\n}",
      "x": 373.5,
      "y": 489,
      "wires": [
        [
          "8fc128bd.21b498"
        ]
      ]
    },
    {
      "id": "ce5c09bd.545018",
      "type": "comment",
      "z": "ccd74192.43cbf",
      "name": "curl -H \"Authorization: Bearer 33ef854766b61e7901ddc1c41f2fee8f693aa423\" -X POST https://escd27.canzea.cc/gw/api/environments --data 'name=dude5'",
      "info": "",
      "x": 550.5,
      "y": 682,
      "wires": [

      ]
    },
    {
      "id": "b8c2183d.343988",
      "type": "http response",
      "z": "ccd74192.43cbf",
      "name": "",
      "x": 987.5,
      "y": 364,
      "wires": [

      ]
    },
    {
      "id": "3a6715f4.074efa",
      "type": "debug",
      "z": "ccd74192.43cbf",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 347,
      "y": 546,
      "wires": [

      ]
    },
    {
      "id": "58e09871.0576a8",
      "type": "switch",
      "z": "ccd74192.43cbf",
      "name": "",
      "property": "control.state",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "start",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "running",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "error",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "end",
          "vt": "str"
        }
      ],
      "checkall": "false",
      "outputs": 4,
      "x": 667.5,
      "y": 384,
      "wires": [
        [

        ],
        [

        ],
        [
          "645c70a3.6df13"
        ],
        [
          "98ff3e98.c461f"
        ]
      ]
    },
    {
      "id": "645c70a3.6df13",
      "type": "function",
      "z": "ccd74192.43cbf",
      "name": "Error",
      "func": "msg.payload = \"ERROR \" + JSON.stringify(msg.error ? msg.error : msg.control);\nmsg.statusCode = 500;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 819.5,
      "y": 294,
      "wires": [
        [
          "b8c2183d.343988"
        ]
      ]
    },
    {
      "id": "98ff3e98.c461f",
      "type": "function",
      "z": "ccd74192.43cbf",
      "name": "Success",
      "func": "msg.payload = null;\nmsg.statusCode = 200;\nmsg.topic = 'result';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 814,
      "y": 462,
      "wires": [
        [
          "b8c2183d.343988"
        ]
      ]
    },
    {
      "id": "d57f1c76.303a3",
      "type": "debug",
      "z": "ccd74192.43cbf",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 490,
      "y": 378,
      "wires": [

      ]
    },
    {
      "id": "5855d25f.abab8c",
      "type": "bigexec",
      "z": "ccd74192.43cbf",
      "name": "",
      "command": "/home/pm2user/canzea.sh",
      "commandArgs": "",
      "minError": 1,
      "minWarning": 1,
      "cwd": "/tmp",
      "shell": "",
      "extraArgumentProperty": "",
      "envProperty": "",
      "format": "utf8",
      "limiter": true,
      "payloadIs": "argumentNoStdin",
      "x": 480.5,
      "y": 299.5,
      "wires": [
        [
          "c8126364.1cb8e"
        ],
        [
          "c8126364.1cb8e",
          "58e09871.0576a8"
        ],
        [
          "c8126364.1cb8e"
        ]
      ]
    },
    {
      "id": "8150aca.da6695",
      "type": "catch",
      "z": "ccd74192.43cbf",
      "name": "",
      "scope": null,
      "x": 675.5,
      "y": 147,
      "wires": [
        [
          "645c70a3.6df13"
        ]
      ]
    }
  ]
}
