blueprints/web-services/flows/r3/nr-tab-hello-world.flow
{
  "id": "9461622e.16756",
  "label": "Hello World",
  "nodes": [
    {
      "id": "a7d9dd62.50bbc",
      "type": "http in",
      "z": "9461622e.16756",
      "name": "",
      "url": "/bounce",
      "method": "post",
      "swaggerDoc": "",
      "x": 110,
      "y": 80,
      "wires": [
        [
          "cdea1387.fb334"
        ]
      ]
    },
    {
      "id": "cdea1387.fb334",
      "type": "function",
      "z": "9461622e.16756",
      "name": "",
      "func": "msg.payload = \"hi\"\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 330,
      "y": 80,
      "wires": [
        [
          "20526f0f.db87c"
        ]
      ]
    },
    {
      "id": "20526f0f.db87c",
      "type": "http response",
      "z": "9461622e.16756",
      "name": "",
      "x": 510,
      "y": 80,
      "wires": [

      ]
    }
  ]
}
