blueprints/web-services/flows/r3/nr-tab-picture.flow
{
  "id": "97e91db9.4c02a",
  "label": "Picture",
  "nodes": [
    {
      "id": "c9b53b9d.9544f8",
      "type": "open-web",
      "z": "97e91db9.4c02a",
      "name": "",
      "browser": "chrome",
      "weburl": "https://ese00c.canzea.cc/grafana/dashboard/db/api-gateway?refresh=10s&orgId=1",
      "width": 1024,
      "height": 768,
      "webtitle": "Grafana",
      "timeout": 3000,
      "maximized": true,
      "server": "a0ccc8b4.4e82d8",
      "x": 240.55555555555554,
      "y": 181.11111111111111,
      "wires": [
        [
          "7a4f8fea.db15"
        ]
      ]
    },
    {
      "id": "8008fc84.20684",
      "type": "inject",
      "z": "97e91db9.4c02a",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 113.88888888888889,
      "y": 106.66666666666666,
      "wires": [
        [
          "c9b53b9d.9544f8"
        ]
      ]
    },
    {
      "id": "7a4f8fea.db15",
      "type": "screenshot",
      "z": "97e91db9.4c02a",
      "name": "",
      "filename": "/home/pm2user/screen.png",
      "selector": "tagName",
      "target": "body",
      "timeout": 1000,
      "waitfor": "5000",
      "x": 442.77777777777777,
      "y": 176.66666666666666,
      "wires": [
        [
          "74823590.acc36c"
        ]
      ]
    },
    {
      "id": "74823590.acc36c",
      "type": "debug",
      "z": "97e91db9.4c02a",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 622.22216796875,
      "y": 190,
      "wires": [

      ]
    },
    {
      "id": "edc454e7.32f858",
      "type": "http in",
      "z": "97e91db9.4c02a",
      "name": "",
      "url": "/screen",
      "method": "get",
      "swaggerDoc": "",
      "x": 193.88888888888889,
      "y": 362.22222222222223,
      "wires": [
        [
          "1d987989.28d666"
        ]
      ]
    },
    {
      "id": "b7ebc36a.dc498",
      "type": "http response",
      "z": "97e91db9.4c02a",
      "name": "",
      "x": 688.333324432373,
      "y": 363.3333206176757,
      "wires": [

      ]
    },
    {
      "id": "1d987989.28d666",
      "type": "file in",
      "z": "97e91db9.4c02a",
      "name": "",
      "filename": "/home/pm2user/screen.png",
      "format": "",
      "x": 448.3333333333333,
      "y": 364.44444444444446,
      "wires": [
        [
          "b7ebc36a.dc498"
        ]
      ]
    }
  ]
}
