blueprints/web-services/flows/r3/nr-tab-secrets.flow
{
  "id": "85f1236c.4c39b",
  "label": "Secrets",
  "nodes": [
    {
      "id": "523b9dbc.7d9504",
      "type": "subflow:d773a612.5b2d98",
      "z": "85f1236c.4c39b",
      "name": "",
      "x": 600,
      "y": 240,
      "wires": [
        [
          "b68ff2b9.07ee7"
        ]
      ],
      "subflow": "d773a612.5b2d98"
    },
    {
      "id": "b68ff2b9.07ee7",
      "type": "http response",
      "z": "85f1236c.4c39b",
      "name": "",
      "x": 737,
      "y": 240,
      "wires": [

      ]
    },
    {
      "id": "b1bf0e85.f8ee2",
      "type": "function",
      "z": "85f1236c.4c39b",
      "name": "get-secrets",
      "func": "msg.topic = 'get-secrets'\nmsg.key = msg.req.params.type;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 355.5,
      "y": 229,
      "wires": [
        [
          "523b9dbc.7d9504"
        ]
      ]
    },
    {
      "id": "3081011.43dcafe",
      "type": "http in",
      "z": "85f1236c.4c39b",
      "name": "",
      "url": "/secrets/:type",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 143.5,
      "y": 228,
      "wires": [
        [
          "b1bf0e85.f8ee2"
        ]
      ]
    },
    {
      "id": "a161bd61.a3d3f",
      "type": "catch",
      "z": "85f1236c.4c39b",
      "name": "",
      "scope": null,
      "x": 380,
      "y": 500,
      "wires": [
        [
          "c1a8422c.c04bc",
          "b68ff2b9.07ee7"
        ]
      ]
    },
    {
      "id": "c1a8422c.c04bc",
      "type": "debug",
      "z": "85f1236c.4c39b",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 621,
      "y": 512,
      "wires": [

      ]
    },
    {
      "id": "cc261194.9a5be",
      "type": "function",
      "z": "85f1236c.4c39b",
      "name": "get-secret",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'check:vault_secret'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 355.5,
      "y": 269,
      "wires": [
        [
          "523b9dbc.7d9504"
        ]
      ]
    },
    {
      "id": "a394dfc3.6633c",
      "type": "http in",
      "z": "85f1236c.4c39b",
      "name": "",
      "url": "/secret/:id",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 133.5,
      "y": 263,
      "wires": [
        [
          "cc261194.9a5be"
        ]
      ]
    },
    {
      "id": "8047b94f.7e4a28",
      "type": "function",
      "z": "85f1236c.4c39b",
      "name": "put-secret",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'plus:vault_secret'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 362.5,
      "y": 318,
      "wires": [
        [
          "523b9dbc.7d9504"
        ]
      ]
    },
    {
      "id": "4fcee91c.899a78",
      "type": "http in",
      "z": "85f1236c.4c39b",
      "name": "",
      "url": "/secret/:id",
      "method": "put",
      "upload": false,
      "swaggerDoc": "",
      "x": 140.5,
      "y": 317,
      "wires": [
        [
          "8047b94f.7e4a28"
        ]
      ]
    },
    {
      "id": "6fe23942.11eb28",
      "type": "function",
      "z": "85f1236c.4c39b",
      "name": "delete-secret",
      "func": "msg.key = msg.req.params.id;\nmsg.topic = 'minus:vault_secret'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 363.5,
      "y": 368,
      "wires": [
        [
          "523b9dbc.7d9504"
        ]
      ]
    },
    {
      "id": "4be0fdae.ccc044",
      "type": "http in",
      "z": "85f1236c.4c39b",
      "name": "",
      "url": "/secret/:id",
      "method": "delete",
      "upload": false,
      "swaggerDoc": "",
      "x": 151.5,
      "y": 367,
      "wires": [
        [
          "6fe23942.11eb28"
        ]
      ]
    },
    {
      "id": "440ec897.602dd8",
      "type": "http in",
      "z": "85f1236c.4c39b",
      "name": "",
      "url": "/secrets",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 120,
      "y": 160,
      "wires": [
        [
          "3bc74794.75aee8"
        ]
      ]
    },
    {
      "id": "3bc74794.75aee8",
      "type": "function",
      "z": "85f1236c.4c39b",
      "name": "get-secrets",
      "func": "msg.topic = 'get-secrets'\nmsg.key = \"\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 370,
      "y": 160,
      "wires": [
        [
          "523b9dbc.7d9504"
        ]
      ]
    }
  ]
}
