blocks/flows-gateway/upgrade-to-oidc/projects/keycloak/flow.json
[{"id":"4cee6645.cdfae8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee823e8c.4bce6","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"59945916.d41018","type":"mqtt in","z":"4cee6645.cdfae8","name":"","topic":"test","qos":"2","broker":"ee823e8c.4bce6","x":190,"y":220,"wires":[["b695a5d1.7b97c8"]]},{"id":"b695a5d1.7b97c8","type":"debug","z":"4cee6645.cdfae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":220,"wires":[]},{"id":"8e2f33bd.79f6c","type":"inject","z":"4cee6645.cdfae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["6eaf49fc.06fcc8"]]},{"id":"fa8632e9.6d783","type":"mqtt out","z":"4cee6645.cdfae8","name":"","topic":"test","qos":"","retain":"","broker":"ee823e8c.4bce6","x":380,"y":380,"wires":[]},{"id":"6eaf49fc.06fcc8","type":"function","z":"4cee6645.cdfae8","name":"","func":"msg.payload = \"Hi\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":440,"wires":[["fa8632e9.6d783"]]},{"id":"53c59360.a8713c","type":"inject","z":"4cee6645.cdfae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["6be34157.5e146"]]},{"id":"6be34157.5e146","type":"function","z":"4cee6645.cdfae8","name":"","func":"msg.payload = {\n    client_id: \"admin-cli\",\n    username: \"kcadmin\",\n    password: \"kcadmin#1\",\n    grant_type: \"password\"\n}\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["9526c4d2.f85908"]]},{"id":"9526c4d2.f85908","type":"http request","z":"4cee6645.cdfae8","name":"","method":"POST","ret":"obj","url":"https://identity.183118.xyz/auth/realms/master/protocol/openid-connect/token","tls":"","x":580,"y":100,"wires":[["73586e3c.51d3f"]]},{"id":"73586e3c.51d3f","type":"function","z":"4cee6645.cdfae8","name":"Set Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.payload.access_token\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["fc196809.79ca48","77ed0999.8650c8"]]},{"id":"fc196809.79ca48","type":"http request","z":"4cee6645.cdfae8","name":"","method":"GET","ret":"obj","url":"https://identity.183118.xyz/auth/admin/realms/ecosystem/clients","tls":"","x":770,"y":160,"wires":[["77ed0999.8650c8"]]},{"id":"77ed0999.8650c8","type":"debug","z":"4cee6645.cdfae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":220,"wires":[]}]