blueprints/neat-and-tidy/flows/r1.0/nr-tab-components.flow
{
  "id": "4f7f346c.f4389c",
  "label": "Components",
  "nodes": [
    {
      "id": "ef7d8a1d.9d3968",
      "type": "http in",
      "z": "4f7f346c.f4389c",
      "name": "",
      "url": "/components",
      "method": "post",
      "swaggerDoc": "",
      "x": 137,
      "y": 91,
      "wires": [
        [
          "f8cbf808.cfb9c8"
        ]
      ]
    },
    {
      "id": "f8cbf808.cfb9c8",
      "type": "json-schema",
      "z": "4f7f346c.f4389c",
      "name": "",
      "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"Component\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"name\": {\n            \"description\": \"Name of the component\",\n            \"type\": \"string\"\n        },\n        \"url\": {\n            \"description\": \"URL\",\n            \"type\": \"string\"\n        },\n        \"branch\": {\n            \"description\": \"Branch\",\n            \"type\": \"string\"\n        },\n        \"version\": {\n            \"description\": \"Current version on the branch\",\n            \"type\": \"string\"\n        }\n    },\n    \"required\": [\"name\", \"url\", \"branch\", \"version\"]\n}",
      "x": 383,
      "y": 91,
      "wires": [
        [
          "d934c3b0.c1072"
        ]
      ]
    },
    {
      "id": "b5e9cb35.52c2a8",
      "type": "subflow:ea5122d7.76e78",
      "z": "4f7f346c.f4389c",
      "x": 637.125,
      "y": 121,
      "wires": [
        [
          "2698baa5.ab36a6"
        ]
      ],
      "subflow": "ea5122d7.76e78"
    },
    {
      "id": "2698baa5.ab36a6",
      "type": "http response",
      "z": "4f7f346c.f4389c",
      "name": "",
      "x": 735.625,
      "y": 212,
      "wires": [

      ]
    },
    {
      "id": "e20ec5b3.387458",
      "type": "catch",
      "z": "4f7f346c.f4389c",
      "name": "",
      "scope": null,
      "x": 175.5,
      "y": 271,
      "wires": [
        [
          "2cc83ee2.394222"
        ]
      ]
    },
    {
      "id": "2cc83ee2.394222",
      "type": "function",
      "z": "4f7f346c.f4389c",
      "name": "Error",
      "func": "msg.payload = {\n    \"error\": (msg.error ? msg.error : msg.message)\n};\nmsg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 333,
      "y": 271,
      "wires": [
        [
          "2698baa5.ab36a6"
        ]
      ]
    },
    {
      "id": "13398b31.8d67e5",
      "type": "http in",
      "z": "4f7f346c.f4389c",
      "name": "",
      "url": "/analyze",
      "method": "post",
      "swaggerDoc": "",
      "x": 127,
      "y": 146,
      "wires": [
        [
          "323eb9b5.762b76",
          "1b6ace2c.0fd502"
        ]
      ]
    },
    {
      "id": "323eb9b5.762b76",
      "type": "json-schema",
      "z": "4f7f346c.f4389c",
      "name": "",
      "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"Component\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"name\": {\n            \"description\": \"Name of the component\",\n            \"type\": \"string\"\n        },\n        \"sourceRepo\": {\n            \"description\": \"URL\",\n            \"type\": \"string\"\n        },\n        \"branch\": {\n            \"description\": \"Branch\",\n            \"type\": \"string\"\n        },\n        \"credential_resource\": {\n            \"description\": \"Credentials for project.\",\n            \"type\": \"string\"\n        }\n    },\n    \"required\": [\"name\", \"sourceRepo\"]\n}",
      "x": 331,
      "y": 146,
      "wires": [
        [
          "cf8d2e6f.747d"
        ]
      ]
    },
    {
      "id": "cf8d2e6f.747d",
      "type": "function",
      "z": "4f7f346c.f4389c",
      "name": "",
      "func": "msg.topic = 'analyze-project';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 482.5,
      "y": 146,
      "wires": [
        [
          "b5e9cb35.52c2a8"
        ]
      ]
    },
    {
      "id": "d934c3b0.c1072",
      "type": "function",
      "z": "4f7f346c.f4389c",
      "name": "add-component",
      "func": "msg.topic = 'add-component';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 461,
      "y": 50,
      "wires": [
        [
          "b5e9cb35.52c2a8"
        ]
      ]
    },
    {
      "id": "1b6ace2c.0fd502",
      "type": "debug",
      "z": "4f7f346c.f4389c",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 296.5,
      "y": 187,
      "wires": [

      ]
    },
    {
      "id": "fd0889cf.48ed78",
      "type": "http in",
      "z": "4f7f346c.f4389c",
      "name": "",
      "url": "/all_components",
      "method": "get",
      "swaggerDoc": "",
      "x": 150,
      "y": 420,
      "wires": [
        [
          "19fcc784.487d28"
        ]
      ]
    },
    {
      "id": "19fcc784.487d28",
      "type": "function",
      "z": "4f7f346c.f4389c",
      "name": "list-components",
      "func": "msg.payload = {\"key\" : 'components?recurse=true'}\nmsg.topic = 'list-components'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 357,
      "y": 499,
      "wires": [
        [
          "c9e33065.9f497"
        ]
      ]
    },
    {
      "id": "c9e33065.9f497",
      "type": "subflow:a6b9a798.463af8",
      "z": "4f7f346c.f4389c",
      "x": 537,
      "y": 499,
      "wires": [
        [
          "9f408973.e3c128"
        ]
      ],
      "subflow": "a6b9a798.463af8"
    },
    {
      "id": "a32a621d.11e1a",
      "type": "http response",
      "z": "4f7f346c.f4389c",
      "name": "",
      "x": 724,
      "y": 499,
      "wires": [

      ]
    },
    {
      "id": "9f408973.e3c128",
      "type": "function",
      "z": "4f7f346c.f4389c",
      "name": "Parse",
      "func": "p = msg.payload\n\nif (msg.statusCode == 200) {\n    \n    out = {};\n    for ( var i = 0; i < p.length; i++) {\n        d = p[i];\n        val = Buffer.from(\"\"+d['Value'], 'base64').toString('utf8');\n    \n        keys = d.Key.split('/')\n        node = out;\n        for ( var k = 0; k < keys.length - 1; k++) {\n            if (node.hasOwnProperty(keys[k])) {\n                node = node[keys[k]];\n            } else {\n                node = node[keys[k]] = {}\n            }\n        }\n        node[keys[keys.length-1]] = val;\n    }\n}\n\nmsg.payload = out\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 728,
      "y": 441,
      "wires": [
        [
          "a32a621d.11e1a",
          "29e31c9d.a0cdd4"
        ]
      ]
    },
    {
      "id": "29e31c9d.a0cdd4",
      "type": "debug",
      "z": "4f7f346c.f4389c",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 762.5,
      "y": 553,
      "wires": [

      ]
    }
  ]
}