blueprints/microservices/flows/r1/global-subflow-versioning.flow
{
  "id": "cfce5daf.36867",
  "type": "subflow",
  "name": "Versioning",
  "info": "",
  "in": [
    {
      "x": 67,
      "y": 50,
      "wires": [
        {
          "id": "b208c042.9883c"
        }
      ]
    }
  ],
  "out": [
    {
      "x": 1145,
      "y": 278,
      "wires": [
        {
          "id": "97def39a.c6821",
          "port": 0
        },
        {
          "id": "8b4ccd03.63b6f",
          "port": 0
        },
        {
          "id": "e336eb48.cc1b78",
          "port": 0
        },
        {
          "id": "877c34dc.fb22f8",
          "port": 0
        }
      ]
    }
  ],
  "configs": [

  ],
  "nodes": [
    {
      "id": "39f65ba.c8c33a4",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Prep New Application",
      "func": "args = msg.payload;\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=new-application --args='\" + argsString + \"'\";\n\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 379,
      "y": 142,
      "wires": [
        [
          "55cf36b7.64ee48"
        ]
      ]
    },
    {
      "id": "55cf36b7.64ee48",
      "type": "bigexec",
      "z": "cfce5daf.36867",
      "name": "",
      "command": "/home/pm2user/canzea.sh",
      "commandArgs": "",
      "minError": 1,
      "minWarning": 1,
      "cwd": "/home/pm2user/.ecosystem-catalog/catalog",
      "shell": "",
      "extraArgumentProperty": "",
      "envProperty": "",
      "format": "utf8",
      "limiter": true,
      "payloadIs": "argumentNoStdin",
      "x": 646.5,
      "y": 222,
      "wires": [
        [

        ],
        [
          "d298e2e7.03682"
        ],
        [

        ]
      ]
    },
    {
      "id": "b28af2e.55eca1",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Prep Merge Develop",
      "func": "pl = msg.payload;\nname = pl.name;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=merge-develop --args='\" + argsString + \"'\";\n\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 394.5,
      "y": 251,
      "wires": [
        [
          "55cf36b7.64ee48"
        ]
      ]
    },
    {
      "id": "4e42501f.4bc4a",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Prep Finish",
      "func": "pl = msg.payload;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=finish --args='\" + argsString + \"'\";\n\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 367.5,
      "y": 305,
      "wires": [
        [
          "55cf36b7.64ee48"
        ]
      ]
    },
    {
      "id": "4a59b7b.19cba48",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Prep Cleanup",
      "func": "pl = msg.payload;\nname = pl.name;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=cleanup --args='\" + argsString + \"'\";\n\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 375.5,
      "y": 351,
      "wires": [
        [
          "55cf36b7.64ee48"
        ]
      ]
    },
    {
      "id": "35717101.a446fe",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Prep Create",
      "func": "pl = msg.payload;\n\nargs = {\n    \"type\": pl.type,\n    \"app\": pl.name,\n    \"url\": pl.url,\n    \"branch\": pl.branch\n};\n\nfunction replaceAll(str, find, replace) {\n  return str.replace(new RegExp(find, 'g'), replace);\n}\n\nargsString = replaceAll(JSON.stringify(args),'\"', '\"');\n\nmsg.payload = \"--lifecycle=wire --solution=branching --action=create --args='\" + argsString + \"'\";\n\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 352.5,
      "y": 194,
      "wires": [
        [
          "55cf36b7.64ee48"
        ]
      ]
    },
    {
      "id": "d298e2e7.03682",
      "type": "switch",
      "z": "cfce5daf.36867",
      "name": "",
      "property": "control.state",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "start",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "running",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "end",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "error",
          "vt": "str"
        }
      ],
      "checkall": "false",
      "outputs": 4,
      "x": 782,
      "y": 222,
      "wires": [
        [

        ],
        [

        ],
        [
          "e336eb48.cc1b78"
        ],
        [
          "8b4ccd03.63b6f"
        ]
      ]
    },
    {
      "id": "e336eb48.cc1b78",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Success",
      "func": "msg.payload = '';\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 941.5,
      "y": 215,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "8b4ccd03.63b6f",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Error",
      "func": "msg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 932,
      "y": 253,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "5383f2c9.36f0cc",
      "type": "catch",
      "z": "cfce5daf.36867",
      "name": "",
      "scope": null,
      "x": 908.5,
      "y": 363,
      "wires": [
        [
          "97def39a.c6821"
        ]
      ]
    },
    {
      "id": "97def39a.c6821",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Error",
      "func": "msg.payload = {\n    \"error\": msg.message\n};\nmsg.statusCode = 400;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1037,
      "y": 363,
      "wires": [
        [

        ]
      ]
    },
    {
      "id": "b208c042.9883c",
      "type": "switch",
      "z": "cfce5daf.36867",
      "name": "",
      "property": "topic",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "new",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "create",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "merge-develop",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "finish",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "cleanup",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "false",
      "outputs": 6,
      "x": 153,
      "y": 218,
      "wires": [
        [
          "39f65ba.c8c33a4"
        ],
        [
          "35717101.a446fe"
        ],
        [
          "b28af2e.55eca1"
        ],
        [
          "4e42501f.4bc4a"
        ],
        [
          "4a59b7b.19cba48"
        ],
        [
          "877c34dc.fb22f8"
        ]
      ]
    },
    {
      "id": "877c34dc.fb22f8",
      "type": "function",
      "z": "cfce5daf.36867",
      "name": "Error",
      "func": "msg.payload = 'Undefined topic' + msg.topic;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 588,
      "y": 492,
      "wires": [
        [

        ]
      ]
    }
  ]
}